[2014-12-05 15:15] blueyed opened #1 ""Ubuntu Mono derivative Powerline Plus Nerd File Types" does not work"
I've tried it both in gvim and terminal vim (URxvt), where it looks the same:

![selection_053](https://cloud.githubusercontent.com/assets/9766/5317735/d2d759aa-7c99-11e4-9e86-80590c4b0d42.png)

[2014-12-24 16:39] #1 closed, assigned to nobody

[2015-02-11 23:47] aliev opened #2 "Indent Line plugin"
can also add fonts that (for patched fonts) https://github.com/Yggdroot/indentLine#font-patching ?

[2015-02-13 21:12] ryanoasis commented on #2
That's interesting thanks. Should be possible to add to the patcher but I'll have to look into it

[2015-02-15 13:54] ryanoasis opened #3 "Fix c and c++ issues"
Font fixes and updates to coincide with https://github.com/ryanoasis/vim-webdevicons/issues/13

[2015-02-15 14:31] ryanoasis opened #4 "patch fixed/mono/non-variable fonts correctly (will fix certain terminal emulators)"
Fonts that are mono before patching should remain so after patching

terminals where the issue is apparent (not comprehensive):
- urxvt
- gnome terminal

issue links:
- ryanoasis/vim-webdevicons#11
- ryanoasis/vim-webdevicons#21

[2015-02-15 22:31] ryanoasis commented on #4
![selection_15_02_15_17 22 11_1160x736_001](https://cloud.githubusercontent.com/assets/8083459/6205330/63451b90-b538-11e4-9b5e-11f4d5c3afc8.png)

[2015-03-05 12:22] ryanoasis commented on #2
**update:** I did add this glyph to the branch i'm currently working on (not quiter ready for master). So far seems to be working well

[2015-03-09 22:14] ryanoasis commented on #2
working now as of: 6c6ef8ef0ca382efbd39bd709007e6ee8f64edbf

[2015-03-09 22:14] #2 closed

[2015-03-09 22:14] ryanoasis commented on #4
working now as of: 6c6ef8ef0ca382efbd39bd709007e6ee8f64edbf

[2015-03-09 22:14] #4 closed

[2015-03-09 22:14] ryanoasis commented on #3
working now as of: 6c6ef8ef0ca382efbd39bd709007e6ee8f64edbf

[2015-03-09 22:14] #3 closed

[2015-03-09 22:36] blueyed commented on #4
@ryanoasis
Thanks!  I'm looking forward to trying it.

I've noticed that there is "Mono" now twice in the font names, e.g. "Ubuntu Mono Plus Nerd File Types Mono"; maybe instead of the second "Mono" it should be "Single" - resulting in "Ubuntu Mono Plus Nerd File Types Single"?!

[2015-03-10 01:57] ryanoasis commented on #4
@blueyed yeah that is something I was aware of but I guess I thought of it in this context: original font + glyphs (patched). If the original font was mono I was just concatenating 'Plus Nerd File Types' and since it then ended up no longer being mono I thought I would append 'mono' to the "patched" part.

You make a good point though and I will definitely think about a better naming convention.

[2015-03-13 11:56] ryanoasis opened #6 "Detect and warn about unsupported (old) fontforge versions"
So far,

Seem to be working: `20141231`, `20150228`

Seem to **not** working: `20120731`

[2015-04-04 08:49] abl opened #7 "Licensing compliance"
Hi! It looks like you're distributing modified fonts. Some of them have licensing requirements that appear to not be met. A (non-exhaustive) list follows.

Anonymous (renamed to Anonymice?):
OFL - a copy of the copyright+license has to be included with all distributions. Modifications/originals must be released under the OFL.
http://www.marksimonson.com/fonts/view/anonymous-pro
http://scripts.sil.

[2015-04-06 15:00] ryanoasis commented on #7
Thanks for this. I will try to get this fixed soon

[2015-04-21 14:10] #6 closed

[2015-04-21 21:16] obxhdx opened #8 "Segmentation fault"
Hello! I'm trying to patch Inconsolata, but any parameter I give to `font-patcher` causes a seg fault. Below are the package versions I'm using. I'd appreciate if you could tell me if there's anything I'm missing.

[code]

[code]

[code]

[2015-04-21 22:20] ryanoasis commented on #8
@obxhdx hmm that is odd. Im using python 2.7.6 though I doubt that is causing anything.

Do you have the python fontforge module? It should be warning about that if not.

Seems like something else is going on...

I have actually been working on running the patcher for the remaining unpatched fonts. I will push it up soon if you want to grab Inconsolata from there

[2015-04-22 01:50] obxhdx commented on #8
Oh, cool. Thanks for the Inconsolata font!

FYI, I was trying the patcher on a Mac. At first I got the warning about the fontforge module, but installing it via homebrew was enough to get past that.

But well, Inconsolata is all I wanted. Thank you again.

[2015-04-22 18:04] adambiggs commented on #8
Just ran into this as well... Probably should be reopened.

I'm also using python `2.7.9` and the same version of fontforge, both installed via Homebrew on OSX.

[2015-04-22 22:27] ryanoasis commented on #8
Hmm probably will need some help on this one.

Did a fresh install of fontforge on Fedora and no issue running the patcher.

If someone could try to debug that'd be great

`python -m pdb ./font-patcher unpatched-sample-fonts/Inconsolata/Inconsolata\ for\ Powerline.otf`
`python -i`

or some other way

initial thoughts... seems like my script is doing something very bad performance wise..

Just out

[2015-04-29 11:49] ryanoasis commented on #7
@abl I believe I have corrected these issues. Please have a look, I would appreciate some feedback.

I will give you some time to respond but I will close this issue if no response.

Thanks

[2015-05-23 13:44] ryanoasis commented on #7
completed and updated in master. officially linked to v0.2.1 upcoming

[2015-05-23 13:44] #7 closed

[2015-05-27 19:02] nicholasc commented on #8
I got the same problem on OS X running Python 2.7.9 and a fontforge build from May 5th.

I'm not very familiar with Python, but using:
```python -m pdb ./font-patcher unpatched-sample-fonts/Inconsolata/Inconsolata\ for\ Powerline.otf```

I got:
[code]

[2015-05-29 13:37] nicholasc commented on #8
The issue is with fontforge on Mac OS X. I haven't been able to import psMat or fontforge packages in any python script without getting the same segfault. I ended up patching my font on linux.

@ryanoasis I believe this issue can be close on your side as this seems to be a problem related to fontforge. If I ever come across a solution, I'll post it here.

[2015-06-09 21:36] abl commented on #7
Looks great, thanks!

[2015-06-12 11:19] ryanoasis opened #9 "Investigate and fix glyph issues when patching"
Originally discovered in: ryanoasis/vim-webdevicons#58

[2015-06-12 23:31] ryanoasis commented on #7
@abl No probem. Thank you. I will try to be more vigilant with future fonts

[2015-06-21 16:20] ryanoasis opened #10 "More fonts: 3270, AurulentSansMono, BitstreamVeraSansMono, HeavyData, Lekton, MPlus, ProFont"
Support more fonts:
* 3270
* AurulentSansMono
* BitstreamVeraSansMono
* HeavyData
* Lekton
* MPlus
* ProFont

[2015-06-21 16:59] ryanoasis opened #11 "script to re-patch all of the fonts"
need a script to repatch all of the different fonts and versions

[2015-06-23 12:44] strrchr opened #12 "otf file cannot be opened on Windows7"
All ttf files are OK.
And otf files of https://github.com/powerline/fonts are OK.
But otf files of this project cannot be opened on Windows7.
Does anyone else has this problem?

[2015-06-23 13:42] ryanoasis commented on #12
@strrchr Sorry about this yes there is a problem. I ran into this a week or so ago.

Windows has trouble installing fonts with internal font name longer than **31 characters**. If you have fontforge you can try to regenerate with a **shorter name** or you would have to wait for a patch (I need to regenerate all the fonts with names that work on windows **and** give an option to the patcher to limi

[2015-06-23 14:55] RageZBla opened #13 "Inconsolata patched font does not work on Mac OS X/iTerm 2"
I tried both Mono and double width without any success.

[2015-06-23 22:41] ryanoasis commented on #13
@RageZBla Do you have any more details? Does not work as in you cannot see any of the added glyphs or the powerline symbols?

Are you using `Inconsolata for Powerline Plus Nerd File Types.otf` or `Inconsolata for Powerline Plus Nerd File Types Mono.otf` ?

[2015-06-24 00:45] ryanoasis opened #14 "add pomicon glyphs"
add pomicon glyphs per gabrielelana/pomicons/issues/2

* add option to add pomicons
* re-patch all fonts with a version that includes pomicons

[2015-06-24 10:33] RageZBla commented on #13
@ryanoasis I can see the powerlines ghyphs but not the added one. Yes I am sure I am using the right font, I couldn't get it working with both fonts.

[2015-06-24 10:41] ryanoasis commented on #13
@RageZBla

* can you provide a screenshot?
* do any of the patched fonts besides Inconsolata work?

Unfortunately I cannot test this because I currently do not have access to OS X

[2015-06-24 12:24] RageZBla commented on #13
@ryanoasis

[Inconsolata](http://i.imgur.com/qmSZIVh.png)
[test in terminal](http://i.imgur.com/YB2roB0.png)
[iTerm2 font settings](http://i.imgur.com/bNKgKEY.png)
[Droid Sans screenshot](http://i.imgur.com/ToMe3uM.png)

Just tried Droid now same result, not sure what's the problem since the same font works on Linux.

[2015-06-24 12:27] RageZBla commented on #13
Also just tried in macvim, now it works, it seems it just don't work in iTerm

[2015-06-24 12:32] RageZBla commented on #13
Ok my bad, in the iTerm settings dialog there is a separate settings for non-ASCII font. Changing that fixed it!

Sorry the false report.

[2015-06-24 12:32] #13 closed

[2015-06-24 12:33] RageZBla commented on #13
And thanks for your great work! :+1:

[2015-06-24 23:52] ryanoasis commented on #13
@RageZBla hey no problem. Thank you for the details. I think I will **at least** add a note about non-ASCII and/or iTerm in the docs (either here or on https://github.com/ryanoasis/vim-webdevicons)

:question: If you have it working on Mac OS X maybe I could ask you if you could submit or post a screenshot showing the glyphs?
I would like to add it to the readme (for ryanoasis/vim-webdevicons/issu

[2015-06-26 19:52] ryanoasis commented on #12
OKay so it is not related to just the filename. I will have to take another look. the `ttf` fonts seem to install okay on windows (so far)

[2015-06-26 21:10] #10 closed

[2015-06-26 21:10] #11 closed

[2015-06-26 21:10] #14 closed

[2015-06-26 21:10] ryanoasis commented on #12
*not* actually fixed (accidentally marked as fix in a commit)

[2015-06-29 13:53] RageZBla commented on #13
Sure, I was not sure exactly what kind of screenshot you need, here a really basic one.

![Imgur](http://i.imgur.com/8d3RaSJ.png?1)

You can poke me if you want some more.

[2015-06-29 13:58] RageZBla commented on #13
One more the previous one had some artefacts.

![Imgur](http://i.imgur.com/2epIvPx.png)

[2015-06-29 22:04] ryanoasis commented on #13
@RageZBla Thanks a lot! I will give you the proper attribution in the next bugfix/patch release (v0.4.4 on https://github.com/ryanoasis/vim-webdevicons)

tmux FTW :wink:

[2015-07-04 02:12] ryanoasis opened #15 "Validate font glyph widths (including 3270)"
from: ryanoasis/vim-webdevicons/issues/57

reported issues in 3270 font. probably most, if not all fonts

need to validate and test the fonts :worried:

[2015-07-12 22:19] ryanoasis opened #16 "fix ProggyClean glyph issues"
per: ryanoasis/vim-devicons/issues/75

[2015-07-12 22:21] ryanoasis opened #17 "Add Hermit font"
https://pcaro.es/p/hermit/

[2015-08-04 11:12] blueyed opened #19 "Missing file: glyph-source-fonts/Pomicons.otf"
The Pomicons.otf file appears to be missing from the repo:

    % /usr/bin/python ./font-patcher ~/.fonts/Input/Input_Fonts/Input/Input-Regular_\(InputMono-Regular\).ttf
    The glyph named Tcommaaccent is mapped to U+021A.
    But its name indicates it should be mapped to U+0162.
    The glyph named Delta is mapped to U+0394.
    But its name indicates it should be mapped to U+2206.
    The glyph

[2015-08-04 12:36] ryanoasis commented on #19
@blueyed whoops completely an oversight thanks! I'll also get #20 in soon

[2015-08-05 02:06] #19 closed

[2015-08-08 20:05] sagotsky opened #22 "Feature request: Could source/sauce code pro semibold be included?"

[2015-08-09 01:48] ryanoasis commented on #22
Sure :smile:

[2015-08-11 02:30] ryanoasis commented on #22
Uploaded a bunch more fonts. Feel free to give 1 a try :smile:

[2015-08-11 02:33] #17 closed

[2015-08-11 12:52] ryanoasis opened #23 "fix Terminess (Terminus) glyph issues"
splitting Investigate and fix Terminess (Terminus) and ProggyClean glyph issues #16 into 2 issues (#16 and this one)

[2015-08-11 12:53] ryanoasis commented on #16
ProggyClean patched versions now include Powerline glyphs by default

[2015-08-11 12:53] #16 closed

[2015-08-11 22:50] adambiggs opened #24 "Font Awesome fonts are way too big"
After updating and trying to use some of the new Font Awesome glyphs, I noticed that in many of the patched fonts these glyphs display around twice as big as they should. Seems to only affect Font Awesome glyphs.

Interestingly, with a few of the patched fonts they show up normal size, but some of the other glyphs (like the `>` `<` symbols used by PowerLine) show up half-size.

[2015-08-11 23:08] ryanoasis commented on #24
@adambiggs thanks. I did notice this myself but decided to push it up regardless :blush: On the bright side good to know there is interest :smile:

I _think_ most of the problems are related to the original glyph font's **em** size. In particular I noticed **Font Awesome** source font I used had an odd em size of **1792**

[2015-08-12 01:23] sagotsky commented on #22
Looks good!  Ty for the fast response too!

On Mon, Aug 10, 2015 at 10:30 PM, Ryan L McIntyre <notifications@github.com>
wrote:

[2015-08-12 16:14] adambiggs commented on #24
Ya I was actually really happy to see the inclusion of FA. I want to use the WiFi and some other glyphs for my Tmux status bar :neckbeard:

[2015-08-14 11:42] ryanoasis commented on #22
Going to close this. Reopen if any specific issue related to just sauce code pro.

[2015-08-14 11:42] #22 closed

[2015-08-20 23:19] ryanoasis commented on #24
Hey my suspicion was correct so this _should_ be an easy fix but I still have to regenerate all the fonts :laughing:

I also need to get caught up on the versioning and changelog (I like to stay organized)

[2015-08-22 21:43] #24 closed

[2015-08-24 18:17] adambiggs opened #25 "[osx] Font Book complains about duplicate fonts"
This isn't a huge problem, but might be easy to fix.

After installing all the patched fonts under OSX, many of them show up as duplicate fonts in the Font Book app.

Not sure if this is the exact cause, but I noticed when inspecting these fonts that the "Unique name" value is unchanged between variations of the same font.

[2015-08-24 19:00] adambiggs commented on #25
Actually, it seems like this might be a bigger issue than I first thought...

In iTerm, switching between font variants of the same family seems to have unexpected results. Many of the variants are displayed exactly the same.

E.g. `Sauce Code Pro Black` looks identical to `Sauce Code Pro ExtraLight`.

[2015-08-31 10:22] darookee opened #26 "Powerline Icons are too small"
Using mintty, the screenshot shows "Meslo LG S DZ" but the other "Meslo"-fonts, "Droid Sans Mono", "Bitstream Vera Sans Mono" and "DejaVu Sans Mono" also look like this.

![powerline-icons-too-small](https://cloud.githubusercontent.com/assets/104579/9576691/60b69a92-4fda-11e5-99c8-34cd7c63c8a2.PNG)

[2015-09-05 20:31] mhartington opened #29 "Odd gap between glyphs and text"
Not sure what happened, but since updating my fonts to include the new icons, I'm getting some weird spacing between the powerline glyphs and regular text.

<img width="408" alt="screen shot 2015-09-05 at 4 26 08 pm" src="https://cloud.githubusercontent.com/assets/2835826/9701152/42efa624-53eb-11e5-99f4-c9fdf2e68ff6.png">

Using other fonts that have powerline support do not have this issue.

[2015-09-09 05:21] karlmutch commented on #26
I have this occurring on xft based rendering as well, using urxvt. It only seems to occur with the powerline glyphs

[2015-09-09 20:01] ryanoasis commented on #29
I've been away but I will look into this. I think one thing that needs to happen is to detect if the powerline characters are present in the font being patched and to *not* add (override) the already existing powerline glyphs.

per: https://github.com/ryanoasis/nerd-fonts/pull/28#issuecomment-137246730

[2015-09-09 20:13] ryanoasis commented on #26
I've been away but I will look into this when back.

@darookee I will have to try things out on Windows in term emulators.

@karlmutch I was able to get it working for me on urxvt. Can you share your config settings?

I have:
`URxvt.font: xft:Droid Sans Mono for Powerline Plus Nerd File Types Mono:pixelsize=16:antialias=true:hinting=true`

[2015-09-11 06:14] lotrfan commented on #26
I'm getting it (on urxvt) with

[code]
(as well as a bunch of other Meslo variations)

Droid sans (`urxvt.font: xft:Droid Sans Mono for Powerline Plus Nerd File Types Mono:pixelsize=14`) also has the issue, but others (Inconsolata and Anonymous Pro were the ones I noticed) are fine.

[2015-09-11 06:19] lotrfan commented on #26
that was off of master (6158e08) with a [semi-patched](https://aur.archlinux.org/packages/rxvt-unicode-patched/) version of urxvt 9.21

[2015-09-11 14:49] karlmutch commented on #26
I had urxvt 1.19 and replicated the same using Droid Sans Mono will see
what happens when using the 2 fonts you mentioned worked.
On Sep 10, 2015 11:19 PM, "Jeffrey Tolar" <notifications@github.com> wrote:

[2015-09-12 21:58] ScriptorNY opened #30 "powerline extra symbols included ?"
Hello,

I would like to know if these fonts also include the powerline extra symbols. I have tested some of theme with `xfd` but I didn't see any "flames" or other powerline extra symbols.

Thank you very much in advance :)

[2015-09-13 01:56] ryanoasis commented on #30
Hey. No sorry I haven't included them yet but shouldn't be too hard to add another combination to get them included :)

I'll try to add them in when I can and I'll keep you updated on this ticket

[2015-09-13 02:19] ScriptorNY commented on #30
Thank you very much for your quick response :) And thank you :)

[2015-09-13 06:06] ShiroiKuma commented on #26
Excellent work, but as darookee says. DejaVu Sans Mono PowerLine symbols are too small. I can't find any other issues, just those. Using mintty here too.

[2015-09-13 12:36] sethamclean commented on #29
I have the same issue using the pre-patched source code pro fonts

[2015-09-14 10:16] kiranps commented on #26
@ShiroiKuma there are small and big powerline symbols .you must have tried smal one . try this  ⮀  ⮂

[2015-09-14 10:19] kiranps commented on #29
@mhartington i think you are using tmux separator as | change it to "" blank

[2015-09-14 10:49] ShiroiKuma commented on #26
Oh okay. I'm using UxE0B0 and UxE0B1 in my prompt. I'll look for other codes.

[2015-09-15 08:54] iravid commented on #26
I'm also seeing glyph size anomalies, but on OS X using iTerm and Anonymous Pro. Screenshots:

This was taken using the pre-patched font from the repository:
![image](https://cloud.githubusercontent.com/assets/283332/9872052/72ca519e-5b9f-11e5-9b91-8cd7bf6d2b0d.png)

The arrow glyphs are E0B0 - E0B3.

You can also see that E0A0 is abnormally small:
![image](https://cloud.githubusercontent.com/asse

[2015-09-15 09:08] darookee commented on #26
I compared both fonts using the Symboltable in Windows. The first one is DejaVu Sans Mono from the powerline repository:
![powerline](https://cloud.githubusercontent.com/assets/104579/9872467/d09a5b8a-5b99-11e5-8d30-f27ce84f9119.PNG)

The second the one from nerd-fonts
![nerd](https://cloud.githubusercontent.com/assets/104579/9872468/d0b26c3e-5b99-11e5-85fe-d888a286bf32.PNG)

[2015-09-15 22:02] dritter commented on #26
I have the same Issue on OSX yosemite with iTerm2. I used "Droid Sans Mono for Powerline Plus Nerd File Types Plus Font Awesome Plus Octicons". So this is no windows-only problem..

[2015-09-15 22:03] dritter commented on #29
@kiranps I don't think so. I have the same issue without using tmux..

[2015-09-15 22:12] sethamclean commented on #29
I have the same problem with "Sauce Code Powerline Plus Nerd File Types Mono Plus Font Awesome Plus Octicons Plus Pomicons.otf". My terminal is urxvt and I am seeing the gap in VIM with lightline.

[2015-09-15 22:24] dritter opened #31 "Wrong codepoints for Font-Awesome beginning on f00f in table"
Hi there!

When I use "Sauce Code Powerline Plus Nerd File Types Mono Plus Font Awesome Plus Octicons" the codepoints starting from `f00f` are off by one.
Example: The codepoint for [home-icon ](http://fontawesome.io/icon/home/) on the [table](https://github.com/ryanoasis/nerd-filetype-glyphs-fonts-patcher/wiki/screenshots/v0.4.0/fontforge-glyph-set-font-awesome-1.png) is `f015`. This should be th

[2015-09-15 22:55] ryanoasis commented on #31
Hey thanks for this info. I will look into it.

I was taking a break but now wanting to work on projects again here and there.

On this one I am reorganizing the patched folders to make fonts easier to find and then I want to merge in the 2 open PRs (hack font, fixes, and script refactoring)

[2015-09-15 22:57] ryanoasis commented on #26
Thanks for all the info I think it will help. :)

[2015-09-16 01:01] mudox commented on #29
I can reproduce the gap by increasing the horizontal character spacing in iTerm2, maybe it's a editor/terminal font rendering issue.

[2015-09-16 07:52] dritter commented on #29
@mudox I left the character spacing untouched. And like @sethamclean I have it with "Sauce Code"-Font only. So this is definitely a font issue.

[2015-09-16 09:13] sethamclean commented on #29
@mudox reducing the font spacing can remove the gap but the arrows are vertically too small as well. This results in a "road cone"  like shape.

[2015-09-16 13:38] mhartington commented on #29
Yeah, using source code pro or hack, which has powerline support already, there isn't an issue.
So this is an issue where the glyphs that get patched are off by a pixel or two.

[2015-09-18 17:15] CestDiego opened #32 "Separate download links for patched fonts to easier packaging"
In order to make packages for each of the patched fonts it would be nice to provide a separate download link (I think releases in github might be able to release just one dir as well so as to do it per font) per font so that each package won't clone the entire repo for each of the fonts.

[2015-09-18 19:04] CestDiego commented on #31
@ryanoasis thank you for the awesome work. This fix would be greatly appreciated  :)

[2015-09-18 19:51] ryanoasis commented on #31
@CestDiego Thanks it is appreciated.
***
@dritter You are 100% correct
***
@dritter , @CestDiego
Ah I see what is going on here. I define the start and end range but quite a few of the glyphs in that range in font awesome are empty (e.g. `f010` zoom_out [fa-search-minus]). So that point on its off by one and then each time another empty glyph is encountered its off-by-1++ :blush:

I will get to th

[2015-09-18 19:54] CestDiego commented on #31
@ryanoasis no problem...I'm developing a package similar to fontawesome.el for emacs in which one can easily add the unicode symbols with autocompletion backends :) looks like this:
https://i.imgur.com/hP3Jyg0.png

[2015-09-18 20:08] ryanoasis commented on #31
@CestDiego Ah I see. That looks very cool and useful! I can see that being very helpful especially if you are using font awesome heavily in a project.

I would have made a plugin for emacs similar to my vim plugin ([vim-devicons](https://github.com/ryanoasis/vim-devicons)) but I am a Vim guy :laughing: and I don't even know where to begin

If you need anything to make the font easier to use let me

[2015-09-18 20:10] CestDiego commented on #31
@ryanoasis well yeah #32 is to make it easier to me to make Nix Expressions for NixOS packages :P but it would also be nice to download only the font one wants.

[2015-09-18 20:47] ryanoasis commented on #31
@CestDiego I might ask you on #32 for more info on that subject. :blush:

Yeah thats one problem right now with the directory structure. I was creating more subfolders for each family style but maybe I need subfolders for each glyphset variation because the names are very long

Website and interaction to let users pick is a very cool idea! I like it. :+1:

The way I feel about this project right n

[2015-09-18 20:53] CestDiego commented on #31
awesome :) I look forward to the merging of the Hack Font PR :P btw, how to know if I'm downloading powerline-extras with the name of fonts? it looks like the font I downloaded doesn't have it. Also regarding Octicons seem to have the same `shift` as font awesome... and I think there is some overlapping :(

[2015-09-18 21:02] ryanoasis commented on #31
@CestDiego 'powerline-extras' is currently missing :disappointed: (see #30)

Yeah it looks like it will have the same off-by-* issue as font-awesome. Fix should be the same.

For Octicons I decided to put it in a different range because font-awesome starts at the same unicode but I think what I should do is if you choose Octicons without font-awesome THEN it could start it its original place. Obvi

[2015-09-18 21:04] CestDiego commented on #31
So is Octicons kinda like >> fontawesome? it looks like github supports it natively...

[2015-09-18 21:06] ryanoasis commented on #31
Yes similar in some ways. Yep it is the one used on GitHub :smile:

[2015-09-18 23:39] ryanoasis commented on #25
@adambiggs I thought I replied already (I guess not! sorry). Anyway thank you and I will try to see if I can figure something out

[2015-09-19 09:14] beojan opened #33 "Switch to Source Code Pro instead of Sauce Code"
Can you switch to the original Source Code Pro instead of Sauce Code. Adobe appear to have designed the powerline symbols into the recent version of Source Code Pro.

[2015-09-20 02:04] #31 closed

[2015-09-21 12:29] ryanoasis commented on #33
Thanks I will take a look. I think I had wanted to patch the latest from Adobe but it required tools to build the latest font styles. I did start installing some of the reqquirements but didn't get past the dependencies.

[2015-09-25 09:10] dritter opened #34 "Wrong codepoints for Octoicons"
Hi again. ;)

This time the codepoints for octoicons seem to be wrong. Haven't found a pattern there. If I do an `echo "\uF020" "\uF000" "\uF001" "\uF005" "\uF0B2"`, none of the correct symbols show up:
![bildschirmfoto 2015-09-25 um 11 08 29](https://cloud.githubusercontent.com/assets/1544760/10096943/d64b1536-6375-11e5-938e-d40801d07e87.png)
Ignore the wrong symbols in the theme..

Tested with N

[2015-09-25 12:29] ryanoasis commented on #32
Sorry I think I need some more explanation on this.

Do you mean just a separate dir per font or do you mean individual archive package per each font? If the latter then that seems like it might be a bit of work.

Can you give an example and/or a project that does something like this?
Thanks

[2015-09-25 13:39] mudox opened #35 "Can anybody provide a simple tutorial of how to add symbols into fonts"
or same references is well appreciated.

[2015-09-27 13:43] skcc321 opened #37 "vertically stretched icons"
Hi there.
What shall I do to fix 'stretching' effect?
example:
![alt text](https://drive.google.com/uc?id=0B0h4JJPKPxpkc0dWOEU2ckRFNnM)
emulator: gnome terminal
font: droid sans mono for powerline plus nerd file types mono 12

Also, I will be very grateful if someone describe how to patch default ubuntu mono font. :)

[2015-09-29 11:40] ryanoasis commented on #35
The symbols provided by Nerd Fonts or you mean in general?

For Nerd Fonts you can use the patcher:
[code]

[2015-09-29 12:01] ryanoasis commented on #37
This is a known problem and actually I am not sure the best way to make the mono sized glyphs appear big enough without some stretching.

***

In gnome terminal you should be able to use one of the double-width glyph fonts (they won't appear stretched) instead of the true Mono ones.

For example use `Ubuntu Mono Plus Nerd File Types.ttf` instead of `Ubuntu Mono Plus Nerd File Types Mono.ttf`. They

[2015-09-29 12:03] ryanoasis commented on #34
Thanks. Looks like I have overlooked something when fixing font awesome. Will take a look.

[2015-09-29 12:09] skcc321 commented on #37
Thx a lot :)

[2015-09-29 12:47] mudox commented on #35
@ryanoasis, thanks for you response. I will look into it.
Actually I wanted to add symbols in range 0xe0b0 ~ 0xe0cd from [powerline-extra-symbols](https://github.com/ryanoasis/powerline-extra-symbols) into my chosen font.

[2015-09-29 12:52] ryanoasis commented on #35
Ah those symbols. I am actually targeting to add those symbols into the next minor release [v0.6.0](https://github.com/ryanoasis/nerd-fonts/milestones/v0.6.0)

ref: #30

[2015-09-29 13:04] mudox commented on #35
:+1:

[2015-10-05 15:03] brodock opened #38 "Easier font-path on OSX"
I found an easier workflow on OSX to patch fonts:

[code]

doing that you don't have to install older python only to patch fonts, as "fontforge" has already an embedded python environment

[2015-10-09 03:03] johnpneumann commented on #33
:+1:

[2015-10-15 02:05] ryanoasis commented on #32
@CestDiego could you provide some more info? :stuck_out_tongue:

[2015-10-15 02:07] ryanoasis commented on #35
relates to #30

[2015-10-15 02:54] CestDiego commented on #32
I thought it would be nice to be able to download only one patched font instead of the whole repo :( I thought that it would be easier with the new infrastructure but it's not :(

[2015-10-16 11:37] ryanoasis commented on #32
You mean one patched font as an archive? Because downloading a single font is possible.

[2015-10-16 15:03] CestDiego commented on #32
Yeah but have you tried? the names are so long, one can hardly determine which font is which.

[2015-10-27 14:46] aquatix opened #39 "Update Hack/Knack font to v2.015"
The Hack project released v2.015 a little while ago, which greatly improved some glyphs and rendering. Having it in nerd-fonts would be great.

[2015-10-27 15:16] ryanoasis commented on #39
Thanks for the notice/update :+1:

[2015-10-27 18:04] ryanoasis commented on #34
@dritter Okay so the problem is both Font Awesome and Octicons start their glyph range at `f000` so I had to pick one to take precedence. I chose Font Awesome and moved Octicons to a different range when *both* sets of glyphs are in the patched font.

If you want to use the original unicode codepoints for Octicons you will have to use `Knack Plus Nerd File Types Plus Octicons` or one that does *no

[2015-10-27 18:18] ryanoasis commented on #38
@brodock I will update the readme with this info thanks :+1:

[2015-11-01 07:47] ariscn opened #40 "Incompatible codepoints?"
I'm trying to use `M+ 1m light Plus Nerd File Types Mono Plus Font Awesome Plus Octicons Plus Pomicons` with the https://github.com/bhilburn/powerlevel9k prompt for zsh. It has mappings to https://github.com/gabrielelana/awesome-terminal-fonts, which I assumed would work with `nerd-fonts`. This seems not to be the case, as some of the icons don't work: https://github.com/bhilburn/powerlevel9k/issu

[2015-11-01 09:00] ariscn commented on #40
Hm...looks like it may only be an issue with some fonts? Inconsolata looks fine at a cursory glance...

[2015-11-01 20:56] ryanoasis commented on #40
I will do my best to answer your questions

That's possible, and some might not look very good at the moment and are untested. However the same variation of different fonts (e.g M+ with Awesome, Octicons, and Pomicons should have the same code points for the glyphs as Inconsolata).

Ah I think I see the problem to which you are referring. Looks like M+ is missing the powerline glyphs, see image be

[2015-11-01 21:51] dritter commented on #34
@ryanoasis so that means that the code points differ if I use a variant with or without `Font Awesome`? IMHO it is better to have consistent code points across different variants of the patched fonts. That would make life easier for 3rd party projects that rely on your fonts. And even for yourself: You than have to provide a correct icon/code point-table for each variant.

[2015-11-01 22:27] ryanoasis commented on #34
@dritter for Octicons yes that is correct.

You make a good point and it is worth considering. My thought was to try to keep all glyphs at their original position unless there are conflicts but you brought up the other side of it that there would be less consistently

[2015-11-01 22:48] dritter commented on #34
I am unsure about this issue as well.
Either every project maintains a version for every different font, or for every version. Both are not very good. But now as you say it, maybe relocating is worse. It is better to provide interoperability between the font (that users choose once) and different projects (that users switch more frequently).

Example:
It is more likely for someone to use programs

[2015-11-02 01:03] ryanoasis commented on #34
Good points. Yeah it is a catch 22 in some sense :smile:

[2015-11-02 15:17] ryanoasis commented on #34
I will at least do an update for Octicons to https://github.com/github/octicons/releases/tag/v3.1.0

[2015-11-07 19:38] dritter commented on #34
:+1:

[2015-11-08 04:24] eugenesvk opened #41 "Retain glyph names when merging"
I've noticed that glyph names are lost when patching fonts. For example, if I take the __Octicons__ font as a source of glyphs and patch another font with it (with the `--octicons` option), then all the glyph names (e.g. __octoface__ or __mark-github__ or __repo-forked__ for some of the standard GitHub glyphs) are lost and instead replaced by Unicode glyph codes (e.g. __uniF008__ for __octoface__)

[2015-11-08 04:50] eugenesvk opened #42 "Change font naming convention (or allow custom names during conversion)"
Currently both font file names and internal font names are a bit unwieldy.
The file names are too big and font names are unique for each style, which prevents Font Book from displaying them under one family group.
I understand the need to differentiate between many variants, though would prefer a simple
__SourceCodePro-Medium-mNOP__ instead of
__Sauce Code Pro Medium Plus Nerd File Types Mono Plus

[2015-11-09 20:47] shayne opened #43 "Ligatures lost when patching PragmataPro"
The official unpatched PragmataPro supports many ligatures for programming. Using the font produced by the patcher produces file type icons, but ligatures are lost.

[2015-11-09 22:42] ryanoasis commented on #43
Thanks! :+1: Yes this looks to be the case :disappointed:

I found a nice script that outputs the ligatures and I was able to verify before and after that they do become lost.

I have just quickly tried experimenting with fontforge methods trying to copy the ligatures with no success so far.

I will update if any news.

[2015-11-09 22:53] ryanoasis commented on #42
@eugenesvk

These are good points and I agree with you pretty much!

I have actually been in the process of reorganizing the directory structure a bit to make ad hoc downloading easier (spurred from #32).

* Changing the family name to be consistent across variations *should* be one of the easier fixes you suggest.
* The variation tacking on the included glyphs is yes very ugly. A partial solution

[2015-11-09 22:56] ryanoasis commented on #32
@CestDiego Yes the names are disgusting long. I am going to at the very least re-organize the directory structure to make it at least a little more manageable (especially in regards to the font that will have all the glyphs).

I still haven't looked too far into it but it seems like using the GitHub API might be a way to do the packages per release as you mentioned.

[2015-11-09 23:09] ryanoasis commented on #41
@eugenesvk

I think I have found a solution to this :smile:, I will include this with the [next release](https://github.com/ryanoasis/nerd-fonts/milestones/v0.6.0) if it tests out well. Thanks for reporting this :+1:

somewhat related (in that info is lost): #43

[2015-11-10 00:14] eugenesvk commented on #41
Ok, thanks a lot! Will be looking forward to it.
By the way, I've noticed another thing - some of the glyphs in the end of __Octicons__ are not appended (e.g. F0E0 for 'watch' or F27C for 'device-desktop). I've downloaded the latest version before embedding (which has a few extra glyphs), so my guess would be that the address range is not updated yet. If that is the case, would you kindly update t

[2015-11-10 00:25] eugenesvk commented on #42
Yes, having a simple name for an all-inclusive font is a good idea since it is indeed typically the most useful variant. I would suggest though a slightly shorter name (e.g. __< font name> Nerd__ or __NerdAll__ if you insist on indicating everything is packed), since I've already run into trouble in Windows with long font names (I know you have an option to force shorter names, but would like the

[2015-11-10 00:25] ryanoasis commented on #41
@eugenesvk

Yes you are correct Octicons I am using is not up to date, see: https://github.com/ryanoasis/nerd-fonts/issues/34#issuecomment-153050037

No worries I was actually late to the GitHub party as well :smile: . For this issue we can leave it open and I will close it on the next release.

[2015-11-10 00:32] ryanoasis commented on #42
@eugenesvk That is a good suggestion to keep it as short as possible. I was going with **Nerd Font** because it is the project name. I can see where having 'Font' part of a font name is a bit redundant however. **All** could also work in place of **Complete**.

I am not sure about those but I will definitely consider them :+1:

[2015-11-10 06:51] jordwalke commented on #43
:+1:

[2015-11-10 15:55] ryanoasis commented on #43
Okay so it might be as simple as adding a flag on generating a font, I have been able to keep the ligatures, however there is another issue: The location of the ligatures is conflicting with devicons, so devicons is clobbering some of the ligatures.

See below (left side is without the font, right side is the font):

![selection_10_11_15_10 51 03_1255x879_001](https://cloud.githubusercontent.com/a

[2015-11-11 18:14] ryanoasis commented on #34
Octicons now up to [v3.2.0](https://github.com/github/octicons/releases/tag/v3.2.0) so that'll be the one I include more than likely

[2015-11-14 02:59] ryanoasis commented on #43
Just a quick update I added a flag that will _not_ overwrite glyphs (ligatures as well in this case). At least you'll get the option :smile:

Should be ready to go this weekend if all is well:

![selection_13_11_15_21 58 40_950x960_001](https://cloud.githubusercontent.com/assets/8083459/11161693/cc5c85a2-8a51-11e5-994a-200a3bf57ab5.png)

[2015-11-14 15:39] shayne commented on #43
Thanks for looking into this!

[2015-11-15 22:56] ryanoasis opened #44 "Implement parallelization (background processes) in all fonts bash patcher"
This is going to make new releases take a lot less time (less painful).

![nerd-fonts-performance-nov-15-2015](https://cloud.githubusercontent.com/assets/8083459/11171595/23f02aa0-8bc2-11e5-87d3-6fc489336a4b.png)

[2015-11-15 23:59] #33 closed

[2015-11-15 23:59] #38 closed

[2015-11-15 23:59] #39 closed

[2015-11-15 23:59] #41 closed

[2015-11-15 23:59] #43 closed

[2015-11-15 23:59] #25 closed

[2015-11-16 00:00] #30 closed

[2015-11-16 00:00] #35 closed

[2015-11-16 00:01] ryanoasis commented on #42
Closing for now as this is partially implemented on v0.6.0. If it is not good enough we can discuss and implement on a later version :+1:

[2015-11-16 00:01] #42 closed

[2015-11-16 00:01] ryanoasis commented on #44
Pretty much done on v0.6.0 :tada:

[2015-11-16 00:01] #44 closed

[2015-11-16 17:03] ryanoasis commented on #40
Hmm I thought I might have fixed this with  [v0.6.0](https://github.com/ryanoasis/nerd-fonts/milestones/v0.6.0) but looks like there are still issues with glyph sizes

[2015-11-16 17:05] ryanoasis commented on #34
Latest Octicons should now be included in  [v0.6.0](https://github.com/ryanoasis/nerd-fonts/milestones/v0.6.0) but the main point of this ticket is still to be discussed so leaving it open for now.

[2015-11-16 19:34] gregf opened #45 "Error when using --careful"
Running The following produces a error.

[code]

Running the same line without --careful it completes without error.

[2015-11-16 20:01] ryanoasis commented on #45
@gregf Thanks! Workin' on it :relaxed:

[2015-11-17 03:53] mudox commented on #40
I tested several Ubuntu Mono fonts (which I mainly use on iTerm2 + Tmux + Neovim) from v0.6.0, it seems all powerline extra symbols are stretched, and their horizontal position is not as good as of previous versions (left shifted).
* * *
before v0.6.0
through following iTerm2 profile -> Text -> Font settings
![screen shot 2015-11-17 at 11 43 27 am](https://cloud.githubusercontent.com/assets/228339

[2015-11-17 23:23] ryanoasis commented on #40
Thanks for this. I will try to get this fixed, I saw some issues but decided to move forward anyway. I will see if I can get something more reliable. My guess is its related to em sizes

[2015-11-19 06:09] AustinMatherne opened #46 "Sauce Code Powerline Fonts?"
First, thanks for the project, it has significantly improved my development experience.

With the 0.6.0 release the Sauce Code Pro Powerline fonts appears to have vanished from under patched-fonts. Was that intentional?

Thank again!

[2015-11-19 13:08] ryanoasis commented on #46
Thanks glad to hear feedback.

Nope! It was not intentional. I was too eager to push it out without testing multiple fonts.

I will look into this :+1:

[2015-11-25 00:30] ryanoasis commented on #46
@AustinMatherne They are still there it is just the names of the fonts have been changed (hopefully for the better).

Try one of the "complete" versions (includes all glyphs):

e.g. https://github.com/ryanoasis/nerd-fonts/blob/master/patched-fonts/SourceCodePro/Regular/complete/Sauce%20Code%20Pro%20Nerd%20Font%20Complete.ttf

Actually even the "minimal" variations should by default have the Powerl

[2015-11-25 00:36] ryanoasis commented on #29
I am working on _not_ overwriting powerline glyphs if they are already present in the font to be patched.

I thought this actually _may_ have been fixed for recently patched Sauce Code but https://github.com/ryanoasis/vim-devicons/issues/126 seems to suggest otherwise. I have not tested yet.

[2015-11-26 00:47] beanaroo opened #48 "FontAwesome 4.5 released"
20 new fonts included.
https://fortawesome.github.io/Font-Awesome/whats-new/

[2015-11-26 01:57] ryanoasis commented on #48
Cool, thanks for the heads up. I will try to include it on the next release :+1:

[2015-11-26 06:14] SageEx opened #49 "Include a python3 version of the font-patcher script"
Hi,
First of all thanks a lot for this project.
Recently, I tried to patch the font Fantasque Sans Mono.
The problem is that on ArchLinux the fontforge library has bindings for python3 by default( python3 is the default python). So, running with ` ./font-patcher ... ` didn't work.
I had to use the fontforge program directly - ` fontforge -script font-patcher --fontawesome --careful FantasqueSansMo

[2015-11-26 15:26] ryanoasis commented on #49
@SageEx Thanks for the info and I am glad this project is useful to you :smile:

I will have to look into that, I see the changes you had to make. There has to be a way to make it compatible for py3 and py2 without having 2 separate scripts to maintain?

Looks like the license will allow this (OFL (SIL Open Font License)), the only I was checking for is if there is a Reserved Font Name specified i

[2015-11-26 20:06] mhartington commented on #29
Looking good! Happy to be closing this.

[2015-11-26 20:06] #29 closed

[2015-11-28 22:12] AustinMatherne commented on #46
Thanks! I was previously specifying the exact font (Sauce Code Powerline Plus...) in my .Xresources config. Replacing it with just "Sauce Code Pro" did the trick.

Out of curiosity, why the switch from OTF to TTF?

[2015-11-28 22:13] #46 closed

[2015-11-29 09:08] SageEx commented on #49
Most of the changes are due to the convention changes from python2 to python3 - like

* brackets in print statements
* dic.iteritems() to dic.items
etc.

I doubt that a single python script would suffice.

Rather, as a solution, you can maintain the python2 script only and use 2to3 to automatically generate the python3 script. The only manual change you will have to make in the generated script is

[2015-12-23 15:53] francoiscote commented on #32
Tip: Meanwhile, github's file search can help locate the right variation you are looking for:
https://github.com/ryanoasis/nerd-fonts/find/master

[2016-01-05 04:22] xavierartot opened #50 "link broke MAC"
[code]

[code]

[2016-01-05 05:03] xavierartot commented on #13
Hi,
I don't understood?
[code]
you mean don't use ASCII?

[2016-01-05 06:20] ryanoasis commented on #49
Thanks btw. I will probably get to this but not anytime soon.

    Fantasque Sans Mono

Probably not too difficult to add just a handful of bugs that I've been focusing on.

Cheers!

[2016-01-07 02:19] ryanoasis commented on #50
Thanks. looks like readme needs updated to the new path. Feel free to submit PR or wait until I fix :+1:

[2016-01-14 01:28] cmcginty opened #52 "Incomplete Install Instructions for Patch Fonts (explain: complete, alternative, minimal choices)"
I know with enough googling someone can figure out how to install the patched fonts, but it would be nice to provide this in the README. Right now, I reloaded my font-cache and I still can't access the new fonts, so it really isn't as easy to setup as it could be.

Even better would be to create an install script that would let you select fonts that would auto download and install.

[2016-01-14 15:12] ryanoasis commented on #52
First thanks for the feedback :+1: . I always like constructive feedback :smile:

I thought the installation had really been improved compared to what it once was. What specifically was the issue you were running into why you could not access the fonts?

I am very open to PRs to improve things or suggestions that I can implement myself alternately.

Sounds like a cool idea, I had started on buildi

[2016-01-15 21:15] cmcginty commented on #52
:metal:
My first mistake was trying to download the fonts with CURL. Turns out you need to add `?raw=true` to the end of the URL. The current CURL example doesn't work anymoe. I think github remove the hostname.

Second issue was that I expected the font name to show up as with "NERD" in the name, but actually i was the same name as my powerline font (i.e. `Ubuntu Mono derivative Powerline 12`)

I

[2016-01-15 22:20] ryanoasis commented on #52
Hey thanks for the details :+1:

Yep I believe there was another ticket about this

Hmm I will have to look into this

This could be easily improved at least in the readme or additional readme per font directory

[2016-01-18 03:21] DanielGGordon commented on #40
So what font actually works on Mintty (Windows)?

[2016-01-28 20:42] aquatix opened #53 "Hack v2.019 is released with quite some glyph fixes"
https://github.com/chrissimpkins/Hack/releases :)

[2016-01-29 03:19] ryanoasis commented on #53
Thanks for the heads up

[2016-02-03 15:32] MadsRC commented on #37
I am experiencing the same thing with my Arch Linux, URxvt, vim+nerdtree and vim-devicons. Font is Sauce Code Pro Complete Mono.

Actually also happens in the i3statusbar, using the same font.

[2016-02-04 16:52] DanielGGordon commented on #26
- DejaVu Sans Mono
- Meslo LG M
- Droid Sans
- Anonymice

I tried these 4x, and didn't see such small icons. Although the icons are a **bit** small. It's not dramatic, but because they are monotyped for Mintty compatibility, sometimes the icons just don't look as good in Windows.

[2016-02-04 22:24] #50 closed

[2016-02-04 22:33] ryanoasis commented on #52
It should work now because of #50 being fixed/closed and pushed

Your other points are still TBD/TODO :stuck_out_tongue:

[2016-02-04 22:35] ryanoasis commented on #32
@francoiscote Belated thank you! I will probably try to put that in at least the readme and possible in each main font directory's readme.rst

[2016-02-04 22:44] ryanoasis opened #54 "New font: Monoid"
Target and patch [Monoid](https://github.com/larsenwork/monoid)

[2016-02-04 22:45] ryanoasis opened #55 "New font: Roboto Mono"
[Roboto Mono](https://www.google.com/fonts/specimen/Roboto+Mono)

[2016-02-04 23:20] ryanoasis commented on #26
@DanielGGordon Awesome! Thanks for the detailed report and feedback. It will prove helpful :tada:

Yeah getting things to look right with fonts can be a huge pain :worried:

[2016-02-07 00:40] alexanderjeurissen opened #56 "patched font variants (bold, semibold etc) show up as duplicate in fontbook osx"
Installing multiple font variants (bold, semibold, light, etc) on OSX using fontbook results in warnings and the font variants are all in separate "font families" ..

I tried installing multiple patched fonts (both Hack and Source Code Pro) so that should rule out that a single patched font is causing the issue.

![screen shot 2016-02-07 at 01 29 46](https://cloud.githubusercontent.com/assets/1220

[2016-02-09 17:36] adambiggs commented on #56
I reported this in #25 which appeared to be fixed, but I didn't actually have a chance to test it because I stopped using the install script in favour of manually installing just the font I use... Would love to see this resolved though!

[2016-02-17 01:21] ryanoasis commented on #56
Yes this should be fixed.. thanks for the details here.

I don't have a mac to test on but perhaps I can setup a test branch where others can try it out :smile:

[2016-02-18 07:07] thewatts commented on #56
![screen shot 2016-02-18 at 1 06 18 am](https://cloud.githubusercontent.com/assets/1141717/13136060/e2104b42-d5db-11e5-8e36-f9f6489ed6b7.png)

Looks like it's still an issue (shown after installing `master`)

[2016-02-18 07:14] thewatts commented on #56
Which, I must say - this project is _LEGIT_. Really thankful for it!

[2016-02-18 23:35] ryanoasis commented on #56
@thewatts, @adambiggs

Err I apologize for not making my point clear. :blush: What I meant here was that this should _get_ fixed **not** that it _already_ was fixed. i.e. Yes this is still a problem AFAIK :+1:

I will be leaving this ticket open until someone can confirm an attempted fix :smile:

---

@thewatts

Thanks! That means a lot

[2016-02-19 12:10] ryanoasis opened #57 "Ligatures"
Any interest in looking into and attempting to add ligatures to fonts without?

[2016-02-19 12:16] eugenesvk commented on #34
May I suggest an alternative solution (granted, there is no ideal one unless those fonts decide to change their glyph codepoints and that's unlikely)?
Current font map
[code]
If Octicons is a more popular font (with the GitHub support and all), it should have a higher priority.
So, would it not be better to leave Octicons as is, but add FA glyphs after Octicons range (so that in end you'd have fir

[2016-02-21 02:45] ryanoasis commented on #32
Hey what do you guys think of this:

https://github.com/ryanoasis/nerd-fonts/releases/tag/v0.6.1

I only zipped and did an asset upload of the '3270' patched font to see how feasible this would be in a simple little script (looks pretty feasible!).

I don't think breaking these directory archives down much further would be much help.. MAYBE going down one more directory to 'complete','additional-v

[2016-02-21 14:40] ryanoasis commented on #40
Sorry pushing this off so I can get more easy tickets closed out before diving into the more complex ones :disappointed:

[2016-02-22 00:56] ryanoasis commented on #52
This concern has been now partially addressed in the wiki: https://github.com/ryanoasis/nerd-fonts/wiki/FAQ#which-font

However, I am going to be adding some readme.rst files to various directories to make it even more obvious and helpful :smiley:

[2016-02-22 02:30] ryanoasis commented on #56
I will be pushing up a test branch that should address this issue. Maybe even as early as tomorrow if I get time.

I will link to it on this ticket when I do.

Thanks

[2016-02-23 00:19] eugenesvk commented on #56
@ryanoasis I think this is an issue with FontForge not giving scripts access to font style names (https://github.com/fontforge/fontforge/issues/1061) and relying on autogessing style. Hence you get very strange styles in your fonts such as `NerdFontComplete` instead of `Regular`.
The resulting **PS Font Name** (`$fontname` set to *fontname + Suffix* in your [patcher](https://github.com/ryanoasis/n

[2016-02-23 00:40] eugenesvk opened #58 "Reduce complexity in output?"
Partially following up on https://github.com/ryanoasis/nerd-fonts/issues/42 and also continuing my thoughts after dealing with https://github.com/ryanoasis/nerd-fonts/issues/56 may I offer a few thoughts on how to reduce the staggering complexity in the number of fonts produced by the patcher?

With short names (e.g. "NC" instead of "Nerd Font Complete") Windows version is never needed.
Also, we c

[2016-02-23 01:04] eugenesvk commented on #58
I've customized your script for my own purposes to follow this logic (prioritizing 'Devicons' over 'SetiUI', moving 'SetiUI' right after 'Devicons') and only retaining 'FA' glyphs that don't conflict with 'Octicons' (haven't tested yet moving the displaced glyphs elsewhere).

Now that I've thought of additional simplification (with only two fonts required) the patcher could have those two addition

[2016-02-23 13:18] ryanoasis opened #59 "New font: FiraCode"
[FiraCode](https://github.com/tonsky/FiraCode)

Basically FiraMono with programming ligatures.

This has actually already been patched by someone and posted online :smile: but it would be nice to add this font officially.

[2016-02-23 15:40] eugenesvk commented on #56
Actually, was wrong about FontForge not allowing scripting access to all the names — that github ticket threw me off. The `sfnt_names` from [FF scripting commands](https://fontforge.github.io/en-US/documentation/scripting/python/) is a string that has all the **SFNT** fields (see [Name IDs](https://partners.adobe.com/public/developer/opentype/index_name.html)) and `appendSFNTName` command allows t

[2016-02-23 16:25] ryanoasis commented on #56
@eugenesvk Yep! I was aware of the `sfnt_names` and actually I *think* I have the changes that should solve the issue right now. Just haven't released or pushed to any branch.

Thank you for the detailed info I think it is helpful :+1:

I think at some point adding configuration files to denote the subfont/style name might be needed. Because some fonts have it after the dash in the filename as a c

[2016-02-23 17:19] eugenesvk commented on #56
Yeah, Source Code is unfortunately a mess in this regard (I also had to change all the font names for these fonts to be correctly reflected in e.g. ST3 — didn't understand why the same name would work on Mac, but fail to work on a Windows, then realized the font names are inconsistent).
Btw, the reason why Source Code SubFamily here is "Regular" instead of "ExtraLight" is that there is a stupid ol

[2016-02-23 17:28] eugenesvk commented on #56
I'd also suggest in the output to write OpenType names in addition to the regular ones, as they have a priority (e.g. Mac would display OpenType names over regular ones on conflict, think same is true for Windows, but haven't checked)

A quick reference table from my script (names in comments are from FontLab)
[code]
And just FYI similar reference re. default naming functions (as far as i understa

[2016-02-23 18:50] ryanoasis commented on #56
Did *not* know this thanks!

Nice. I think I even overlooked that in the screenshot I posted :blush: . Yes I think this makes sense and I this seems like the logic to go with here.

Sorry I did read your suggestion but have not really gone through it in detail. Just FYI the gist I posted was work done **before** any of your messages so the new information you have provided **will** help me greatly

[2016-02-23 19:26] eugenesvk commented on #56
That's what I got from that [Adobe document](https://partners.adobe.com/public/developer/opentype/index_name.html)

I'm basically arguing for three key principles:

1. Putting full style (weight, width, and angle) in style name (e.g. **Condensed Bold Italic**) instead of only doing this for OpenType-specific names and following the useless traditions in regular names. This also means that no style

[2016-02-23 19:53] ryanoasis commented on #58
I really appreciate your ideas here and they make a lot of sense. :bow:

These are suggestions I will *definitely* and probably *need* to consider, especially the 'windows version' possibly just trimming the names no matter what. Especially if that actually makes things less confusing to someone coming to download the fonts.

Yeah correct. This might be the way to go. Have to think about this and

[2016-02-23 20:21] eugenesvk commented on #58
You're right, I do prefer 'Devicons' to take precedence. I was just assuming that this choice, once made, is constant and doesn't offer variations. Only in this sense _there is no variation_.
But technically you're correct, you could offer two variations instead of one — with Devicons as prio and SetiUI as prio.
In light of the fact that codepoints will be broken in vim-devicions anyway, I'd just

[2016-02-23 20:56] ryanoasis commented on #56
Good stuff thanks again.

Yeah I think I am in agreement with you on all 3 of the main points as you described them.

#58 - yeah that is definitely something to consider. Also claiming a bunch of font variations is a bit deceiving if most of them aren't very useful :stuck_out_tongue_closed_eyes:

[2016-02-29 15:15] rahmatawaludin commented on #13
This one should be added to doc. I also using iTerm2 and the custom font only work when I set "Non-ASCII Font" settings. Easy to miss that.. ;)

[2016-02-29 18:32] ryanoasis commented on #13
@rahmatawaludin Yes you are correct it really should be in the readme and/or FAQ.

I am a bit busy right now to do it myself but you can give a go if you want to contribute.

Feel free to submit a PR or add it to the [wiki FAQ](https://github.com/ryanoasis/nerd-fonts/wiki/FAQ).

Which reminds me I really need to add some info on contributing! :+1:

[2016-03-01 14:49] beanaroo opened #60 "[Adobe Source Code Pro] Powerline Symbols not aligned."
I believe this is due to the switch from Sauce Code Pro to Adobe Source Code Pro by issue #33.
I'm not sure if nerd fonts patches over the existing glyphs.
This could also be an upstream issue, as [shown here](https://github.com/adobe-fonts/source-code-pro/issues/43#issuecomment-93478072).

[2016-03-01 16:10] ryanoasis commented on #60
It should not be patching over the powerline glyphs unless you run the patcher with the `--powerline` flag.

I just checked the [script logic](https://github.com/ryanoasis/nerd-fonts/blob/master/gotta-patch-em-all-font-patcher!.sh#L65) that generates all the patched fonts and it should not be overriding the powerline symbols for Hack or Source Code Pro. However it is possible the conditional is no

[2016-03-02 02:38] beanaroo commented on #60
The problem exists without patching the font, so I believe it could be upstream.

[2016-03-05 09:09] jrolfs commented on #56
Just noticed this thread after I created #61, hopefully it's a start towards solving this?

[2016-03-05 16:32] ryanoasis commented on #56
@jrolfs Yes and I replied on #61, seems like your work at least will help solve. I might have a bit of conflict with https://gist.github.com/ryanoasis/af51f008838aaa46fb61 but I think I soon need to setup a test branch for us to check how the fonts come out.

[2016-03-05 23:34] ryanoasis commented on #60
Interesting thanks. I'll have to keep my eyes open for developments.

[2016-03-12 20:44] chevysniff opened #63 "Bold font "Hack" doesn't have all Powerline symbols."
Hello,
  I'm using bold fonts as my regular font weight in terminal.  I wanted to use available prepatched fonts, but I found that bold version fonts doesn't have all powerline symbols. Missing are: e0a0-e0a3 and e0b0-e0b3.
Pics related:
![2016-03-12-213953_954x1057_scrot](https://cloud.githubusercontent.com/assets/4434640/13725221/899695ca-e89b-11e5-8916-8a9d3a1f2da6.png)
![2016-03-12-214021_950x

[2016-03-13 11:10] ryanoasis commented on #63
I see. Thanks for the report. I will look into this. :+1:

[2016-03-13 16:44] benedu opened #64 "Extra spacing after installing patched Hack font"
Hi,

I don't know if I am doing something wrong, but after installation of the patched Hack font my terminal is looking wired. It seems that there is some extra spacing when the cursor is over a character. Please see my attached screenshots.

![footer1](https://cloud.githubusercontent.com/assets/14878247/13729998/941324c6-e942-11e5-86d9-cdfe93837fb0.png)

Please note that I am not added any extra

[2016-03-13 23:48] ryanoasis commented on #64
Thanks for the report :+1:

I will look into this when I can :blush:

[2016-03-14 00:15] alpertuna opened #65 "There is uncomfortable space after airline-arrow-left"
Hello,
I'm using xterm and xterm's font-face setting to use patched font so not gvim but it doesnt matter, anyway.
This is DejaVu Sans Mono font and there is a problem.
![2016-03-14-015303_536x49_scrot](https://cloud.githubusercontent.com/assets/12586695/13732272/a5c038fe-e987-11e5-803d-27bfb5d01b36.png)
As you see at right side there is a little space after airline arrow icon, at left side there

[2016-03-14 01:24] ryanoasis commented on #65
@alpertuna Hey thanks for the report. :+1:

I have seen and/or had this problem before as well.

I am not sure how much can be done to eliminate this 100% but I will look into it nonetheless when I get some time

[2016-03-14 01:30] ryanoasis opened #66 "Add contributing reference + issue and PR templates"
These really need to be added to help with contributing and help :blush:

I am thinking something similar to what I have here: https://github.com/ryanoasis/vim-devicons/tree/issue_pr_templates/.github

^ some of the ideas were from React's templates ... I do not recall others I got ideas from

If anyone else has any suggestions or examples for improving the clarity for contributing or documentatio

[2016-03-14 01:34] ryanoasis opened #67 "Collaborators and/or converting to an organization"
Debating converting to an organization or at least possibly inviting collaborators.

I would probably target starting with those who have already submitted PRs.

Any thoughts? Ping here if interested or have any suggestions.

---

I have not decided anything yet :stuck_out_tongue: just jotting my thoughts down

[2016-03-14 14:56] F1LT3R opened #68 "ProggyClean - Some broken icons"
I was excited to see ProggyClean in your font list. This is my favorite programming font. Unfortunately it seems the icon set may be incomplete? (I'm using OSX El Capitan)

Look at the tabs/status bar in this screen shot. I get the [?] icon. :(

**ProggyCleanTT Nerd Font Complete Mono.ttf:**
<img width="723" alt="screen shot 2016-03-14 at 10 52 27 am" src="https://cloud.githubusercontent.com/asset

[2016-03-14 16:39] ryanoasis commented on #68
@F1LT3R Ah yes looks like they are missing.. not sure what is going on but I did confirm powerline glyphs are indeed missing. :worried:

Thanks for the heads up! :+1:

--

**update:** so...... apparently there was a typo which prevents the powerline symbol font from being copied at all! D'oh! This was a PR and I did not catch it (it's all good).

Here is an after the fix (right) and before the fix

[2016-03-14 17:51] F1LT3R commented on #68
That was quick! :)

Looking forward to updates.

Perhaps this is the wrong place to ask, but I'll try anyway: I wondered if
we can get ProggyCleanTTSZ on the list? That would be ProggyCleanTT with
slashed zeros instead of dotted zeros.

On Mon, Mar 14, 2016 at 12:39 PM, Ryan L McIntyre <notifications@github.com>
wrote:

[2016-03-14 18:01] ryanoasis commented on #68
Sure :smile:,  just make a separate issue or I will make one soon if you'd rather.

I think I came across a bunch of ProggyClean variations and in my ignorance wasn't sure exactly what the differences were and picked only a few to patch.

[2016-03-14 18:06] F1LT3R opened #69 "Add Font - ProggyCleanTTSZ"
As [mentioned](https://github.com/ryanoasis/nerd-fonts/issues/68#issuecomment-196402643): it would be great to get `ProggyCleanTTSZ` added to the official Nerd-Font library. I believe the `SZ` (Slashed Zeros) are much easier for the eyes to scan at 3am. :)

[2016-03-15 13:44] chrissimpkins opened #70 "Hack hints are being removed in Nerd Fonts patched versions, here's the fix"
Great project Ryan.  Thanks for including Hack with your patched releases.

It looks like your patching approach is removing the hints from the Hack ttf variants.  This could lead to issues for some Linux distros and all Windows users.  They are simple to restore if you would like to modify your releases (or for anyone who wants to do this on their own).

Use the following approach prior to the fo

[2016-03-15 13:53] F1LT3R commented on #68
I did try checking out `nerd-fonts` and patching `ProggyCleanTT` myself changing line: 421

[code]

I ran:

[code]

And also with `--careful`..

But these did not seem to fix the issue for me :(

[2016-03-15 13:55] F1LT3R commented on #68
What program are you using in your screenshot where you are checking that the correct glyphs are at the correct registers?

[2016-03-15 13:58] F1LT3R commented on #68
Ah, I changed the next line also and it seems like I have glyphs! :smile:

But... they seem to be a funny size. Maybe I can live with that?

![screen shot 2016-03-15 at 9 58 21 am](https://cloud.githubusercontent.com/assets/1218446/13780121/8208c918-ea94-11e5-9b1b-b6cddba13f8c.png)

[2016-03-15 14:04] F1LT3R commented on #68
Created PR: https://github.com/ryanoasis/nerd-fonts/pull/71

[2016-03-15 14:24] ryanoasis commented on #68
FontForge gui. Not an extensive check sorry just quickly opened the patched fonts to verify my theory.

Glad it worked for you as well! :smile: Thanks for checking it too.

This something a bit tricky I need to improve and work on and there are similar issues currently open related to glyph sizing and/or positioning issues.

Great thanks, I'll get it in to the next release :+1:

[2016-03-15 14:38] ryanoasis commented on #70
@chrissimpkins Awesome thanks! Thanks for the compliments :blush: . I love Hack :wink:

Your support means a lot, I will try to get this fixed when I can (might not be next 'release' because I have already pushed to much into it :laughing:) but at the very least your instructions are provided for help :+1:

[2016-03-15 14:45] chrissimpkins commented on #70
:thumbsup:

[2016-03-16 15:05] kevinSuttle opened #72 "https://github.com/caskroom/homebrew-fonts"
Would love to be able to install the fonts in this repo via
https://github.com/caskroom/homebrew-fonts cc @phinze

[2016-03-16 15:25] rohithmeethal commented on #57
Please add ligature, I cant even look into my IDE with fonts without ligature, once I started using fonts with ligature.

[2016-03-19 03:09] ryanoasis commented on #72
Sounds interesting, been busy so just no replying :sweat_smile:

[2016-03-19 09:21] benedu commented on #64
I should have installed the Mono version of Hack. Problem solved :)

Sorry :S

[2016-03-19 09:21] #64 closed

[2016-03-19 11:48] ryanoasis commented on #64
Ah that makes sense thanks :smile:

[2016-03-19 15:32] Pr0x1m4 commented on #37
Experienced the same problem
Arch Linux: 4.4.1
Wm: dwm
Font: Hurmit Medium Complete

Repatching the font without the `--use-single-width-glyphs` or `-s` flag fixed the problem. (In vim as well as statusbar)
![status](http://i.imgur.com/DXXMiXN.png)
![vim](http://i.imgur.com/Iw1qCWI.png)

[2016-03-19 16:58] jrolfs commented on #72
I definitely have had my eye on that as well. They don't seem too particular over there as there are quite a few Powerline patched fonts in `master` already but I figured it would be worth waiting until [0.7.0](https://github.com/ryanoasis/nerd-fonts/issues?q=is%3Aopen+is%3Aissue+milestone%3Av0.7.0) until we start making PRs to Homebrew Fonts.

[2016-03-19 17:05] kevinSuttle commented on #72
👍🏼

[2016-03-19 19:13] ryanoasis commented on #49
I don't have fontforge setup with py3 bindings nor have it compiled with py3 so I cannot test however this script: `font-patcher-py3` **should** work for python3, if someone could test it out? That'd be great!

`fontforge -script font-patcher-py3 unpatched-sample-fonts/Monoid/Monoid-Italic.ttf --powerline --powerlineextra`
or
`python3 font-patcher-py3 unpatched-sample-fonts/Monoid/Monoid-Italic.tt

[2016-03-19 19:30] ryanoasis commented on #37
@MadsRC @Pr0x1m4 Thanks for the info.

Unfortunately it is a limitation of the script and my knowledge of how to best fix it. The only current alternative as @Pr0x1m4 mentioned is to **not** use the single width glyph version of the font (basically a font name that doesn't end in 'mono'). This also is a WIP to be cleared up (which font do I even want?)

[2016-03-23 20:56] logarytm opened #73 "Extract the patched fonts into separate repository?"
I should not have to clone/download +1GiB repository just to patch one non-free font. No, optical fiber cables aren't available in every location yet on this planet.

[2016-03-23 23:28] ryanoasis commented on #73
Yeah I am sorry about that. :disappointed:

You are correct they really should be in a different/separate repo. :+1:

It is something that has come to my mind several times but I have yet to address the issue (mostly due to a backlog of other issues).

**workaround:** I know this isn't ideal but you can actually patch any font you want without downloading the entire repo.
The only things you shoul

[2016-03-24 19:51] LNQ opened #74 "Hurmit font(s) glyphs distorted"
Hi, tried the Hurmit complete mono light orf font and found the powerline glyphs pretty messed up.
Other glyphs look distorted also.
See screenshots.

![2016-03-24-203656_998x356_scrot](https://cloud.githubusercontent.com/assets/7047368/14029233/417d2942-f201-11e5-8047-cc075ebfaff7.png)

![fontforge](https://cloud.githubusercontent.com/assets/7047368/14029116/90d89f18-f200-11e5-957f-cdffac5749ff.p

[2016-03-24 23:46] ryanoasis commented on #74
Hey, thanks for the report. :+1:

Sorry this is a bit of a pain point at the moment. :cry:

I really need an automated script to generate previews for the various fonts to help me test them. :grin:

[2016-03-25 17:59] ryanoasis commented on #58
@eugenesvk Yeah I think this should be feasible and done at the `1.0.0` release since it will be a breaking change for both projects.

A few other interesting motivator to decrease the number of Fonts:
- Cloning and downloading the Repo is not feasible for everyone: #73
- May be coming up on a GitHub repo size limit: https://help.github.com/articles/what-is-my-disk-quota/

[2016-03-28 17:17] adamclaxon commented on #56
I have run into a variant of this issue as well. The script seems to assume the font name is the same as the family name. While the font's I have generated are now organized correctly in Font Book, all variants are generated with the same font name, and Font Book interprets them as Duplicates. The proper method I have found (at least on OS X) is for the style to be included in the font name ("Oper

[2016-03-28 18:17] ryanoasis commented on #56
@adamclaxon

Thanks I think we are getting close to getting this fixed now. You are correct it seems that the font name needs the style to identify it properly as a separate font variant.

--

If you want (and it would be a great help!) you can try patching with the [0.7.0 branch](https://github.com/ryanoasis/nerd-fonts/tree/0.7.0) because it seems to be solving most of the issues so far at least.

[2016-03-31 22:41] polarathene opened #75 "Request: Add font-linux"
Complimentary glyphs as alternatives to the penguin for popular distros: https://github.com/Lukas-W/font-linux

[2016-03-31 22:54] ryanoasis commented on #75
Hey that's really cool and a nice idea too! Thanks

[2016-04-10 20:50] arjanfrans opened #76 "Fonts look blurry"
I am using Ubuntu with a resolution of 1920x1080 and the patched fonts look verry blurry. I was using [powerline fonts](https://github.com/powerline/fonts) before, which looked much sharper.

This is how it looks in my terminal with nerd-fonts:

![screenshot from 2016-04-10 22 47 37](https://cloud.githubusercontent.com/assets/3588470/14413018/7a79782a-ff6e-11e5-9f4c-8b129157f5e4.png)

This font is

[2016-04-11 18:53] ralpheeee88 opened #77 "symbols decrease size afetr install"
When i install nedr fonts the icons decrease in size (are squashed together)

before nerd fonts: (have a look chrome icone for example)
https://i.imgur.com/Pp45FRX.png
after
https://i.imgur.com/Urg49Id.png

also wanted to use powerlevel9k and if I install nerd fonts again the icons get mixed up and the wrong symbols are used with the theme....

hope you can point me in the right direction...thxs!

[2016-04-11 19:21] ryanoasis commented on #77
It looks to me like one of them is 'true Mono' and the other the glyphs are double width.

Which font are you using?

[2016-04-11 19:22] ryanoasis commented on #76
That is weird, I will try to check that out

[2016-04-11 19:23] ralpheeee88 commented on #77
Droid Sans Mono for Powerline

[2016-04-11 19:47] ryanoasis commented on #77
Is that a patched version from one of the nerd fonts (https://github.com/ryanoasis/nerd-fonts/tree/master/patched-fonts/DroidSansMono/complete) ?

[2016-04-11 19:53] ralpheeee88 commented on #77
yes it is, i also tried different fonts and still have issue..(also look at the graphs as they reduced in size as well)

[2016-04-11 20:14] ryanoasis commented on #77
Ah okay I see. But which one those did you install? E.g. `Droid Sans Mono for Powerline Nerd Font Complete.otf` or `Droid Sans Mono for Powerline Nerd Font Complete Mono.otf`

To me it looks like the 'Mono' version which would explain why those graphs are getting squished

[2016-04-12 18:05] dritter commented on #77
The answer to the powerlevel9k question is quite simple: we do not support nerd fonts yet. But you can built your own set of glyphs based on nerd fonts, if you want. Just override every icon variable with an according code point from you chosen font. Type `get_icon_names` to get a full list of icon variables.

[2016-04-12 18:14] ralpheeee88 commented on #77
Nice....Thxs so much dritter.....also ryanoasis with arch I discovered its better not to install from AUR or use your script to install once cloned as I get the glyph issue....just git clone....copy fonts to ~/.fonts and fc-cache -vf that did the trick for me....

[2016-04-12 19:45] #77 closed

[2016-04-12 20:32] ryanoasis commented on #77
@dritter Thanks for the response on powerlevel9k I completely missed that in the message :blush:

--

@ralpheeee88

Thanks for the updates.

That's odd but I am glad you got it sorted out

[2016-04-19 01:23] #53 closed

[2016-04-19 01:23] #48 closed

[2016-04-19 01:23] #49 closed

[2016-04-19 01:23] #52 closed

[2016-04-19 01:23] #54 closed

[2016-04-19 01:23] #55 closed

[2016-04-19 01:23] #66 closed

[2016-04-19 01:23] #69 closed

[2016-04-19 01:36] #59 closed

[2016-04-19 01:36] #68 closed

[2016-04-19 09:34] saschagrunert opened #78 "Powerline symbols not correctly rendered"
#### Powerline symbols not correctly rendered on v0.7.0

When using the latest release v0.7.0 the powerline symbols are not correctly rendered. All other icons are rendered well. For example, within vim:

![screenshot](https://cloud.githubusercontent.com/assets/695473/14634538/a7338f9e-0622-11e6-8fb8-69a4552b6c74.png)

#### Setup

- Font: `Meslo LG M DZ Regular for Powerline Nerd Font Complete.otf

[2016-04-19 11:59] ryanoasis commented on #78
Apologies and thanks for the report. I will look into it

[2016-04-20 01:54] ryanoasis commented on #78
Ah yeah I was growing impatience in getting v0.7.0 out :blush:

Good news is this is a somewhat easy fix, fonts that already have powerline glyphs should not get patched by Nerd Fonts. Currently only Hack and Source Code Pro are working correctly in this scenario.

--

Also, just wondering if you find the issue template helpful or annoying?

[2016-04-20 06:43] saschagrunert commented on #78
Ah alright, no the issue template is a quite good starting point. :)

[2016-04-27 01:48] shellkr opened #79 "AttributeError when patching with py3 version script"
I am trying to patch PragmataPro with `--fontawesome`, `--powerlineextra` and `--octicon` but it fails. If I only try `--powerline` and `--pomicons` it works.

**Coomand I run:** `fontforge -script font-patcher-py3 $HOME/PragmataPro/PragmataPro.ttf --fontawesome --powerline --powerlineextra --pomicons --octicons`

**Which gives the traceback:**

    ...
    Traceback (most recent call last):
    F

[2016-04-28 12:16] davewongillies opened #80 "Add Fantasque Sans Mono"
https://github.com/belluzj/fantasque-sans

[2016-04-28 13:55] ryanoasis commented on #79
Hey, sorry I just haven't had time to look into this but I promise you I will. Thanks :+1:

[2016-04-28 13:59] ryanoasis commented on #80
Nice I really like this font!

The idea of the "wibbly-wobbly handwriting" partly reminds me of Operator Mono... :smile:

Thanks

[2016-04-28 14:10] ryanoasis commented on #76
Sorry, been busy but I promise to check this out (if of course it is still an issue for you?)

[2016-04-28 17:56] arjanfrans commented on #76
I recently upgraded to the new Ubuntu version. I can not reproduce it anymore.

I think you can close this issue.

[2016-04-28 20:05] ryanoasis commented on #76
@arjanfrans Hey thanks for the update I appreciate it!

Closing for now.

[2016-04-28 20:05] #76 closed

[2016-04-29 13:50] ryanoasis commented on #73
Just to be clear I would probably only get around to this if there is enough interest to form a GitHub organization (see #67)

[2016-04-29 15:05] kazuoteramoto commented on #79
Looks like the problem was introduced in 019bf46269e0b7598eb380d151c263e67488acec `.unicode` is the unicode code point of `glyph` not a unicode encoded string.

If you apply this sees to work
[code]

[2016-04-29 23:50] shellkr commented on #79
Can confirm that the patch works. No more errors.

[2016-04-30 00:29] shellkr commented on #79
However the patching doesn't seem to have worked. The powerline is not in sync and FontAwesome is not shown. As shown in the screenshot below.

![screenshot](https://ptpb.pw/4Qqi.png)

[2016-04-30 01:07] ryanoasis commented on #79
@shellkr @kazuoteramoto Thanks for testing it out and the info here.

Seems that I was warned about 2to3 changing unicode to str (see #49) so my bad there.

I can confirm the same error, but the change @kazuoteramoto pointed out seems to work for me:

`fontforge -script font-patcher-py3 ../temp/nerd-fonts/PragmataPro.ttf --powerline --powerlineextra --fontawesome`

![selection_29_04_16_21 05 59_12

[2016-04-30 11:17] shellkr commented on #79
@ryanoasis What terminal is that? And you can see the powerline is a bit off in yours too. If you have a terminal which supports fontconfig it will look in all your fonts for glyphs. So you only need one font among all that is okay and it will work. It might not be the patched font you see in that image.

[2016-04-30 12:04] ryanoasis commented on #79
You are correct I need to make sure to clear out my patched fonts, I will try a less lazy test today.

Yeah the powerline symbols are definitely off

[2016-04-30 21:28] shellkr commented on #79
Ok, seems like the issue is mainly with Urxvt. https://github.com/FortAwesome/Font-Awesome/issues/3681. I got it working with the help of 'xft:SauceCodePro NF:pixelsize=9' as a fallback in my ~/.Xresources though. So it should be possible to get PragmataPro to work too somehow.. not sure how.

![FontAwesome working](https://ptpb.pw/E3Vl.png)

[2016-05-03 07:47] aternummus opened #81 "Add Iosevka programming font"
Hi Ryan,
this is the suggested reminder ;-)
PLEASE work your magic on the Iosevka font familiy:
https://github.com/be5invis/Iosevka

[2016-05-03 20:09] rosshadden commented on #80
:+1: I can't wait to use this project1  Just waiting for Fantasque support, which I see you added to the next milestone :smile:

[2016-05-04 01:25] ryanoasis commented on #80
@rosshadden Thanks, yep next milestone (well next minor milestone)

[2016-05-04 01:31] ryanoasis commented on #81
Yep thanks for creating an issue. I'll aim for next release. Cheers :smile:

[2016-05-04 01:54] rosshadden commented on #80
Actually I'm using it now, by simply adding a patched Nerd font as a fallback font in my terminal, as suggested in some other issue here.  Great stuff!

[2016-05-08 17:10] herrbischoff commented on #40
Is there any solution in sight? I have the same issue with the Powerline symbols not showing up in the patched M+ 1m Regular. The other icons do work though.

[2016-05-09 20:58] ryanoasis commented on #40
@herrbischoff I was able to replicate the issue of missing powerline symbols recently. Not sure what is going on (will have to dig a bit more into it). Apologies

[2016-05-13 06:42] be5invis commented on #81
There are some very low-level operations are performed when building Iosevka (like forcing a `OS/2.xCharWidth` and adding a `DSIG`), I'm not sure whether this patching script can preserve this.
Perhaps you can checkout [otfcc](https://github.com/caryll/otfcc), which is used to build the fonts with direct control (and optimizations).

[2016-05-14 12:45] ryanoasis commented on #81
@be5invis Thanks for chiming in :smile:

I appreciate your feedback and warnings. :+1:

I will have to look more into it but I think FontForge can only provide a 'dummy' `DSIG` which I only currently understand to provide Windows compatibility.

You are right possibly the current patch script can't do a complete job and given your feedback maybe it is best to link to a new issue with the items you

[2016-05-14 13:06] ryanoasis commented on #79
Going to make a bash script to do the 2to3 conversion because of this.

https://docs.python.org/2/library/2to3.html#to3-fixers

unicode
    Renames unicode to str.

[2016-05-14 13:12] be5invis commented on #81
@ryanoasis A patching proposal:

1. Dump Iosevka and your symbol font (as .ttf, without Powerline symbols) into JSON using `otfccdump`.
2. Write a program to merge them. Two main tables: `cmap` and `glyf` should be dealed with. (I do not think that this symbol font has OpenType features. If so, OpenType-related tables should be also merged.)
3. (optional) Re-hint it using `ttfautohint`
4. Build a

[2016-05-14 14:42] ryanoasis commented on #81
@be5invis Hey thanks a lot. I will seriously consider drastically changing certain build processes. I am going to open a separate ticket however since this one will be closed for [0.8.0 release](https://github.com/ryanoasis/nerd-fonts/milestones/v0.8.0)

[2016-05-14 15:00] be5invis opened #83 "otfcc-driven patching workflow"
Given that some of the programming fonts (like [Iosevka](https://github.com/be5invis/Iosevka)) may contain special metadata to achieve some special targets (like being used within Windows console window). Therefore the current patching script (using FontForge) may not be appropriate since FontForge cannot generate a font with such specialized data. A replacement used for patching may be involved w

[2016-05-14 15:00] be5invis commented on #81
@ryanoasis Opened #83

[2016-05-14 15:09] ryanoasis commented on #81
@be5invis Great, perfect. Thanks

[2016-05-14 21:32] mbirth opened #84 "Provide single font with custom glyphs only for Fontconfig aliasing"
Please provide an all-in-one font with only the custom glyphs so it can be used with [Fontconfig aliasing](https://powerline.readthedocs.io/en/latest/installation/linux.html#fontconfig).

This is much easier than patching all fonts.

[2016-05-14 21:46] rhssk opened #85 "Add Code New Roman font"
https://sourceforge.net/projects/codenewroman/

Already tried patching it myself, but I must doing something wrong because the statusline symbols aren't centered correctly (https://i.imgur.com/vHNAW2A.png).

[2016-05-15 02:35] ryanoasis commented on #79
@shellkr If you are still having trouble patching PragmataPro or some other font issues feel free to open a separate issue. I am going to close this one (the AttributeError) for [0.8.0 release](https://github.com/ryanoasis/nerd-fonts/milestones/v0.8.0) which I am almost done with :smile:

[2016-05-15 03:35] ryanoasis commented on #84
Yes you are right in many cases this would be ideal. :+1:

Fontconfig unfortunately I was not aware of when I started on this journey :relaxed: but we should provide something even with a font patcher and providing patched fonts :smile:

[2016-05-15 03:36] ryanoasis commented on #85
Good suggestion thanks.

The issues you are having are probably to do with the em size, you probably aren't doing anything wrong. There are still glyph sizing issues we need to work out when patching :worried:

[2016-05-15 03:52] ryanoasis commented on #63
Turns out this is an issue with Hack itself which has since been fixed in 2.020 (see: https://github.com/chrissimpkins/Hack/issues/181#issuecomment-214938967) version but we are using 2.019

[2016-05-15 18:26] #78 closed

[2016-05-15 18:26] #81 closed

[2016-05-15 18:26] #63 closed

[2016-05-15 18:26] #75 closed

[2016-05-15 18:26] #79 closed

[2016-05-15 18:26] #80 closed

[2016-05-15 18:50] ryanoasis commented on #65
@alpertuna Can you try downloading again with latest release?

[2016-05-15 18:54] ryanoasis commented on #74
In the latest release ([v0.8.0](https://github.com/ryanoasis/nerd-fonts/releases/tag/v0.8.0)) the merge (e0a0), line number (e0a1), and lock (e0a2) glyphs should now be proper (because it is using the glyphs from the original font).

The others still have issues because of the EM sizes which I have yet to address, sorry.

[2016-05-16 10:02] lcorsini opened #86 "Terminus distorted glyphs after patch"
Hello,
Since Terminus doesn't seem to be provided because of some issues in patching the original bdf files,
I tried to use the script to patch this TTF version http://files.ax86.net/terminus-ttf/ which includes at least the basic powerline symbols
the patch works, but the font gets very distorted as you can see in the screenshot (this font is very clear at 12points without antialiasing)

![font](

[2016-05-16 12:16] alpertuna commented on #65
+1 Perfect, it seems problem solved.
![2016-05-16-150906_444x274_scrot](https://cloud.githubusercontent.com/assets/12586695/15289041/0ef0788a-1b78-11e6-8fc9-687b141b8fca.png)

By the way this is DejaVu... mono one. And terminal is xterm, not gvim.
When I try non-mono font, left and right letter spacing is very huge in xterm but for gvim no problem again.
In the past also had this issue. However mo

[2016-05-16 14:12] ryanoasis commented on #65
Yeah mono one looks fairly good, here is my vim in xterm with DejaVu:

![selection_16_05_16_10 07 05_814x108_001](https://cloud.githubusercontent.com/assets/8083459/15291889/4cfd2742-1b4e-11e6-8cab-b4c2b57d9e75.png)

And non glyph mono of DejaVu:

![selection_16_05_16_10 11 05_836x109_001](https://cloud.githubusercontent.com/assets/8083459/15291941/979fafe0-1b4e-11e6-9381-664041b461fd.png)

[2016-05-16 14:18] alpertuna commented on #65
I think problem is solved :relaxed:

[2016-05-16 14:18] #65 closed

[2016-05-17 09:05] be5invis commented on #83
@ryanoasis I've made a sample code using Node.js and otfcc: [nerdpatcher.7z](http://7xpe0v.com1.z0.glb.clouddn.com/nerdpatcher.7z)
The `nerd.ttf` is a TrueType font matching the target font's upm. The current patching script simply drops the hints of the Nerd part. You can re-hint it using ttfautohint after the patched `.ttf` is created.

[2016-05-18 01:21] ryanoasis commented on #86
@lcorsini Thanks for the details. Nothing particular is coming to my mind right now but I will try to take a look. :smile:

[2016-05-18 01:25] ryanoasis commented on #83
@be5invis I really appreciate all this thanks. Not sure when I will get around to trying it out but I want to! :+1:

[2016-05-18 05:12] lcorsini commented on #86
Thanks,
Maybe if there is no particular licensing problem you could include this TTF in your distribution (I use Terminus a Lot, it's one of the best in readability, and this TTF works cross platform even on windows and osx)

[2016-05-21 11:34] s0r00t commented on #37
Having same troubles with gVim + patched Hack Regular from the repo. Arch x64 here.
When I'm using the Mono variant as `guifont`, this happens :
![Stretched](http://i.imgur.com/1jKAdhy.png)

And when I'm using the non-Mono variant, glyphs are cut in two :
![Cut](http://i.imgur.com/9so6dBA.png)

Weird enough, if I'm pasting long lines of commands in the prompt (ex: `let g:WebDevIconsUnicodeGlyphDou

[2016-05-21 13:06] s0r00t commented on #37
I just discovered that changing workspaces in i3wm fixes the cut icons... Weird.

[2016-05-23 11:00] be5invis commented on #84
And yes, providing a “custom-only” font file (in ttf) is extremely useful for users to patch their own fonts.

[2016-05-26 10:49] minerva1129 opened #87 "0x2665 and 0x26a1"
(I'm afraid my English may be hard to read, sorry...)
I want to use "heart(0x2665)" and "zap(0x26a1)" character, they are from octicons.
However, I can't find them in patched-fonts, but they exists in glyph-source-fonts/octicons.tff ...

[2016-06-01 11:42] ryanoasis commented on #87
No worries (and by the way I can read it just fine :smile:)

At first I thought this was likely due to the conflict between Octicons and Font Awesome ranges used (see: https://github.com/ryanoasis/nerd-fonts/blob/master/font-patcher#L215-L216)

However the Unicode points you mention are very different than most of Octicons (`f000` and above)

It **definitely** looks like you have found a bug becau

[2016-06-01 12:37] minerva1129 commented on #87
I'm using complete version. I did with `--fontawesome --fontlinux --octicons --pomicons --powerline --powerlinextra`.

[2016-06-02 02:13] ryanoasis commented on #87
Thanks

[2016-06-02 18:39] UFOwl commented on #37
Same thing with Windows 10 gVim.

I download both `Mono Windows Compatible` and `Windows Compatible` (without `Mono`) version, and open them with FontCreator. It seems that icons in former one are half the width of the latter, which making them look 'streched'. However, only the former (`Mono` version) can be recognized by gVim... :(

Finally I replace the icons in `Mono` version with that of the

[2016-06-02 19:47] ryanoasis commented on #37
Nice solution/idea 😄

Not sure why it would not work in gvim however

[2016-06-03 08:02] UFOwl commented on #37
The problem (font without `Mono` suffix can't be recognized by gvim) seems font-specific. `DejaVuSansMono` suffers from it while `FiraCode` doesn't. Today I try `Fura Code Regular Nerd Font Complete Windows Compatible` (without `Mono`) and the font successfully shows up in the `Select Font...` menu of gvim, which saves me from modifying it manually:)

[2016-06-04 12:39] TheRizzen commented on #23
Still no terminus patched font ? :(

[2016-06-04 13:05] ryanoasis commented on #86
Yes if the license is fine it would be better to just try to patch the TTF like you have done 😄

As for the issues you mentioned I just haven't gotten around to looking into it yet 😞

[2016-06-04 13:07] ryanoasis commented on #23
Not yet sorry 😞

Related see #86

[2016-06-08 18:26] be5invis commented on #83
ps. I suggest that the name of the patched font is “Imposevka” :ghost:
Means “Io<u>sevka</u> with <u>impo</u>rted glyphs”

[2016-06-08 21:01] ryanoasis commented on #83
@be5invis Good idea and that is a pretty clever name :smile:

I will update the name in the next release (the otfcc patching ... probably will not be soon though :blush:).

---

Are you wanting or saying you are Reserving the **Iosevka** name ?

I did not see the typical 'Reserved Font Name' declaration in the [Iosevka License](https://github.com/be5invis/Iosevka/blob/master/LICENSE) even though t

[2016-06-08 21:11] be5invis commented on #83
@ryanoasis I thought that name reservation does not need to declare it explicitly in LICENSE. :cry:
It is now added.

[2016-06-08 21:15] ryanoasis commented on #83
Heh that is what I wasn't exactly sure about either but it *sounds* like it from what I was reading. Either way I would have done the name change as it is **your** font after all :wink:

[2016-06-08 21:20] be5invis commented on #83
My suggested patching workflow is to use the script in my previous comment, which preserves all “good” properties of Iosevka. Perhaps you can create a ttf with only NERD glyphs, and set upm to 1000, and char width to 500.

[2016-06-08 21:20] ryanoasis commented on #83
Ah here we go:

related: [5.6](http://scripts.sil.org/cms/scripts/page.php?item_id=OFL-FAQ_web#cbd32a36)

per [5.7](http://scripts.sil.org/cms/scripts/page.php?item_id=OFL-FAQ_web#caa50365)

[2016-06-08 21:22] be5invis commented on #83
@ryanoasis I've added the declaration into `LICENSE.md`.

[2016-06-08 21:27] ryanoasis commented on #83
Thanks for the info on the ttf i'll give that a try sometime

[2016-06-11 23:32] her commented on #67
Hey @ryanoasis

I'd be happy to help. I'm taking a second to kinda catch up, I've been really busy with work and so I haven't had a lot of time to keep an eye on what's happened.

Is there any particular place that needs attention?

I noticed that in this issue [discussing undocumented configuration](https://github.com/ryanoasis/vim-devicons/issues/152) and so that sort of pops out as needing to b

[2016-06-12 02:17] ryanoasis commented on #67
@her Hey thanks :smile: . No worries, I've actually been very busy with work as well.

Particular? Not that I can think of. Anything that improves things I am open to :+1:

For [#152](https://github.com/ryanoasis/vim-devicons/issues/152) I am not exactly sure there is a bug but probably options do need to be clarified in the readme.

I've been doing [a lot of work on the readme lately](https://git

[2016-06-12 02:27] her commented on #67
Nice! Okay, got it. 🙂

As far as an Organization is concerned, were you thinking that would just make it easier to arrange the various repositories supporting the larger devicon concept? It may be beneficial to have them all organized in a central Devicon organization, with maybe a single point of release for users. Just kinda spit balling here 😄

Also, a collaborator gitter is a really good idea,

[2016-06-12 10:53] CrashyBang commented on #34
So just out of curiosity if I have font awesome and octicons installed how to I reference octicons?

[2016-06-12 18:12] ryanoasis commented on #34
@CrashyBang If you are using one of the patched fonts with both glyph sets (e.g. 'Complete') then the Octicons will be in a new range (`f400` to `f497`) and _not_ their original range (`f000` to `f0db`). This is due to a conflict of ranges with Font Awesome.

see below:

![octicon-original-range](https://cloud.githubusercontent.com/assets/8083459/15992976/9965a244-30a7-11e6-9a4c-328866ebad7b.png)

[2016-06-12 21:10] CrashyBang commented on #34
@ryanoasis awesome sorry I was not sure of the range number (4) i.e `4XXX` if that makes any sense?

This is awesome thank you!

[2016-06-12 21:21] ryanoasis commented on #34
@CrashyBang No problem :smile: It should probably be clarified in the readme because I can see where it would be confusing right now :blush:

[2016-06-13 09:28] be5invis commented on #83
@ryanoasis I’ve made a full script to build Imposevka, and sample fonts built from the latest 1.9.0 release. Link: http://7xpe0v.com1.z0.glb.clouddn.com/imposevka-patcher.7z

To build:

1. Prepare nodejs and [otfcc](https://github.com/caryll/otfcc)
2. Put Iosevka files into `src/`
3. Put Nerd’s additional characters into `nerd.ttf`
4. `make`

[2016-06-14 12:38] ryanoasis commented on #83
@be5invis Wow really great stuff thanks :+1:

Apologies, I hope you don't take my slow response for lack of interest.

[2016-06-15 05:42] aslijiasheng commented on #13
@RageZBla  hello I encountered the same problem  , Will you solve it?

[2016-06-15 05:44] RageZBla commented on #13
@aslijiasheng changing the `Non-ASCII Font` settings fixed it for me.

[2016-06-15 06:52] aslijiasheng commented on #13
I changing the ``` Non-ASCII Font```, but problem still show
![image](https://cloud.githubusercontent.com/assets/6622275/16070525/b703a7c0-3308-11e6-85c3-0883ea6ea619.png)

[2016-06-15 06:52] aslijiasheng commented on #13
![image](https://cloud.githubusercontent.com/assets/6622275/16070534/c49f99b6-3308-11e6-8828-1fa35f46cb24.png)

[2016-06-15 06:53] aslijiasheng commented on #13
@RageZBla abvoe my vimrc and iterm config, Have it problem?

[2016-06-15 06:55] RageZBla commented on #13
@aslijiasheng your screenshot is showing the custom icons so not sure what problem you are having?

[2016-06-15 07:01] aslijiasheng commented on #13
@RageZBla I use web-devicon after vim index.php for example:

[2016-06-15 07:01] aslijiasheng commented on #13
![image](https://cloud.githubusercontent.com/assets/6622275/16070732/0f4ed174-330a-11e6-9e7d-1e843a73ef10.png)

[2016-06-15 07:03] RageZBla commented on #13
@aslijiasheng thanks for explaining, did you try different font or font size, I think some patched fonts don't work well with small font size

[2016-06-15 07:06] aslijiasheng commented on #13
@RageZBla I use powerline sauce and many more font or font size, but this problem still show it。  this is fix?

[2016-06-15 07:43] RageZBla commented on #13
@ryanoasis any ideas about that one?

[2016-06-15 11:45] ryanoasis commented on #13
My gut is saying to look into `listchars`

I will try to give more help once I reach my pc

[2016-06-15 12:38] ryanoasis commented on #13
@aslijiasheng

File encoding looks correct (because you can see the glyphs)

If you can, could you link to your `vimrc` or provide minimum configuration where this problem can be replicated?

If you can visually select the 'defect chars' this could help figure out whats going on: http://vim.wikia.com/wiki/Identify_the_syntax_highlighting_group_used_at_the_cursor

I have that command mapped, to `<l

[2016-06-16 00:17] aslijiasheng commented on #13
ok, I execute ``` :set fillchars?``` show
![image](https://cloud.githubusercontent.com/assets/6622275/16101629/3c82a34c-339a-11e6-8508-b3104be03e5f.png)
and ``` :set listchars?``` show
![image](https://cloud.githubusercontent.com/assets/6622275/16101641/4f187d38-339a-11e6-84e7-7bbb251990df.png)
My vimrc about vim-devicons for example :
[code]
this is my vimrc complete config https://github.com/asl

[2016-06-16 01:46] lisposter opened #88 "Vertical offset"
#### Vertical offset(font dropped down)
- FuraMonoForPowerline Nerd Font
- iTerm2 v3, neovim
- OSX

![image](https://cloud.githubusercontent.com/assets/741001/16102942/f73f5db8-33a6-11e6-8c3e-c60d2d41883f.png)

and airline config

![image](https://cloud.githubusercontent.com/assets/741001/16102967/22979994-33a7-11e6-8e60-c956c9906830.png)

[2016-06-16 07:22] praveenpuglia opened #89 "Add Mononoki Font"
I absolutely love this and it's also available on GitHub. Can this be made part of the project please?

http://madmalik.github.io/mononoki/

[2016-06-16 11:49] ryanoasis commented on #89
@praveenpuglia Yes, yes it can :smile:

I just checked the license, so far so good.

One thing to be careful on is the Reserved Font Name. It looks like it was previously called "monoOne" and only that name is explicitly reserved in the license. I will probably ask about this.

[2016-06-16 11:52] ryanoasis commented on #88
Ouch, thanks I'll try to look into this

[2016-06-16 14:20] lisposter commented on #88
@ryanoasis  thanks for check this, if you want more info, ping me :)

[2016-06-16 22:51] xdaimon opened #90 "Add GohuFont"
Could you add Gohufont to this collection?

https://github.com/hchargois/gohufont

it has a very simple license, one of my favorites. :)

[2016-06-18 06:27] jinmel opened #92 "Scala filetype icon missing for InconsolataForPowerline Nerd Font Mono.otf"
#### Subject of the issue

Scala filetype icon not rendering properly when using Inconsolata for powerline Nerd Font _Mono_
#### Your Setup

terminal in use : urxvt 256 color
font name: Inconsolata for Powerline Nerd Font Mono.otf from `minimal` folder
Xresources font settings:
URxvt.font: xft:InconsolataForPowerline Nerd Font:pixelsize=16:antialias=false:hinting=true

Screenshot:

![screenshot fr

[2016-06-18 15:57] ryanoasis commented on #92
Yikes, yeah I can see a problem with even other glyphs as well.

![selection_18_06_16_11 54 35_196x384_001](https://cloud.githubusercontent.com/assets/8083459/16171984/c47a3852-354b-11e6-9626-90716e682da5.png)

Honestly it's been a long time since I've looked at what is happening with the single width glyphs, they don't all seem to get adjusted properly.

[2016-06-19 20:46] rscircus opened #93 "Add Space Mono Font (Google Fonts)"
See: https://fonts.google.com/specimen/Space%20Mono which runs under the [Open Font License](http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL_web).

![image](https://cloud.githubusercontent.com/assets/1167114/16179748/96aa624c-366f-11e6-8ebc-5281d70ea3f1.png)

Thanks. :-)

[2016-06-20 15:04] ryanoasis commented on #93
This looks like a cool font. I like it :smile:

[2016-06-20 19:38] ryanoasis commented on #90
@xdaimon Yep we can do that :smile:

The license is very... um.. permissive :stuck_out_tongue_closed_eyes:

--

I see there is a TTF format available on the website, that is the one that will probably be easiest to work with given the current state of the patcher

[2016-06-25 00:34] evaryont opened #94 "Feature request: Add the IEC Power symbols glyph sets until the original fonts do"
It would be appreciated if you could add another font variation to add the IEC power symbols to these fonts.

http://unicodepowersymbol.com/

Of course, a bunch of fonts will probably be updated to include them eventually anyways, as these are standardized unlike the rest of the glyph sets. And adding yet another variation would add a whole bunch of files for each combination of this glyph set inc

[2016-06-26 00:07] ryanoasis commented on #94
Very cool and great idea. I like.

Since these seem to be standardized maybe we don't need 'yet another variation' and we can just include these by default :smiley:

[2016-06-29 10:45] Undistraction commented on #56
Similar / related issue:

Fontname: Example-ReguarItalic
Fontfamily: Example
Name For Humans: ExampleRegularItalic
Weight: Regular

When I generate an .otf file and open it in Fontbook, the font is shown within Example as 'Regular' rather than RegularItalic, meaning it conflicts with the genuine Regular (non-italic) face.

[2016-07-06 23:26] gilmrjc opened #95 "Can't install on Ubuntu 16.04"
#### Can't install on Ubuntu 16.04

I can't install the fonts on Ubuntu 16.04. The font manager says it's an unsupported file type. I tried to copy the fonts to ~/.local/share/fonts and ~/.fonts but doesn't work. Then I used a graphical font manager to try to install them that way and it didn't work either.

#### Your Setup

- Ubuntu 16.04 (fresh install). I installed the font-manager from upstrea

[2016-07-06 23:27] gilmrjc commented on #95
Ok, solved. My error was that I didn't downloaded the raw fonts.

[2016-07-06 23:27] #95 closed

[2016-07-07 20:17] KabbAmine opened #96 "Feature request: Add font-awesome-extension glyphs"
A request here, is it possible to add glyphs from [font-awesome-extension](https://github.com/AndreLGava/font-awesome-extension)?

[2016-07-10 23:51] ryanoasis commented on #96
Yes should be possible. I would want to check it out more but looks like adding them should not  cause any specific issues except maybe conflicts

[2016-07-11 07:52] KabbAmine commented on #96
Great then :smiley:

[2016-07-26 19:47] mhartington opened #97 "Need for a new font-patcher script"
#### Subject of the issue
Patching fonts with ligatures
_Describe issue here_
With ligatures kind of being a more common thing, it's good idea to support them. Iterm 2 nightly has support for ligatures, but it needs to be whitelisted.  There might be a need for a new font-patch script that doesn't modify the fonts name and postscript meta data.  So once the fonts get generated, it can be consumed

[2016-07-29 01:48] ryanoasis commented on #97
@mhartington Hey thanks, yeah I agree it would be cool and even useful to support ligatures. By the way related to this would be #57

--

I know this repo has been a bit quiet lately but yes I would and do appreciate any help or effort into improving.

E.g. there has been a fairly substantial alternate patching proposal in #83 but I just haven't gotten to trying it out or providing much thought :c

[2016-07-29 13:43] mhartington commented on #97
Very good! 😁

I shall move the talk over to those other issues and try to make a new PR

[2016-07-29 13:43] #97 closed

[2016-07-31 08:56] jschaf commented on #88
I managed to tweak the output of font-patcher to fit my terminal.  I used some helper scripts to preview all the characters.  The script below relies on 1 zsh-specific feature.  The feature is indexing the "$@" arguments as an array. I gave up figuring out how to do it in bash.

[code]

Then, I manually tweaked the font-patcher script to produce good results.

[code]

Then, I ran this script to qu

[2016-08-12 13:50] kierun commented on #23
Could you add an error message to the install script? Currently, running it gives:
[code]
Which is kinda confusing…

[2016-08-16 12:01] kierun commented on #23
Not to pester you but is there any chance of a fix soon?

[2016-08-17 08:02] kierun opened #99 "InputMono font patching failure…"
#### Subject of the issue

I downloaded the [InputMono font](http://input.fontbureau.com/download/) and tried to patch it using this command (`zsh`):

[code]

I got the font installed no problem but none of the glyths (for example powerline ones) are in the font: all I get are sigmas. In addition, I cannot set the height of the font.

#### Your Setup

- **Linux** nightwatch 4.5.7-300.fc24.x86_64 #

[2016-08-17 08:21] kierun commented on #99
This is what I see with `GuiFont Terminess Powerline:h8`:

![screenshot](https://cloud.githubusercontent.com/assets/3079575/17729374/d822a53a-645b-11e6-9f0d-03cadeec7e52.png)

The previous screen shot used `GuiFont! InputMono Nerd Font`.

[2016-08-17 09:19] kierun commented on #99
God dammit! It was neovom-qt that was at an old release that did not support `GuiFont!`… Well, now that's fixed, I get the glyths but they look ugly:

![screenshot](https://cloud.githubusercontent.com/assets/3079575/17731142/eb3cf21c-6463-11e6-86e1-199aa00dcda1.png)

[2016-08-17 09:19] #99 closed

[2016-08-18 07:03] kierun commented on #26
I am getting the same effect when trying to patch the PragmataPro font set:

![screenshot](https://cloud.githubusercontent.com/assets/3079575/17764866/188610bc-651a-11e6-84ba-11660536b358.png)

[2016-08-18 07:08] kierun commented on #67
I would be willing to help… Although I am not sure how much help I would be ;)

[2016-08-18 11:55] ryanoasis commented on #99
@kierun hey sorry about the frustration but glad you solved it.

As for the "ugly" glyphs do you mean because the height is a bit too tall or because they are all white with black background?

[2016-08-18 11:59] ryanoasis commented on #67
@kierun Cool thank you and yes I understand. I will take any help that is offered large or small 😄

[2016-08-18 12:50] kierun commented on #99
@ryanoasis Ugly as in the font just looks blurry to my eyes. It does not seem as crisp as Terminus. It could be an artefact of `neovim-qt` or how I compiled or am running it.

For example, using `gvim` I get this "pretty" screenshot:
![gvim](https://cloud.githubusercontent.com/assets/3079575/17774208/65b3a630-654a-11e6-8fa7-5444a8999894.png)

Using `neovim-qt` with the same font (I think it is the

[2016-08-19 01:41] ryanoasis commented on #26
@kierun Thanks yeah that looks really bad. I am going to try to really get back into fixing some of these serious issues.

[2016-08-19 06:43] kierun commented on #26
[This `neovim-qt` issue may or may not have some bearing on how I see font…](https://github.com/equalsraf/neovim-qt/issues/164)

[2016-08-20 14:41] guiceolin commented on #89
Hello there!

Any progress on this?
there is any way to help?

[2016-08-20 21:05] ryanoasis commented on #89
@guiceolin
Hey thanks for pinging.

No but you did remind me to open an [issue regarding the license](https://github.com/madmalik/mononoki/issues/46).

The main concerns now are the license and just checking that all the glyphs look at least decent.

Yes possibly, see [the instructions for adding a new font](https://github.com/ryanoasis/nerd-fonts/blob/master/contributing.md#adding-a-new-font). Ho

[2016-08-20 21:07] ryanoasis commented on #87
This will more than likely be the next thing to be released.

[2016-08-22 00:39] ryanoasis commented on #99
Sorry for the delay. Does it still look blurry?

Glad you like the project :smile: , I know there are still several bugs.

[2016-08-22 06:39] kierun commented on #99
Yes it does. There's some discussion on the `neovim-qt` page (see [issue 164](https://github.com/equalsraf/neovim-qt/issues/164)) about what can be done about it.

[2016-08-24 15:18] alpertuna opened #100 "Airline line indicator symbol is empty / not found"
#### environment
- vim: 7.4
- OS: Debian Jessie
- terminal: XTerm
- $TERM variable: screen-256color-italic
- color configuration (:set t_Co?): 256
- font: DejaVu Sans Mono for Powerline Nerd Font Complete Mono.ttf

Hello,
A square character is appeared near line indicator, and I found g:airline_symbols.maxlinenr keeps that char and I am able to correct it from .vimrc, but I wonder why its default

[2016-08-25 00:18] ryanoasis commented on #100
Can you try https://github.com/ryanoasis/nerd-fonts/blob/master/patched-fonts/DejaVuSansMono/Regular/complete/DejaVu%20Sans%20Mono%20for%20Powerline%20Nerd%20Font%20Complete.ttf instead?

[2016-08-25 07:56] alpertuna commented on #100
@ryanoasis
I tried it but still the same. I looked #92, there is no problem like that, I can see that icons with my font.
The problem is about just this char I see.
I inspected the character and;

![screenshot from 2016-08-25 10 37 05](https://cloud.githubusercontent.com/assets/12586695/17961044/2beb9eae-6ab2-11e6-862a-63014225a538.png)

Its hex code is 2630
And that character is empty in font map

[2016-08-26 10:47] ryanoasis commented on #87
I was expecting to get to this quickly before v0.9.0 but that just didn't happen. Since I want to release v0.9.0 soon it makes to move this fix there.

A full rebuild of all fonts is needed anyway for this fix

[2016-08-26 12:51] ryanoasis commented on #100
Thanks for the details. Looks like the characters in range `2630` through `2637` (trigrams) are missing even in the [unpatched Nerd Fonts powerline source of DejaVu Sans](https://github.com/ryanoasis/nerd-fonts/blob/master/unpatched-sample-fonts/DejaVuSansMono/Regular/DejaVu%20Sans%20Mono%20for%20Powerline.ttf)

![screenshot_2016-08-26_08-48-46](https://cloud.githubusercontent.com/assets/8083459/1

[2016-08-26 18:38] alpertuna commented on #100
+1 :blush:

[2016-09-02 08:26] zeorin opened #102 "Suggest shallow cloning of repo"
Suggest in the docs that users clone the repo with `git clone --depth 1` if they're not looking to contribute and just want to get the fonts easily. Together with the improved install script from #101 this makes it real easy to get and stay up to date without wasting bandwidth or disk space.

[2016-09-02 20:29] ryanoasis commented on #102
Good idea. Yes I looked again and it is still not clear that one does not need to clone the repo and if they contribute shallow should be sufficient. Thanks

[2016-09-23 04:14] jedahan opened #104 "△ and ▲ have different widths"
#### Subject of the issue

△ and ▲ have different widths on Inconsolata complete, with or without mono. I'd expect them to be the same size, just one with an outline and one without.

iTerm2 on OSX

<img width="232" alt="screen shot 2016-09-23 at 12 11 25 am" src="https://cloud.githubusercontent.com/assets/32407/18773969/4cbecdfa-8122-11e6-8d69-d63440d2fc99.png">

Menlo 18 pt:

<img width="194" al

[2016-09-23 06:47] vbauerster commented on #83
Any plans to update patched iosevka to the latest version 1.9.3?

[2016-09-26 08:56] lcorsini opened #105 "[New Font] Add Share Tech Mono"
Please add this font
https://fonts.google.com/specimen/Share+Tech+Mono

seems a good replacement for Terminus

[2016-10-05 14:05] peter73421 opened #106 "install issue"
by installing single fonts I,m getting:

:~/nerd-fonts# ./install.sh Hack
Fontconfig warning: "/etc/fonts/conf.d/10-powerline-symbols.conf", line 1: unknown element "html"
Fontconfig warning: "/etc/fonts/conf.d/10-powerline-symbols.conf", line 1: unknown element "body"
Fontconfig warning: "/etc/fonts/conf.d/10-powerline-symbols.conf", line 1: unknown element "a"
Fontconfig error: "/etc/fonts/conf.

[2016-10-10 04:01] ryanoasis commented on #105
Looks nice. Thanks

[2016-10-10 18:43] nowox commented on #102
+1

[2016-10-15 23:53] ryanoasis commented on #104
Hey just looked into this.. at first I thought there could be a problem with the original source font (because the patching doesn't modify those characters).

But after some testing are you sure you are not just using the 'small' version of one of the triangles and the other as large?

Could you provide the unicode value of each just to be sure?

Below is `Inconsolata for Powerline Nerd Font Compl

[2016-10-16 00:05] ryanoasis commented on #106
1. Do you get that message only on the install script?
2. Does the font actually install (copy)?
3. Can you try to run other bash scripts to see if you get similar fontconfig warnings and errors?

The install script (before the much more advanced one recently merges see #101) simply copies files from the repo to the OS specific appropriate fonts folder.

Quick search, this could be similar/possibl

[2016-10-16 17:54] jedahan commented on #104
Tried it in two terminals - iTerm2 and hyperterm (and terminal.app), all had the same issue. menlo is fine.

![screen shot 2016-10-16 at 1 53 33 pm](https://cloud.githubusercontent.com/assets/32407/19419551/fe8f3a3c-93a7-11e6-929d-511b6e91737a.png)
<img width="842" alt="screen shot 2016-10-16 at 1 53 24 pm" src="https://cloud.githubusercontent.com/assets/32407/19419552/fe9145fc-93a7-11e6-8e56-2d10

[2016-10-16 23:14] ryanoasis commented on #104
@jedahan Thanks for trying it out again. I will take another look :smile:

[2016-10-16 23:22] jedahan commented on #104
When I install, font book complains about 'ambiguous width' stuff, hopefully that helps

[2016-10-17 00:46] ryanoasis commented on #100
These are missing for some reason (along with many other glyphs that are in the Deja Vu Sans condensed).

I have not attempted to fix all of them (that would take way too long) but I did copy these trigrams from the appropriate condensed version to the mono versions for now.

I also updated Deja Vu fonts from version 2.33 to 2.37 (see [deja vu changelog](http://dejavu-fonts.org/wiki/Changelog))

[2016-10-17 11:52] alpertuna commented on #100
Thanks :+1: I already use some alternative ways for missing glyps, so time is not problem :blush:

[2016-10-17 13:30] ryanoasis commented on #100
What are the alternative ways you are using if you don't mind me asking? Fontconfig?

[2016-10-17 14:00] alpertuna commented on #100
I use `Xresources` to set font, and I specified more than one font as fonts chain so that if a char is not defined, it searches next font family for that char.

[2016-10-17 16:09] blueyed opened #108 "Please document codepoint ranges"
I am looking into using a custom `wcwidth` function/library (https://github.com/termux/wcwidth; via `LD_PRELOAD`), where I'd like it to return the proper width for the wide glyphs (which appear to be all/most, right?).

Therefore a list of used codepoints would be useful.

I've came up with the following, but it does not seem to be accurate, e.g. the Linux symbol from Font Awesome () is at `0xe71

[2016-10-20 03:06] blueyed commented on #92
FWIW: urxvt tends to throw away too wide glyphs.

[2016-10-20 03:16] blueyed commented on #108
Some more info at https://github.com/ryanoasis/nerd-fonts/issues/40.

[2016-10-20 09:00] zeorin commented on #92
@jinmel Are you using the `URxvt.letterSpace` setting at all? I found that to have an impact on how many glyphs were not rendered by urxvt. I have to set it to `-2` for spacing on Knack to look right.

It's worth mentioning @blueyed's fork https://github.com/blueyed/rxvt-unicode/tree/display-wide-glyphs. I use it myself and it works quite well: I don't even use the Mono versions of nerd fonts.

Th

[2016-10-20 11:09] blueyed commented on #92
@zeorin
Thanks! :)
It is currently not included in Arch's rxvt-unicode-patched however, because it caused crashes that I could not reproduce. I am glad it works for you! :)
I have looked into some minor issues with my branch during the last days and learnt a lot about urxvt's internals on the way.

I am experimenting with a hack that uses the font itself to get the width (instead of using the wcwi

[2016-10-20 15:14] blueyed opened #109 "Wrong name for "glyph-source-fonts/PowerlineExtraSymbols.otf""
https://github.com/ryanoasis/nerd-fonts/blob/master/glyph-source-fonts/PowerlineExtraSymbols.otf has "Droid Sans Mono for Powerline Plus Nerd File Types Mono:style=Regular" as its name (according to `fc-list`).

I am looking currently into using the fonts separately, i.e. `URxvt.font: xft:UbuntuMono:size=8,xft:DejaVu Sans Mono,xft:monospace,xft:Symbola,xft:FontAwesome:size=4,xft:UbuntuMonoDerivati

[2016-10-20 15:36] blueyed commented on #109
A similar issue: `glyph-source-fonts/Powerline.otf` does not only contain the powerline symbols..  I could not find a font that would only contain those glyphs, and it might be not that useful, since it might depend on the other characters / the height of the base font?!

It is the same for the extra font I guess (which has "Create Powerline symbol only font for fontconfig" as TODO left).

btw: I

[2016-10-20 15:59] blueyed commented on #109
What about providing a PowerlineExtraSymbols font, which contains only the Powerline symbols (plus the extra ones)?
Could that be used by itself, similar to Font Awesome, or is it necessary to be scaled in some way according to the base font?

[2016-10-20 23:59] ryanoasis commented on #109
Trying to catch up here. Let me know if I miss something...

This was created in a rush and so while it does have the 'extra powerline symbols' it also has other glyphs and metadata that it shouldn't :blush:

Oh okay sure, yeah I think this ideally should be fixed

Yeah ideally we would have a [fontconfig](84) for all of these symbols so alternatively users could forgo having to use a patched font

[2016-10-21 07:24] santagada opened #111 "macOS support?"
What is the support for macOS (OSX)(10.11.6)?

I tried multiple fonts with and without windows versions and looking at the characters on Terminal.app Font Book.app and iterm2.app and the results were:

1) anonymice almost works, the powerline symbols are bigger than the characters but on iterm2 you can choose a font for special chars 2 points smaller and then they almost match.

2) Sourcecode pro,

[2016-10-21 10:33] rbanffy opened #112 "3270 missing original license and copyright notices"
#### Subject of the issue

Missing license file. The 3270font project builds upon work that dates back to the 1980's and requires distribution of the license file (updated, if needed) along with derived works. From the license, "Redistributions in binary form must reproduce the above copyright notice"

[2016-10-21 11:01] santagada commented on #111
maybe #107 will fix this?

[2016-10-21 11:50] ryanoasis commented on #111
@santagada Mostly yes, yes it should 😄

[2016-10-21 12:04] ryanoasis commented on #112
Apologies and thank you. Good work on the font by the way 👍

I have tried my best to respect all the fonts licenses especially after making some mistakes early on. I think somehow here I "just missed it". I will also add the repo link

I will fix and merge this asap

[2016-10-21 12:24] #112 closed

[2016-10-21 22:53] ryanoasis commented on #88
Hey good atuff. Sorry I haven't replied until now. This is clever and helpful. I particularly want to steal the print ranges for testing 😄

[2016-10-26 08:09] zhaoxuyll opened #114 "gvim "Source Code Pro" don't set guifont"

[2016-10-26 23:12] ryanoasis commented on #114
Can you please provide more information?

I am not able to understand what problem you are having.

Thanks

[2016-10-27 03:16] #114 closed

[2016-11-01 02:37] ryanoasis commented on #92
This is probably still a problem but if anyone wants to attempt to see if the [fonts in 0.9.0 branch](https://github.com/ryanoasis/nerd-fonts/tree/0.9.0/patched-fonts) help solve the issues go for it :smile:

[2016-11-01 02:39] ryanoasis commented on #88
@lisposter Please try the [fonts in 0.9.0 branch](https://github.com/ryanoasis/nerd-fonts/tree/0.9.0/patched-fonts) if you don't mind. Thanks

[2016-11-01 02:40] ryanoasis commented on #88
@jschaf I would love to use what you have or at least the general idea to build some scripts that help with testing the fonts :smile:

[2016-11-01 02:41] ryanoasis commented on #87
@minerva1129 This is fixed in [0.9.0 branch](https://github.com/ryanoasis/nerd-fonts/tree/0.9.0/patched-fonts). Please give it a try if you can thanks. I will merge to master when ready

[2016-11-01 02:42] ryanoasis commented on #74
@LNQ This should be fixed with the [fonts in 0.9.0 branch](https://github.com/ryanoasis/nerd-fonts/tree/0.9.0/patched-fonts). Feel free to try it out and thanks :smile:

[2016-11-01 03:16] ryanoasis commented on #37
The stretching at least should now be fixed in [0.9.0 branch](https://github.com/ryanoasis/nerd-fonts/tree/0.9.0/patched-fonts).. if anyone would like to try it out

[2016-11-01 03:24] jschaf commented on #88
Sure, the script should "just work" if you have zsh.  Once you source it, `test-fonts` should print everything.  I think automated testing would be hard.

The script at the end just builds the project and then opens up a new terminal-emulator (`st` for me), sources the startup up script for zsh and runs test-fonts.

[2016-11-07 13:40] ryanoasis commented on #72
I have [created a shell script to create the casks](https://github.com/ryanoasis/nerd-fonts/commit/d2ee06bdfdcf4822b8ba9f93e48bb744fad54ccc) :smile: in [0.9.0](https://github.com/ryanoasis/nerd-fonts/milestone/14) but not sure how to test them without being on macOS :cry:

Also not sure if these are even supposed to work without the source being an archive file.. anyone know? I will try to ask for

[2016-11-07 14:32] kevinSuttle commented on #72
Ping @vitorgalvao

[2016-11-07 14:37] vitorgalvao commented on #72
We’re not.

Travis can do it. Submit one of them (the most typical) and ping me. I’ll look into into it a see any changes. If needed, you may then revise your script (rinse and repeat).

You mean you have links to the naked `ttf` or `otf`? Not a problem, it works the same.

[2016-11-07 14:40] vitorgalvao commented on #72
Almost forgot, the thing we’re particular about is the naming. See the [docs](https://github.com/caskroom/homebrew-fonts/blob/master/CONTRIBUTING.md#font-cask-fields).

[2016-11-07 15:49] jrolfs commented on #72
I'm happy to help test this on a Mac although it sounds like getting it working on CI would be preferable.

@vitorgalvao does it make sense for all of the names to include a `nerd-font` suffix or the like since there will most likely be conflicts for all them seeing as they are patched versions of existing fonts? The other solution would be to use the pseudonym for the patched font that is used in

[2016-11-07 16:50] vitorgalvao commented on #72
When casks have conflicting tokens, we add a prefix, not a suffix. But those names in your screenshot seem acceptable. If the font itself as `Nerd Font` in the name, adding that as a suffix to the cask makes sense.

And yes, if you could submit something as complete as possible (i.e. with the few number of casks as possible), that would be preferable.

[2016-11-07 17:26] ryanoasis commented on #72
@kevinSuttle Thanks for pinging the appropriate people in :blush:

--

Yes. I think right now the download URL points to the main folder but then each individual `font` stanza points to each a subdirectory for each font family for that font.

--

@jrolfs For the patch variants except for "complete" I have removed the generating of those going forward. So yeah we will only create casks for the "com

[2016-11-07 17:30] vitorgalvao commented on #72
Yes on both counts.

[2016-11-11 13:02] ryanoasis commented on #32
Going to only build the 'complete' fonts by default going forward, so for the packaging will have one archive per font (e.g., one for 3270, one for Hack)

This will solve this issue _and_ #72 (**2** birds meeting **single** stone :smile:)

[2016-11-15 16:57] lcorsini commented on #84
Made another try today at getting my fonts working right, and I think that on linux this would be the best approach.
Actually patched fonts look blurry and incorrectly sized (correctly sized characters, but insanely small glyphs) on my machine (arch linux currently and on terminator) fallback fontconfig seems to work great, but it's not perfect:
Using an already powerline-patched font for example

[2016-11-16 14:19] lcorsini commented on #84
Ok,
I've found a partial solution, if you use fontconfig fallback with a complete mono font it works.
Right now in my .fonts I have the patched Shure Tech Mono and my terminal is configured to use Terminus.
If I need a glyph fontconfig takes it from Shure Tech Mono, the only downside is that the glyphs are a little smaller.

To use powerlever9k I made a fork available here:  https://github.com/lco

[2016-11-16 23:12] ryanoasis commented on #84
@lcorsini

Just curious were you using the fonts from the [0.9.0 branch](https://github.com/ryanoasis/nerd-fonts/tree/0.9.0) ? Because a lot of the size issues have been fixed.

--

Yeah so the main problem with this patching is that with conflicts some glyph set is going to "win" and another has to "lose" and it seemed like a good choice for font awesome to "win" these conflicts and so the font l

[2016-11-17 03:18] ryanoasis commented on #86
@lcorsini Can you give more info on the screenshot you provided? What system, editor etc?

This appears to be a problem with the `ttf` file not the patching. I was able to replicate the very distorted characters without antialiasing turned on, on the original `ttf` and the patched ttf file.

Another option would be to patch the bitmap fonts but this would require more work, something similar to ho

[2016-11-17 03:29] ryanoasis commented on #23
@TheRizzen Terminus (Terminess) is going to be included in 0.9.0 (the TTF version), it seems to work fine but the only problem is if you do not have antialiasing enabled: #86

--

@kierun Really sorry about the delayed reply. Can you please try the install script again? You should have more luck with the much [improved install script](https://github.com/ryanoasis/nerd-fonts/commit/2cf5f12d1721918e

[2016-11-17 06:46] lcorsini commented on #86
Ok, in the meantime I moved away from that setup, it was on windows, the editor is vim, and probably this was under putty
The Terminus font is better without antialias and on 12pt that's why I was using it like that

[2016-11-17 06:59] lcorsini commented on #84
Yes I'm using the 0.9.0 branch, today I'll try a different fallback font (I choose ShureTechMono), my impression is that fontconfig tries to match the dimension of the current font so maybe the one I'm using is smaller than my current font at 12pt.
I'll try different ones and see what fits better

Well I think that a consolidated glyph library could help your project AND fontconfig.
it's probably

[2016-11-17 13:07] kierun commented on #23
@ryanoasis  Thank you for your time. In no way or shape do I mind a delay! Here is what I ran:

[code]

However, I think I know what the problem might be:

[code]

So, I have no fonts there. Should I have downloaded them myself or should they be in the repo? [GutHub](https://github.com/ryanoasis/nerd-fonts/tree/master/patched-fonts/Terminus) suggest that they are not there in `master`.

[2016-11-17 16:47] ryanoasis commented on #23
Yeah so the Terminus fonts I generated yesterday but I haven't commited yet. U will try to do that later today and I will make sure to ping here. Thanks

[2016-11-18 01:10] ryanoasis commented on #86
@lcorsini Thanks for the details. Yeah I can see that being a bitmap font that would be the typical usage. I am marking this as 'future' as I believe it will take a good amount of effort to be able to patch the bitmap version of this font _and_ I think most people will have antialiasing on.

[2016-11-18 01:14] ryanoasis commented on #23
Pushed the source fonts and the patched fonts (TTF version of Terminus) on 0.9.0 branch

@kierun Go ahead and give it a try if you want. Thanks.

[2016-11-18 08:21] kierun commented on #23
Here is what I tried:

[code]

Looks good to me!  ☺  Is there a screen shot of some fonts glyths I can do so as to verify that it all works as expected?

Many thanks indeed!

PS: Note to anyone reading this and getting weird errors: `**` is a `zsh` thing.

[2016-11-21 00:57] ryanoasis commented on #72
If some one wants to test this... Hack (Knack) should now be available :smile: but seems like it should work just fine (ref: https://github.com/caskroom/homebrew-fonts/pull/913)

---

Will submit one more individual font PR before submitting the rest. The rest is dependent on #32 (we have a [script to generate the archives](https://github.com/ryanoasis/nerd-fonts/blob/0.9.0/bin/scripts/archive-fon

[2016-11-21 03:51] ryanoasis commented on #88
@jschaf Yeah I agree fully automated would be hard but having some test scripts like this would help a lot for testing :smile:

By the way I took your script and updated it with the latest changes in [0.9.0](https://github.com/ryanoasis/nerd-fonts/tree/0.9.0) and also I made changes to get it to work with straight bash :smile:

Would you like to submit your current version as a PR to get proper co

[2016-11-21 04:22] jschaf commented on #88
Glad you it found useful!  Don't worry about a PR, go with your working version.

[2016-11-21 18:28] jrolfs commented on #72
Working for me, though do we actually need `Mono`?

![Cask Install](http://d.pr/i/F0gW+)

[2016-11-22 00:56] ryanoasis commented on #72
@jrolfs Thanks for testing it out

Good question. Well I do know there is a fair number that prefer or have to use mono in their terminal. I think maybe we could create a separate one for mono. something like `font-hack-nerd-font` and `font-hack-mono-nerd-font`.

--

Does anyone else have a strong preference regarding including variable width and mono together in the same cask?

My gut says to kee

[2016-11-24 01:56] ryanoasis commented on #32
This is working nicely right now :smile: https://github.com/ryanoasis/nerd-fonts/releases/tag/v0.8.0

[2016-11-25 15:42] dingmaotu commented on #70
@ryanoasis Hi, the Hack font patch is awesome but it is unusable on Windows because the hinting (in 'post' table where isFixedPitch is set to 1) is removed. In gVim and mintty, only Monospace font is allowed. Without the hinting Windows does not recognize the font as Monospace.

I know little about font design and fontforge scripting, so I can not help with the code. I can only manually edit the i

[2016-11-25 17:03] chrissimpkins commented on #70
@dingmaotu

This script will update any font isFixedPitch post table setting to a value of 1.  It will work for any of the fonts included in Ryan's collection.

Generate the following script on the path `fpfix.py` and execute with:

[code]

#### Dependencies:

1. Python install
2. fonttools library (Python) install (`pip install fonttools`)

#### Gist link
https://gist.github.com/chrissimpkins/d08

[2016-11-25 18:00] ryanoasis commented on #70
Been busy on [0.9.0](https://github.com/ryanoasis/nerd-fonts/tree/0.9.0) so still haven't gotten around to this

---

@dingmaotu Thanks for the info. Sorry for your troubles. Yeah I was just going to say to try the instructions @chrissimpkins has provided

@chrissimpkins thanks again for the details on the fix. I should probably add some process post patching to avoid having these missing hints

[2016-11-25 19:54] chrissimpkins commented on #70
:+1: let me know if there is anything I can do

[2016-11-27 05:46] dingmaotu commented on #70
@chrissimpkins Thanks for the script. Actually I used the fonttools provided ttx command to fix individual fonts. Having a script is a lot better

[2016-11-27 14:04] chrissimpkins commented on #70
@dingmaotu great! You can modify it to process multiple fonts at one go.  Enjoy!

@ryanoasis Ryan let me know if there are any open type issues that need work.  Happy to pitch in to help fix these.

[2016-11-28 14:51] ryanoasis commented on #70
@chrissimpkins Thanks appreciate it. I can't think of anything specific off the top of my head but if I do I'll let you know. Also of course if you see anything you can/want to fix or improve that would be great.

A lot of the open issues should be fixed soon (with 0.9.0) so the picture of what is actually still open should clear up drastically

[2016-11-30 00:34] ryanoasis commented on #72
@vitorgalvao Do you see any preference regarding this:

[2016-11-30 02:42] vitorgalvao commented on #72
@ryanoasis No preference.

[2016-11-30 03:44] ryanoasis commented on #72
Thanks

[2016-11-30 03:51] ryanoasis commented on #84
Very much a WIP. I am new to fontconfig.. but just pushing up as I work on it

[2016-12-03 19:12] ryanoasis commented on #70
I had some trouble with building from source (dependencies, etc) but I did finally manage to get it working.

I modified the provided scripts (a few issues on the python one) and made the necessary changes on the shell one to work. Called both of these after patching (with a simple wrapper shell file).

I got to the point of the new font generating and was about to test if the hints and glyphs wer

[2016-12-05 03:17] CavalcanteLeo opened #115 "FontForge must be installed before running this script. BUT IT IS"
It says that I need to install FontForge on my mac, but it is installed
macOS Sierra 10.12.1 (16B2555)

<img width="488" alt="captura de tela 2016-12-05 as 01 17 13" src="https://cloud.githubusercontent.com/assets/1735944/20872787/9385c334-ba88-11e6-8856-fa3fb0f0b4ce.png">

![captura de tela 2016-12-05 as 01 13 37](https://cloud.githubusercontent.com/assets/1735944/20872727/129a203a-ba88-11e6-9e74

[2016-12-05 03:31] ryanoasis commented on #115
Hmm I think this message is a bit misleading so my apologies.

This comes if the fontforge python support is not installed.

Can you try this `brew install fontforge --with-python` ?

[2016-12-05 04:14] CavalcanteLeo commented on #115
Got an error to install with brew..
But do I really need to (re)install again, even if I already have it?

![captura de tela 2016-12-05 as 01 48 55](https://cloud.githubusercontent.com/assets/1735944/20873522/55dde550-ba8f-11e6-8063-8608615f9ddf.png)
<img width="1280" alt="captura de tela 2016-12-05 as 01 47 21" src="https://cloud.githubusercontent.com/assets/1735944/20873523/55f7f120-ba8f-11e6-98

[2016-12-05 04:39] ryanoasis commented on #115
I think it depends if it has the python bindings.

Are you able to execute `fontforge` from command line?

[2016-12-05 05:20] CavalcanteLeo commented on #115
somehow, after my 3rd "brew update" and "brew doctor" I could install it. It makes completely no sense. But worked

[2016-12-09 05:00] kaymmm opened #116 "Add codepoint screenshot for Patched/Complete Octoicons"
## Add codepoint screenshot for Patched/Complete Octoicons

The codepoints for the octoicons in the complete sets are moved to avoid clashing with the FontAwesome code points, but the README doesn't make mention of this (I discovered this via the Powerlevel9k git issues). It doesn't make sense to have two screenshots on the README with both sets of codepoints, but maybe it could go in the Wiki? I'

[2016-12-11 03:01] ryanoasis commented on #116
@kaymmm Hey thanks for this I do appreciate it :smile:

Sorry for the delay. We have been hard at work on [v1.0.0](https://github.com/ryanoasis/nerd-fonts/tree/0.9.0) :smile:

Yeah... and this has caused confusion before... which is clearly understandable. I had been wanting to change this on the readme as well so I agree 100%

Again I agree with this. README should have the codepoints for the 'co

[2016-12-11 03:25] ryanoasis commented on #115
@CavalcanteLeo

I am glad you got it figured out :smile:

That is weird I am not sure why you were having troubles but doesn't seem to be related to Nerd Fonts itself. Can we close this issue?

---

It seemed like you went through some pain getting things setup :worried: but if you would like to make it easier for all of us going forward please feel free to contribute to the [dev setup of the wiki

[2016-12-12 00:47] ryanoasis commented on #70
I can't seem to get the hinting to work. Any ideas?

[code]

[code]

[2016-12-12 02:08] #115 closed

[2016-12-12 04:02] chrissimpkins commented on #70
What error are you getting?

[2016-12-12 23:46] ryanoasis commented on #70
@chrissimpkins No errors but I don't see the hints (at least in FontForge). Is there another/better way to verify it worked as expected? Excuse my ignorance :smile:

[2016-12-13 12:06] chrissimpkins commented on #70
@ryanoasis If you include the `-t` flag (which you do in the above command) a TTFA sfnt table is added to the font.  You can check for the presence of the table which does not otherwise exist in a font.

We built this tool that reports the TTFA Open Type table that ttfautohint produces when it applies the hints.  Would require a manual check that the hints are present though I can modify it to rai

[2016-12-14 01:50] ryanoasis commented on #70
@chrissimpkins Hey thanks a lot... I think it _is_ working just fine then.

1. FontForge ignores the TTFA table... so no wonder I was having trouble seeing the differences via FontForge :blush:
[code]

2. I found that using the `-T` (capital t) would print that table

[code]
https://www.freetype.org/ttfautohint/doc/ttfautohint.html

So given this I was able to verify the presence or lack of:

[cod

[2016-12-14 01:56] chrissimpkins commented on #70
:+1:

[2016-12-14 03:55] ryanoasis commented on #73
This is going to be at least partially fixed in 1.0.0 release (the size issue is addressed)

[2016-12-14 20:39] kaymmm commented on #116
I like your idea. My only suggestion is to be explicit which versions of the fonts use these codepoints. Perhaps something like: "To avoid conflicts between icon sets, these were modified in the 'Complete' fonts. To view the original codepoints see the Wiki."

[2016-12-14 23:26] ryanoasis commented on #116
Thanks, we'll go with that

[2016-12-15 03:39] #85 closed

[2016-12-15 03:39] #89 closed

[2016-12-15 03:39] #90 closed

[2016-12-15 03:39] #93 closed

[2016-12-15 03:39] #100 closed

[2016-12-15 03:39] #102 closed

[2016-12-15 03:39] #105 closed

[2016-12-15 03:39] #23 closed

[2016-12-15 03:39] #32 closed

[2016-12-15 03:39] #70 closed

[2016-12-15 03:39] #72 closed

[2016-12-15 03:39] #84 closed

[2016-12-15 03:39] #87 closed

[2016-12-15 03:39] #94 closed

[2016-12-15 03:39] #96 closed

[2016-12-15 03:39] #109 closed

[2016-12-15 05:21] ryanoasis commented on #111
Fixed/closed with v1.0.0

[2016-12-15 05:21] #111 closed

[2016-12-15 09:59] rscircus commented on #93
Thanks, @ryanoasis! :-)

[2016-12-15 11:53] KabbAmine commented on #96
:+1:

[2016-12-16 19:30] #116 closed

[2016-12-19 23:29] ryanoasis opened #117 "Update 'Features' section counts"
#### Update 'Features' section counts

Update https://github.com/ryanoasis/nerd-fonts#features section counts.

Only the 2nd,3rd, and 4th lines need updating. Should be similar to: https://github.com/ryanoasis/nerd-fonts#combinations

Changes needed:

26 > 35
Over 5,700 unique > Over 74k unique ...
Over 1,000 glyphs ... > Over 1.3k glyphs ...

Also wrap the numbers in tick marks (`)

#### Your Set

[2016-12-19 23:33] ryanoasis opened #118 "Add internationalization and localization support to readme"
### Localization of readme.md

Translate and add localization of readme.md

#### Completed Translations:

* [x] Russian (@magauran via PR #203)
* [x] Simplified Chinese (@hiby90hou via PR #214)
* [x] Traditional Chinese (zh-TW) (Taiwan) (@MindyTai via PR #222)
* [x] French (@pgrimaud via PR #251)
* [x] Polish (@P1X3L0V4 via PR #301)
* [x] Spanish (@Tamh via PR #378)
* [x] Korean (@ParkSB via PR #3

[2016-12-19 23:37] ryanoasis opened #119 "Standardize console message with prefix of [Nerd Fonts] always"
#### Standardize console message with prefix of [Nerd Fonts] always

The output messages in the Python and various shell scripts should have a standardized prefix so that we know if the message comes from Nerd Fonts or another program (such as FontForge). This will help with debug and issues where we ask for output.

[2016-12-19 23:41] ryanoasis opened #120 "Implement and enforce standards for Bash (shellcheck)"
#### Implement and enforce standards for Bash (shellcheck)

I currently enable [shellcheck ](https://github.com/koalaman/shellcheck) in my Vim when I am editing the bash scripts for this project but it would be nice to comb through the current scripts and make them compliant and even better would be to setup some sort of task (Travis CI) to check these when devs make Pull Requests

[2016-12-19 23:42] ryanoasis opened #121 "Implement and enforce standards for Python (Pyflakes)"
#### Implement and enforce standards for Python (Pyflakes)

Particularly interested in enforcing at least some sort of subset of PEP-8 standard for Python.

[2016-12-21 03:28] #117 closed

[2016-12-27 21:18] ryanoasis opened #123 "Test and update macOS font statuses"
#### Test and update macOS font statuses

For each font:
* test the complete version of the font on macOS
  * installs, no severe messages from font book
* update the appropriate font in the readme table "Patched Fonts" > "Status" column
  * table location: https://github.com/ryanoasis/nerd-fonts#patched-fonts
  * use the already provided img reference links at the bottom of the readme

[2016-12-31 14:15] ryanoasis opened #124 "TL;DR Section"
#### Create TL;DR section

Create a TL;DR section in the readme, particularly because of how long the install section has become

[2017-01-08 01:45] gwerbin commented on #72
Would it make more sense to maintain a separate Tap for these? It might be easier than dumping them all in the core fonts repo.

[2017-01-13 06:27] yarthur commented on #34
I happened to notice a few things while playing around with my shell prompt.

While the readme links to the [wiki page](https://github.com/ryanoasis/nerd-fonts/wiki/Codepoint-Conflicts), the graphics on the wiki page are wrong. There's a broken/missing image under "Original Codepoints", and the image under "New Codepoints", I believe, actually shows the original ranges.

At the same time, it seems

[2017-01-14 03:08] ryanoasis commented on #34
@yarthur Thanks for pointing that out and reminding me. So I am still in the process of recovering my primary OS :cry: but looks like I had forgotten to upload that image to the wiki.

I will update them both sometime this weekend if I get back 100% up :smile:

[2017-01-22 04:30] ryanoasis opened #125 "Mention projects that use Nerd Fonts"
#### Mention featured projects that use Nerd Fonts

It would be nice to mention at least some popular projects known to be using Nerd Fonts. We could mention this in the readme or wiki.

#### Your Setup

N/A

[2017-01-22 05:46] gwerbin opened #126 "Mononoki patched fonts have "UniqueID" where "Regular", "Bold", and "Italic" should go"
Mononoki patched fonts say "UniqueID" where they would typically say "Bold", "Regular", or "Italic". The "BoldItalic" variant has the correct name.

[2017-01-22 13:28] ryanoasis commented on #126
Hmm that's weird. I'll look into it. Thanks

[2017-01-26 08:56] kiuKisas opened #127 "Glyph smaller than character"
#### Requirements

If you are **not** sure whether or not what you are reporting is actually an issue **or** you have a general question please message in the [Gitter Chat Room](https://gitter.im/ryanoasis/nerd-fonts)

By posting an issue you acknowledge the following:

- [x] A brief but descriptive _title_ of your issue
- [x] I have searched the [issues](https://github.com/ryanoasis/nerd-fonts/is

[2017-01-27 05:06] jayywolff commented on #127
I can also confirm the small icons, and I have the same setup but except I'm on the Fura Mono Font
x86_64 Linux 4.8.13-1-ARCH

with the pkg version  nerd-fonts-complete 1.0.0-1
I have this issue with every font I've tried so far
including (inconsolata, fura mono, meslo, terminess, dejavu sans, knack)
This is not just a terminal specific issue Ive noticied this in termite,  i3bar , & gvim

![2017-0

[2017-01-27 05:13] ryanoasis commented on #127
Ouch. Thank you both for the details. I will try to take a look this weekend if I get the chance

[2017-02-06 15:32] Hebgbs opened #128 "Powerline glyphs do not align in console"
OS: Ubuntu 16.10
Shell: zsh
Shell theme: PowerLevel9K
Term: fbterm

Reproduction steps
*Attempt in a fresh install of Ubuntu; I was unable to use fbterm without rebooting, problems may be encountered in a live session.*
**In X session**
[code]
**In TTY console**
[code]

[2017-02-08 23:48] ryanoasis commented on #128
@Hebgbs thanks for the report (and a detailed one at that!). I will look into it when I get some time but I cannot promise when :disappointed:

[2017-02-09 08:47] Hebgbs commented on #128
It's fine man. If you just want to install it on your system and _get to the point_ (assuming you use Ubuntu / Debian, probably erroneously), you can do `sudo fbterm` then inside that `export TERM=fbterm` for 256 colours.

I should had provided more details behind it; fbterm needs non-root users in video group else it claims you must be root to use fbterm's VESA stuff and not permit its use anyway

[2017-02-09 16:57] alex285 opened #129 "[Font Patcher Py3] Error in `python3': munmap_chunk(): invalid pointer"
### System
ArchLinux / Python 3.6
FontForge : fontforge 16:38 CET 24-Dec-2016 -  libfontforge 20161224
Nerd Fonts: 1.0.0

### When:
./font-patcher-py3 ~/Downloads/Hack-Regular.otf --fontawesome --octicons --pomicons --fontlinux

### Output:
<details>
  <summary>Click to show full stacktrace output</summary>
*** Error in `python3': munmap_chunk(): invalid pointer: 0x00007f7a2c891b70 ***
======= Bac

[2017-02-11 01:05] polyzen commented on #129
Python2 version:

Latest packaged fontforge is installed.

[2017-02-11 06:54] alex285 commented on #129
@polyzen there is not a fontforge module for Python2 in Arch :/

[2017-02-11 13:08] dffischer commented on #129
This is [a bug in fontforge](https://github.com/fontforge/fontforge/issues/2992). It is not compatible with python version 3.6, to which Arch Linux already upgraded. I temporarily reverted to Python 3.5 and a fontforge pkgrev backwards to use the font patcher, as suggested in [the respective issue thread](https://github.com/fontforge/fontforge/issues/2992#issuecomment-272713810). Maybe this strate

[2017-02-20 15:27] dan-santana opened #134 "Ubuntu Mono missing Bold and Italic versions"
Currently only the patched `Ubuntu Mono Regular` is provived by this repository, missing the Bold, Italic and Bold+Italic versions of it.

[2017-02-20 15:39] ryanoasis commented on #74
Re-confirmed that this has since been fixed (updating ticket):

![selection_002](https://cloud.githubusercontent.com/assets/8083459/23131565/7a737154-f758-11e6-929b-5ee2b039aa5b.png)
![selection_003](https://cloud.githubusercontent.com/assets/8083459/23131677/df1d28fc-f758-11e6-8ef0-f56581c74109.png)

[2017-02-20 15:39] #74 closed

[2017-02-20 15:41] ryanoasis commented on #88
@lisposter any chance you'd be willing to test this out again to see if the issue is solved for you? :smile:

[2017-02-20 15:48] ryanoasis commented on #26
I believe small powerline glyphs should at least be fixed in the latest version but I will test urxvt in particular with the menttioned fonts and if it goes well I will close this issue

[2017-02-20 15:53] ryanoasis commented on #9
Since latest release do not believe this is an issue. Closing

[2017-02-20 15:53] #9 closed

[2017-02-25 01:09] ryanoasis commented on #12
This is no longer an issue (**_except for font 3270_**),

tested opening the following fonts (otf version):

- **_3270-Medium Nerd Font Complete Windows Compatible (failing)_**
- AurulentSansMono-Regular Nerd Font Complete Windows Compatible
- Code New Roman Bold Nerd Font Complete Windows Compatible
- Droid Sans Mono for Powerline Nerd Font Complete Windows Compatible
- Fura Code Regular Nerd Fon

[2017-02-25 17:44] mike3run commented on #56
I'm having similar issues still in the sense that I have several weights of fonts with italics versions however all of the italics get assigned the Bold weight for some reason

[2017-02-26 12:06] ryanoasis commented on #56
@Undistraction Sorry that I never replied to you. I will test the scenario you mentioned

@mike3run Can you tell me which fonts you have patched?

[2017-02-26 17:18] mike3run commented on #56
@ryanoasis the Operator Mono font family, so I cannot directly share it but here let me show you a screen capture of the folder with all the patched fonts and on my fontbook program you can see that for example today only the light italic version is detected (up until yesterday it had been the bold version)

![screen shot 2017-02-26 at 11 16 48](https://cloud.githubusercontent.com/assets/7088511/2

[2017-02-27 01:02] ryanoasis commented on #56
@mike3run Thanks. Yep no worries I know about that font and yes we will comply with licenses here :smile:

[2017-02-28 10:13] Cpt0r opened #135 "Hermit font is misspelled as Hurmit"
As per title.  Minor thing but thought I'd mention it.

[2017-03-02 11:49] ryanoasis commented on #135
@Cpt0r Thanks but this is actually on purpose and not an issue. :smile:

For more info why see: https://github.com/ryanoasis/nerd-fonts/pull/131#issuecomment-280954653

---

I will create an issue to make name changes clearer

[2017-03-02 11:49] #135 closed

[2017-03-02 12:12] Cpt0r commented on #135
Ah righto, yea I searched for possible related issues but found nothing.

[2017-03-02 12:13] ryanoasis commented on #135
No worries @Cpt0r I am creating the issue right now! You are not the only one confused :wink:

[2017-03-02 12:27] ryanoasis opened #136 "Clarify reasoning for font name changes"
#### Clarify reasoning for font name changes

It is not clear enough (#135, #131) why some fonts names have been changed or appear to have typos.

These name changes are to comply with SIL Open Font License (OFL). Some fonts have parts of their name 'reserved', Fira for example: https://github.com/ryanoasis/nerd-fonts/blob/master/src/unpatched-fonts/FiraCode/LICENSE.txt

See the [SIL Open Font Lic

[2017-03-03 11:35] nomoon commented on #26
I'm still having some issues with my Powerline glyph sizes in iTerm.

DejaVuSansMonoforPowerline Nerd Font (complete)
<img width="777" alt="screen shot 2017-03-03 at 03 32 17" src="https://cloud.githubusercontent.com/assets/593185/23549644/0d163f8e-ffc2-11e6-9497-c703c3689202.png">
vs DejaVu Sans Mono for Powerline
<img width="777" alt="screen shot 2017-03-03 at 03 33 19" src="https://cloud.github

[2017-03-04 01:53] ryanoasis commented on #26
@nomoon Thanks for the details. Looks more like an alignment issue than size issue?

Btw, I like your prompt. Where is it from? :blush:

[2017-03-04 03:47] nomoon commented on #26
@ryanoasis that's powerlevel9k, which is in the process of rolling out nerd font support. I do think there's a bit of a sizing issue, though. The powerline arrows typically protrude a bit at the bottom.

[2017-03-05 01:01] ryanoasis opened #137 "Create release script"
#### Create release script

- this will help with dumb issues like:
  - forgetting to update py3 version script
  - updating the font source internal version (script needs creation)

Create a bash release script that simply runs the other scripts:
- `bump-internal-versions` (needs creation)
- `build-latest-py3-version`
- `standardize-and-complete-readmes.sh`
- `gotta-patch-em-all-font-patcher!.sh`

[2017-03-05 01:15] ryanoasis commented on #26
@nomoon Ah I should have realized it was PL9K. Yeah I have been kind of following along with the developments :smile:

Working on a test script that will help us test sizing and alignment issues more easily

[2017-03-08 10:22] nathanchere commented on #124
Agreed, a thorough but concise TLDR section would be very helpful. Especially when you have things like option 1 saying to run ./install.sh (from where? If you download just that file it doesn't work because it looks for /patched-fonts directory, but you also repeatedly say don't clone the entire repo, so wtf?)

[2017-03-08 14:02] agriffis opened #138 "Font Linux symbols aren't present"
The screenshot in the README shows the Font Linux symbols starting at 0xf100. However they don't seem to be present when I load `DejaVu Sans Mono Nerd Font Complete Mono.ttf` in fontforge:

![screenshot from 2017-03-07 17-37-56](https://cloud.githubusercontent.com/assets/50637/23706792/a59a8b56-03dd-11e7-9452-f465fa1c78ec.png)

### My setup
* font is `DejaVu Sans Mono Nerd Font Complete Mono.ttf`

[2017-03-09 03:52] ryanoasis commented on #138
Thanks again @agriffis,

Confirmed that the readme gives the wrong codepoints (it gives the original codepoints which cannot be used due to conflict)

Discussed on the [gitter chat](https://gitter.im/ryanoasis/nerd-fonts?at=58c091ee00c00c3d4fdc2ee0)

[2017-03-09 04:11] ryanoasis commented on #129
Since this doesn't have anything directly to do with any of the Nerd Font scripts I think I am content with closing this issue _when_ we have a wiki page for things like this :smile:

--

Thanks for the details everyone!

[2017-03-09 04:17] ryanoasis commented on #124
@nathanchere Yep thank you. I see your point that it is _not_ very clear and in this case very contradictory :blush:

[2017-03-09 08:07] zeorin commented on #124
@ryanoasis I considered downloading the files individually when I was updating install.sh. In fact, this is probably a better course of action than assuming someone is going to download the whole repo.

The reason I didn't is because there was a warning somewhere that we shouldn't count on the file paths, they may change. If the file paths are considered dependable (especially if we use some way t

[2017-03-10 00:55] SirDoctors commented on #26
I'm noticing the same thing as @nomoon, however It only appears with knack nerd font regular & driodsansmonoforpowerline nerd font book... but not with furamonoforpowerline nerd font regular

[2017-03-10 01:04] voiprodrigo commented on #26
Hi,

I seem to have a related issue. I'm using nerd-fonts with p9k, OS X iterm2

I see one-pixel gaps between the segments on the right, but not on the left:

![screen shot 2017-03-09 at 18 47 33](https://cloud.githubusercontent.com/assets/2421504/23765379/f1779ba6-04f8-11e7-9911-f43bd37658a5.png)

I'm using 14pt Meslo LG M Regular for Powerline Nerd Font Complete in iTerm2 profile.
Problem goes a

[2017-03-10 01:07] voiprodrigo commented on #29
I have this problem, commented in https://github.com/ryanoasis/nerd-fonts/issues/26

[2017-03-11 02:52] ryanoasis commented on #29
@voiprodrigo thanks

[2017-03-11 02:52] ryanoasis commented on #26
@SirDoctors and @voiprodrigo Thanks for the details.

So I think I would need to test the original (unpatched sources of these fonts) unless either of you can do that as well (the ones included in this repo [here](https://github.com/ryanoasis/nerd-fonts/tree/master/src/unpatched-fonts)).

Some of these fonts we have a config (`config_has_powerline`) where if present the patcher _should_ not touch

[2017-03-11 03:48] nomoon commented on #26
@ryanoasis I just downloaded both of the unpatched DejaVu Sans Mono & DejaVu Sans Mono for Powerline fonts, and they appear to work correctly. Only thing that I noticed is the regular "DejaVu Sans Mono" font file seems to already have the Powerline glyphs in it.

[2017-03-11 12:30] SirDoctors commented on #26
I downloaded Hack and removed the nerd fonts patched version from my fonts cache ``fc-cache -f -r -v`` after selecting and reloading my terminal (gnome-terminal) and tmux I'm noticing this http://i.imgur.com/75vqVwG.png

[2017-03-12 01:11] ryanoasis commented on #124
Yeah actually the way things are now I would agree it would probably be better for the install script to download the fonts from the repo (at least that'd be my vote at the moment).

The file paths should be more reliable now (at least on 1.x versions) the one thing that will probably change on the minor version changes could be the filenames themselves.

Also since 1.0.0 I believe some of the opt

[2017-03-14 20:06] No0n3Left commented on #138
They were moved to f3xx, instead of f1xx. Just found them kinda randomly looking for them. I don't know how to update the image though, I tried but its hard to replace the 1 with a 3 and make it blend in.

[2017-03-14 20:11] agriffis commented on #138
@No0n3Left you just need an updated screenshot. Here's the one from gitter conversation.

![screenshot from 2017-03-08 20-23-33](https://cloud.githubusercontent.com/assets/50637/23920371/c135ea66-08d0-11e7-9311-f2a11f9a7753.png)

I thought about updating it too, but I was surprised to see `readme.md` making image references from the wiki. I haven't seen that technique before on github, so I left o

[2017-03-14 21:36] sencer opened #139 "Fira Code Alignment Problem"
`:` character, and perhaps others, are misaligned compared to the Fira itself.

[2017-03-14 23:30] ryanoasis commented on #139
Hmm those shouldn't be modified but I will take a look. Thanks!

[2017-03-14 23:36] ryanoasis commented on #138
Yeah that might not be the best place to put these images going forward if it's harder for people to contribute.

I think I carried that method over from [VimDevIcons](https://github.com/ryanoasis/vim-devicons) but in that project the purpose was to offload the images to reduce download size when users update their plugin.. in Nerd Fonts that's probably a stupid reason because the repo is already

[2017-03-15 22:36] ryanoasis commented on #127
Can either/both of you tell me the exact font using? Most importantly if it ends in `Complete Mono` ?

[2017-03-15 22:59] ryanoasis commented on #37
since [v1.0.0 release](https://github.com/ryanoasis/nerd-fonts/releases/tag/v1.0.0) this is fixed

[2017-03-15 22:59] #37 closed

[2017-03-15 23:09] ryanoasis commented on #40
This has since been fixed in [v1.0.0 release](https://github.com/ryanoasis/nerd-fonts/releases/tag/v1.0.0)

left side: v0.8.0 (pre-fix)
right side: v1.0.0 (after post-fix)

![selection_011](https://cloud.githubusercontent.com/assets/8083459/23974657/bc3b3754-09b2-11e7-96f9-f1c386cebd2b.png)

[2017-03-15 23:09] #40 closed

[2017-03-15 23:15] ryanoasis commented on #34
@yarthur Wiki page has been fixed

@dritter Any strong objections on closing this issue? It seems we have settled on leaving the code points where they are in the Nerd Fonts Complete variations (the standard one 99.9% of users will use anyway)

If something changes at this point the major version would have to bump anyway due to breaking changes

[2017-03-15 23:22] Cpt0r opened #140 "Suffix 'Mono' to differentiate between font types"
#### Subject of the issue

Please mark the monospaced version as eg. 'Hurmit ... Mono' so it's possible to install fixed and variable width versions and select between them.

This would allow using the mono version for code/terminal and variable width for glyphs to avoid the 'small glyph' issue reported elsewhere.

#### Your Setup

N/A

#### Optional

<img width="213" alt="screen shot 2017-03-16 a

[2017-03-16 08:42] ColinZeb opened #141 "some powerline chars can't display on windows with xshell."
such as \u21B5.
i'm trying patch a font:consolas ,and it's use on windows 10 with xshell. my command text is "./font-patcher -w -c -s ~/consola.ttf".
now , some powerline char not work. i need help。

**screenshot**
![f](https://files.gitter.im/ryanoasis/nerd-fonts/TbzB/zsh.png)

[2017-03-16 08:46] dritter commented on #34
Allright. Thanks @ryanoasis

[2017-03-16 08:46] #34 closed

[2017-03-16 14:14] jayywolff commented on #127
I'm using FuraMonoForPowerline Nerd Font Regular 11 in the terminal.

[2017-03-16 15:39] debiansid commented on #141
Try it on SecureCRT

[2017-03-16 22:42] Cpt0r commented on #140
Nevermind... https://github.com/bhilburn/powerlevel9k/issues/430#issuecomment-287084613

[2017-03-16 22:42] #140 closed

[2017-03-17 01:21] ryanoasis commented on #140
@Cpt0r hmm so when I saw your screenshot I thought it was an issue. Seems like fontbook is grouping them without considering the 'Mono' portion. I think we only have that in the filename :thinking:

[2017-03-17 02:18] Cpt0r commented on #140
Yep that's what I meant, wasn't clear - the 'Mono' is missing from the embedded font family name.

I concluded no one else would want this 'fixed' but maybe I was too quick to close this issue.

[2017-03-17 02:51] ColinZeb commented on #141
securecrt work right.
and how can i if fix it with xshell?

[2017-03-17 02:58] Cpt0r opened #142 "Various fonts (including: Hurmit) glyphs offset/wrong size"
#### Subject of the issue

Text and glyphs at 14pt:
<img width="123" alt="screen shot 2017-03-17 at 10 09 30" src="https://cloud.githubusercontent.com/assets/8690075/24027132/650684d0-0b19-11e7-9878-72ce33242039.png">

text at 14pt, glyphs at 18pt:
<img width="149" alt="screen shot 2017-03-17 at 10 10 28" src="https://cloud.githubusercontent.com/assets/8690075/24027134/6796d164-0b19-11e7-9061-fdce

[2017-03-17 04:33] debiansid commented on #141
It is related client , so I doubt you can fix it

[2017-03-17 04:43] debiansid commented on #141
It did not work on putty either

[2017-03-17 04:43] ColinZeb commented on #141
on mintty, did't display correct either.

[2017-03-17 04:44] ColinZeb commented on #141
But meslolg font  work is completely on xshell or mintty

[2017-03-17 05:42] Cpt0r commented on #142
To clarify this issue isn't present in single-width version of the font.

[2017-03-17 11:33] ryanoasis commented on #142
That's troubling 😟 but thanks for the report

[2017-03-17 15:33] debiansid opened #143 "nerd-fonts not working on MacOS Sierra 10.12.3 zsh 5.2 (x86_64-apple-darwin16.0)"
#### Subject of the issue
nerd-fonts not working on MacOS Sierra 10.12.3 zsh 5.2 (x86_64-apple-darwin16.0)+oh-my-zsh with powerlevel9k theme
_Describe issue here_
[code]
#### Your Setup

- Sauce Code Pro Nerd Font Complete Windows Compatible.ttf
-  iTerm2 3.0.15
- MacOS Sierra 10.12.3_

#### Optional
`awesome-patched` + [+`SourceCodePro+Powerline+Awesome+Regular.ttf`](https://github.com/stefano-me

[2017-03-18 02:22] #143 closed

[2017-03-18 02:33] ryanoasis commented on #143
Thanks for the update. Glad you got it sorted out :smile:

[2017-03-18 13:52] ryanoasis commented on #139
@sencer I am not seeing this. Can you add more detail or a screenshot? Also which 2 fonts exactly are you comparing?

[2017-03-18 20:10] ryanoasis commented on #142
@sharkusk did a lot of great work fixing issues (in particular the mono issues) :smile: but I think we can carry over some of his logic to apply to _both_ mono and non-mono versions of fonts, in particular to:

1. vertical center the glyphs
2. stretch the powerline glyphs

I am pretty confident we want to do `#1` but not sure on doing `#2`

Here are some screenshots with my tweaks to the patcher:

[2017-03-20 23:55] Cpt0r commented on #142
More info:

The above was the `light` version.  Below is a shot of the `medium` which has slightly different offset:

<img width="176" alt="screen shot 2017-03-21 at 10 52 55" src="https://cloud.githubusercontent.com/assets/8690075/24126872/b453c0e4-0e24-11e7-8585-1537f81bdf24.png">

[2017-03-21 01:41] ryanoasis commented on #142
@Cpt0r Thanks, I will test that version too

[2017-03-22 13:03] msva commented on #84
@ryanoasis and what do you think about:
1) removing some duplicate glyphs (for example, it is multiple octocat faces, tuxes, win10 flags, ...), including multiple-sized (npm, octocat silhouette, drupal, CC, tablet and smartphone (that ones has microscopic clone-glyphs)). And maybe even give their place to, say, font-linux glyphs, to not move them so far
2) maybe dropping some logo glyphs, that is

[2017-03-22 23:47] ryanoasis commented on #142
This is working well so far but I have some more tweaking for the powerline glyphs to do.

Here is a before and after for Sauce Code Pro:

![selection_017](https://cloud.githubusercontent.com/assets/8083459/24225726/68475c46-0f38-11e7-9b99-0b44cb9f4a09.png)

[2017-03-22 23:53] Cpt0r commented on #142
I noticed even in the fixed version there's more bottom edge space than top - is this intentional or are they not centered/using maximum available space?

I know nothing about fonts so this may very well be A Good Thing/The Right Way (tm).

[2017-03-22 23:57] ryanoasis commented on #84
@msva Thanks

1. That's a good point. I think it has been brought up before or at least I thought about it. Hmm I would say I am leaning toward *not* doing that because this is more of a grouping of different iconic fonts than it's own custom build (though there have been some custom additions or one-offs). However perhaps in a next major version we could consider this (e.g. v2.0)
2. My answer her

[2017-03-23 00:12] ryanoasis commented on #142
Not sure on that. I'll have to check in more detail. Thanks

[2017-03-26 22:00] ryanoasis commented on #140
@Cpt0r Yeah this actually does look like an issue (if someone is going to use both mono and non-mono versions)

[2017-03-29 17:31] powerman opened #144 "List of current symbols and codepoints"
This list is useful for testing and choosing interesting symbols.
Also it's more consistent with current fonts than codepoints shown in README.
So, it may worth to add this to the wiki - I've opened issue just to ask is this appropriate. Probably it's better to put it on page with Nerd font loaded.

## IEC Power Symbols (23FB-23FE,2B58)
[code]

## Font Awesome Extension (moved E000-E0A9 → E200-E2A

[2017-03-30 01:00] ryanoasis commented on #144
@powerman Hey thanks for this! Really great :smile:

Just FYI trying to build a script for output/testing, you can see some progress here: https://github.com/ryanoasis/nerd-fonts/issues/84#issuecomment-288576052

Yeah if this was on the wiki I think it would have to be as images but you are right using it on a page with the font actually loaded would be very helpful!

Perhaps on the website (http:

[2017-03-30 16:47] powerman commented on #144
I've updated list - some Awesome icons was missing, not sure how that happens. :(

[2017-03-30 22:37] powerman opened #145 "Shell variables with established names for icons"
I've gathered established names for all icons from many places and created https://github.com/powerman/nerd-fonts-sh to make it easier to use icons in shell scripts. In case there are several established names - I've provided aliases.

It may make sense to merge these files into your repo - this should make it easier to keep them in sync with font changes. If you'll do this - I'll close my repo. I

[2017-03-30 22:57] powerman opened #146 "zap (26A1) is wide"
#### Subject of the issue

I've no idea is this an issue with fonts or Vim or terminals. Somehow "zap" icon became 2-symbol wide in Vim, while in shell/mcedit/mousepad it looks normal.

[code]

This is not happens with all other icons, only with this one.

#### Your Setup

I've tried several fonts: RobotoMono Nerd Font, DroidSansMono Nerd Font, etc.
I've tried several terminals: uxrvt, konsole.
I'

[2017-03-31 00:06] ryanoasis commented on #146
@powerman Hey thanks for the report. I am seeing the same. It looks like this is how it is in the source (octicons).

Will do some more investigating.. but looks like to fix this would have to be some tweaking to the patcher script

[2017-03-31 00:15] ryanoasis commented on #145
@powerman That's just... awesome :tada:

I would :heart: to see this in the Nerd Fonts repo :blush:

---

Yeah the powerline extra symbols I didn't give official names (can work on that) and yes there were some other custom ones added. On Devicons not sure why some might not have.

If you want I can try to add this to the next release (1.1) I just haven't spent much time on dev :cry: so maybe this

[2017-03-31 00:27] powerman commented on #145
If you like I can push these scripts, but let me know which directory/names I should use. I'll open PR to let you review, of course.

[2017-03-31 00:41] ryanoasis commented on #145
If you would like to create a branch here go for it you have my blessing :smile: (just please not master -- though I don't think you can).

I will create a 1.1 branch this weekend I believe

I think in bin/scripts makes sense but maybe there could be another sub-dir there.. I am not 100% sure. I will think about it some more.

[2017-03-31 04:04] msva commented on #144
Uhm... I did a simple script on Lua to test fonts... And I have few questions:
![screenshot_20170331_105543](https://cloud.githubusercontent.com/assets/268102/24535861/fb407874-1600-11e7-8e7f-8cbb2690212c.png)

1) Does that glyphs rendered under "Seti UI" font really what is intnder to be rendered there?
2) Take a look on glyphs between red `[` and `]`. Also take a look at the underlined glyph. As

[2017-04-01 19:15] ryanoasis commented on #144
@msva Great nice script. Feel free to submit a Pull Request to add it to Nerd Fonts :smile:

1. Are you referring to the glyph at `e613` yes it was the original folder from Seti UI. The other folders I added and customized from other sources (in particular to have an open folder as well).
2. Yes those look to be too low as you mention. It was not intended no. It should hopefully be fixed in [v1.1.

[2017-04-02 04:24] msva commented on #144
0)

As I said, it's in Lua. Not sure, people will want to install lua (even it is very small and has very small runtime memory footprint) to just test fonts :-D
And also, I want to try to rewrite it to render a table, like you showed in another issue :)

But... If you're really sure Lua script will be acceptable, I'll definitely PR it when it'll be done.

// I'd maybe try to rewrite it on bash, bu

[2017-04-02 04:30] msva commented on #144
By the way, @ryanoasis, maybe you know how to remove glyphs by their codes from the multiple the fonts in a row (i.e. not opening FontForge gui, but script it in some way)?

// although, it throws some warnings and errors on some fonts, and I afraid it will brake something after such changes :-/

[2017-04-02 20:46] paul commented on #126
I also have the same issue. Additionally, the "UniqueID" typeface renders as bold italic in my iTerm2.

![2017-04-01 at 6 11 pm](https://cloud.githubusercontent.com/assets/184/24590911/136c4622-17b3-11e7-8bc6-00f9b4efb0b6.png)

[2017-04-04 12:04] ddnexus commented on #142
Where could I try the font-patcher with the latest fixes/tries? I didn't find any branch/commit with that :(

[2017-04-05 01:36] ryanoasis commented on #142
@ddnexus No branch yet. I'll try to create one this weekend or if not at least a gist diff

[2017-04-05 02:34] ddnexus commented on #142
Thank you Ryan! A gist would be great too! Looking forward to try it soon. Thanks.

[2017-04-05 08:42] xasx commented on #26
My discovery is that if you use
* **Mono** variant:
   * you'll get _small icons_
   * but have _no gaps_ between the triangles
* **non-Mono** variant:
   * you get the _full-sized icons_
   * but _have gaps_ between the triangles

A typical 'you can't have one without the other'. :thinking:

[2017-04-05 09:39] PrzemekSkw commented on #138
@ryanoasis Hi, will You be so nice and help me add fedora logo to my terminal theme? I use zsh shell and tilix terminal. I install Powerlevel9k theme and add some codes to .zshrc file:
`POWERLEVEL9K_MODE='awesome-patched'
source  ~/Programy/powerlevel9k/powerlevel9k.zsh-theme
SAVEHIST=100
HISTFILE=~/.zsh_history

POWERLEVEL9K_STATUS_VERBOSE=false
POWERLEVEL9K_STATUS_OK_IN_NON_VERBOSE=true
POWERLEV

[2017-04-05 15:06] agriffis commented on #138
@PrzemekSkw This is not the right place to ask for help. Try [gitter](https://gitter.im/ryanoasis/nerd-fonts)

@ryanoasis I think we can just put these images in the repo like you suggested. They're small beans compared to the fonts themselves. I'll make a PR that does that and then fixes this issue.

[2017-04-06 02:08] ryanoasis commented on #138
@PrzemekSkw Love your desktop wallpaper. Yeah this is probably not the best place for this as @agriffis mentioned but one thing you will have to change the mode to the nerd fonts one. Honestly I am not sure the best way to modify a specific segment to insert a specific glyph.

@agriffis Yes that is best thanks. I agree original reason I gave makes no sense. I saw the PR thanks for that. Will merge

[2017-04-06 02:24] ryanoasis commented on #142
Didn't get around to it today. Maybe tomorrow

[2017-04-06 03:51] ddnexus commented on #142
Thank you Ryan.
Maybe a simple gist with the whole font-patcher file would be an easier option for you? Just a copy &paste, but that would allow us to patch the fonts right away. I cannot wait to fix how my terminal looks :)

[2017-04-06 06:07] msva commented on #26
Depends on font.

Say, in Pragmata (it is monospaced by itself, but it also have `Mono` varint without ligatures) it is anyway 1px gap appears for "left-turned" triangles on *some* (!) font sizes.
And some icons is anyway small in both variants).

And this is much more sad, because I'd like to use `~9pt` size font in my terminal (having 271x75 Terminal on PragmataPro @ 9pt @ FullHD @ 96DPI), and `

[2017-04-06 06:43] PrzemekSkw commented on #138
@ryanoasis I find solution thx :)
That's the wallpaper:
[https://www.google.pl/search?q=lego+star+wars+wallpaper+hd3&tbm=isch&imgil=o6TEy0YJLAQMYM%253A%253B5ur5VvNDT4WieM%253Bhttp%25253A%25252F%25252Fwallpapermonkey.com%25252Funcategorized%25252Fstar-wars-wallpaper-iphone-hd%25252F&source=iu&pf=m&fir=o6TEy0YJLAQMYM%253A%252C5ur5VvNDT4WieM%252C_&usg=__rz7QC9nvqMpptjUiOEcdo1JMCq4%3D&biw=1600&bih=759

[2017-04-06 14:56] BigfootN opened #150 "Font rendering issue urxvt"
Hello,

I am having problems when using one of your font in urxvt. It sometimes leaves pixels behind. Here is an example:
![capture d ecran de 2017-04-06 15-55-38](https://cloud.githubusercontent.com/assets/1183923/24762162/cd8b8012-1aed-11e7-90d5-e24151810139.png)

You can see on the left that there are some kind of pixels.  I tried with gnome-terminal and no problem.

Here is my Xresoures:
[code

[2017-04-06 22:06] ryanoasis commented on #144
@msva not sure exactly but you can probably find a decent fontforge python script on github

[2017-04-06 22:12] ryanoasis commented on #142
@ddnexus here you go: https://gist.github.com/ryanoasis/1b9a525aa3b5cad40c66d5e1d84c9b4d

very much a WIP (fixing a couple issues at the same time). If you manage to test it out let me know how it works for you...

I am considering also just getting a `dev`/`next` branch up that is up to date with WIP stuff... but not yet decided

[2017-04-06 22:37] ryanoasis commented on #26
So hopefully in 1.1 this will be as close to 'fixed' as possible.

## Here are some comparisons with Hack (Knack)

### current

![selection_025](https://cloud.githubusercontent.com/assets/8083459/24778118/e0180530-1af6-11e7-8b25-7515c9e2919c.png)

![selection_026](https://cloud.githubusercontent.com/assets/8083459/24778124/e781deb8-1af6-11e7-8f8a-37215e99e6dd.png)

![selection_027](https://cloud.g

[2017-04-07 02:57] matthew-groth commented on #142
Thanks @ryanoasis, this has been bugging me for a long time. The current patch, however, does not fix it for me.

Before patch:

![beforepatch](https://cloud.githubusercontent.com/assets/12831489/24783676/cfef431a-1b1b-11e7-83ff-9291a3d76061.png)

After Patch:
(Deleted font, used `git apply` on the gist you just uploaded, ran `./install.sh`, reloaded font)

![afterdiff](https://cloud.githubusercon

[2017-04-07 03:12] ddnexus commented on #142
Thank you Ryan,
this WIP is aleady a huge improvement in the look of the fonts.

It looks like the Vertical and Horizontal centering is perfect for all glyphs,
however the scaling still needs a few fixes: here is what I noticed till now, HTH you to continue with this great WIP:

- Powerline Extra Symbols
  - Vertical scale is OK
  - Horizontal scale is WRONG. The x scale ratio should be the same a

[2017-04-07 03:16] ddnexus commented on #142
@matthew-groth: It doesn't look you patched the font using the font-patcher. Did you re-patch the font?

[2017-04-07 08:40] Jeansen commented on #150
Do you use any other fonts? Eg, vim dev icons? Maybe post your .vimrc, too. So far I could not reproduce your problem.

[2017-04-07 08:51] BigfootN commented on #150
Thank you for your answer.

Here is my vimrc:

[code]

As you can see, I am also using `vim dev icons`.

I also tried with a normal font (not patched) and no problem.

Thank you again for all your answer and help

[2017-04-07 08:56] xasx commented on #26
Don't get me wrong. I fully understand that it has to be like that with strictly-monospaced fonts and that it is the best way to offer terminals that only support monospaced fonts a way to incorporate the Nerd Fonts.

[2017-04-07 10:52] Jeansen commented on #150
Hm..yes. My bad - still used xterm. It seems to be a font thing. `URxvt*font: xft:DejaVu Sans Mono for Powerline:size=11` works for me. Your font does not show me the file symbols, just empty boxes.

[2017-04-07 10:53] Jeansen commented on #150
Btw: Vim dev icons plugin should be the last plugin loaded :)

[2017-04-07 13:24] BigfootN commented on #150
Thank you for your answer, so I loaded the vim `vim dev icons` in last and it seems to work for now. I'm closing the issue. If I have any more problems related to this issue I'll reopen it.

Thank you again very much.

[2017-04-07 16:17] BigfootN commented on #150
Hello again,
I'm really sorry, but I'm still having problems. I took another shot:

![capture d ecran de 2017-04-07 18-13-37](https://cloud.githubusercontent.com/assets/1183923/24808950/2dbcf4cc-1bbe-11e7-882b-eb367ea273a1.png)
As you can see on the left, there are still those little vertical dots.

Thank you again

[2017-04-07 23:57] matthew-groth commented on #142
Thanks @ddnexus you're right that I missed that step.

However, it still didn't work for me after running `./font-patcher "/Users/Matt/Library/Fonts/NerdFonts/Literation Mono Powerline Nerd Font Complete.ttf"`

[Here's the output from the font patcher.](https://github.com/ryanoasis/nerd-fonts/files/907072/FontPatcherOutput.txt)

There's still no difference between the font pre- and post-patch. Aft

[2017-04-08 00:01] ddnexus commented on #142
It looks like you are patching an already patched font, missing a flag. You should patch the original not-yet-patched font, and use the -c flag.

[2017-04-08 00:08] ryanoasis commented on #142
@matthew-groth Did you re-clear font cache? @ddnexus might be right (try patching an un-yet patched font). Also I would remove whatever nerd fonts you have, clear cache, run patcher on unpatched font, close terminals and re-open. Might this is overkill but might be something missing in those steps

---

Looking at your output all I can think is "really need to fix that progress bar" :blush:

[2017-04-08 00:12] ryanoasis commented on #142
@ddnexus Thanks for the feedback on the WIP, I really appreciate it. I will try to reply to your comments sometime tomorrow.

For now I am working on some test scripts to help make testing easier, preview:

![selection_031](https://cloud.githubusercontent.com/assets/8083459/24823621/75d0600e-1bce-11e7-970d-630082f32208.png)

Also I will push a `dev` branch up tomorrow

[2017-04-08 00:45] matthew-groth commented on #142
Still no luck 😕

Here's what I did:

1. Deleted all my powerline fonts
2. cleared font cache with `sudo atsutil databases -remove`
3. ran `./font-patcher -c "/Users/Matt/Desktop/nerd-fonts/src/unpatched-fonts/LiberationMono/Literation Mono Powerline.ttf"`
4. copied `/Users/Matt/Desktop/nerd-fonts/Literation Mono Powerline Nerd Font Complete.ttf` to `~/Library/Fonts`
5. logged out and back in
6. op

[2017-04-08 01:00] ddnexus commented on #142
It looks like you are using a Powerline patched font. Could you try to patch a normal font like Menlo?

[2017-04-08 01:02] ddnexus commented on #142
And BTW... Literation or Liberation?

[2017-04-08 12:15] Jeansen commented on #150
No need to be sorry. Have you tried another font like the one I suggested?

[2017-04-08 12:17] Jeansen commented on #150
Also I would suggest to try vim 8 and post your results here.

[2017-04-08 16:37] ryanoasis commented on #26
@xasx No worries, apologies if I came across as if you didn't understand :smile: . Thanks for summarizing the current state in a clear way

[2017-04-08 16:44] BigfootN commented on #150
Thank you for your help again.

So I took a shot with vim 8 and the `dejavu font`:

![capture d ecran de 2017-04-08 18-41-48](https://cloud.githubusercontent.com/assets/1183923/24830698/362bb260-1c8b-11e7-942b-6e3f685f61d1.png)

It's quite different because the vertical dots now seem to stand near the arrows.

Thank you very much again for all your help

[2017-04-08 17:33] ryanoasis commented on #150
@BigfootN Thanks for your screenshots. Honestly I am not sure what's going on there. I can try to take a look in some time but not sure when that'll be.

[2017-04-08 18:14] Jeansen commented on #150
Hm...interesting.  FuraCode Nerd Font works in xterm, but not in rxvt - I do not see any symbols. In Xterm I have with any font I tried to problem that NERDTree cuts symbols in half. I actually went away from NERDTree, because it is so damn heavy ....

Could you try this out? https://github.com/powerline/fonts
And then put `URxvt*font: xft:DejaVu Sans Mono for Powerline:size=11` in your .Xresource

[2017-04-08 22:05] ryanoasis commented on #142
@ddnexus Just fixed one of the points you raised:

You can see **mono (left side)** and **non-mono (right side)**:

![selection_032](https://cloud.githubusercontent.com/assets/8083459/24832794/c7186422-1c85-11e7-890d-5f740fe4c8b7.png)

[2017-04-09 14:53] BigfootN commented on #150
Sorry for the late response. I think I found the problem. I was using the rxvt-unicode-patched from the aur of archlinux. After trying the `rxvt-unicode` package, there doesn't seem to be anymore problem.

For more information see [here](https://bbs.archlinux.org/viewtopic.php?id=224919).

Thank you very much again for all your help :)
I'll close this issue, and if I still have problems I'll reope

[2017-04-09 16:20] BigfootN commented on #150
Sorry for the delay. So I have made some tests. And using your font works. I don't have any more problems. So it seems to come from the Nerd Font, my .Xresources or maybe the terminal (`rxvt-unicode-patched` from the AUR of Archlinux).

Thank you again very much for your help and patience.

[2017-04-09 16:51] ryanoasis commented on #150
@BigfootN Sure no problem. which font is being used currently?

[2017-04-09 16:53] BigfootN commented on #150
Thank you for your quick response. I'm using the exact same font as @Jeansen suggested me: `URxvt*font: xft:DejaVu Sans Mono for Powerline:size=11`.

[2017-04-09 18:01] Jeansen commented on #150
I am happy I could be of some help :)

[2017-04-10 00:36] ryanoasis commented on #150
Thanks all. :smile: So is this resolved?

[2017-04-10 11:11] onnlinetool commented on #39
Downloaden Knack  Downloaden Knack  Downloaden Knack

http://bit.ly/2oWYzXw

http://bit.ly/2oWYzXw

http://bit.ly/2oWYzXw

http://bit.ly/2oWYzXw

http://bit.ly/2oWYzXw

http://bit.ly/2oWYzXw

http://bit.ly/2oWYzXw

http://bit.ly/2oWYzXw

[2017-04-10 11:27] BigfootN commented on #150
Sorry for the late response.

Unfortunately, no, it doesn't seem so :(

Thank you all for your amazing help and patience :)

[2017-04-10 11:55] ddnexus commented on #142
That looks great! Thanks Ryan!

[2017-04-10 14:24] Eremiell opened #153 "AIGA Symbols"
Hi!

I found out your wonderful work only recently and I'd like first of all to express my appreciation.

While I philosophically side more with the fallback approach than to patching, especially as it theoretically automagically works with any and all fonts without extra work, what you have here is probably the most complete collection of glyphs I've seen so far.

Interestingly, there's very anci

[2017-04-10 14:31] Eremiell opened #154 "Material Icons"
A similar yet completely different story to my previous enhancement proposal are Material fonts.

Originally made by Google, infused by made user made icons, it's a huge icon set connected very closely to today's web, mobile devices, etc.

The challenge in this one might be it's size.

https://materialdesignicons.com/
https://material.io/icons/

The font, especially the community version, is just

[2017-04-11 01:35] ryanoasis commented on #150
@BigfootN Sure no problem. Wish I could do more.

Am I to understand this may be more of an issue related to `urxvt` ? It is not related specifically to the Nerd Font version of the font?

We can leave this issue open for now...

[2017-04-11 01:37] ryanoasis commented on #142
@ddnexus Sure thank you. There are still some spacing problems as you can see but I think we are moving in a good direction. Also this is being updated in the [`dev`](https://github.com/ryanoasis/nerd-fonts/tree/dev) branch.

[2017-04-11 02:09] ryanoasis commented on #153
@Eremiell Thanks for this suggestion I will check it out :smile:

Thanks for the kind words. Also yes I understand your reason for the fallback approach (I was completely new to that even existing when starting this :blush:) but it seems they both have their place.

Btw, there is a `--custom` flag in the patcher but having an explicit option is always better :smile:

[2017-04-11 02:12] ryanoasis commented on #154
Yep thanks again. I am aware of them but I honestly haven't explored the possibility of adding them too deeply yet :smile:

Yeah I am not sure about the feasibility either, that is a good concern to raise :thinking:

Yep, I can understand that

[2017-04-11 18:28] Jeansen commented on #150
It might be with urxvt. BigfootN, whicht distro are you using?

[2017-04-11 21:46] gunman808 commented on #150
As I look at your .Xresource config, I can see this line

URxvt*letterSpace: -1

...which is usefull for a narrow fontspace, but maybe it doesn't fit with every font or some icons.
Do you have this problem also, when you comment this line out?

[2017-04-12 14:18] agriffis commented on #150
urxvt historically has had problems with scalable fonts. I complained about it in 2008: http://lists.schmorp.de/pipermail/rxvt-unicode/2008q3/000659.html

The images aren't available at those links any more, but I still have them so I'll paste them here:

**rxvt-monospace-9.png**
![rxvt-monospace-9](https://cloud.githubusercontent.com/assets/50637/24961897/409b313c-1f68-11e7-9c19-7770159eb981.png)

[2017-04-13 00:28] Jeansen commented on #150
maybe it is also worth a try to install rxvt-unicode-256color since this compilation includes some tweaks for termcap/terminfo?

[2017-04-13 07:53] BigfootN commented on #150
Sorry for the late response, I really was busy these last few days. So first of all I would like to thank you all for all your help and patience. I think I got it figured out. So I tried to disable the `letterSpace` and it seems to come from there. Once disabled, there doesn't seem to be any glitches anymore. So I think I now know where it comes from.

Thank you again for all your precious help.

[2017-04-14 09:26] powerman opened #155 "Support fonts with double-width icons in xterm/rxvt-unicode/zsh/vim/…"
https://github.com/powerman/wcwidth-icons provides .so library for LD_PRELOAD and patch for vim which enable support for full size icons in urxvt etc. It doesn't looks like this project is suitable for merging into nerd-fonts, but it may worth mention it in nerd-font's README/FAQ.

[2017-04-14 22:24] ryanoasis commented on #155
@powerman Thanks. You may feel free to add/edit the Wiki :smile: Just created this page for instance: https://github.com/ryanoasis/nerd-fonts/wiki/Terminal-Emulators

[2017-04-14 22:26] ryanoasis commented on #150
@BigfootN
Sure no problem. Glad you were able to figure things out :smile:

Feel free to add any helpful info, examples, or links to: https://github.com/ryanoasis/nerd-fonts/wiki/Terminal-Emulators

Can we close this issue?

[2017-04-16 00:09] agriffis commented on #155
@powerman Wow, that's impressive! The wcwidth-icons README definitely needs some screenshots though ;-)

[2017-04-16 10:52] BigfootN commented on #150
Tank you very much again for all your help and patience :)

[2017-04-16 10:52] #150 closed

[2017-04-19 01:10] mr-ubik commented on #144
Is there any plan on updating the README pics to reflect the codepoints change?

[2017-04-19 01:41] ryanoasis commented on #144
@mr-ubik Sorry for any current confusions. To answer your question yes, see: #149

[2017-04-19 02:17] mr-ubik commented on #144
@ryanoasis thanks for the reply. Is there a list of things that are still missing / you need help with?

[2017-04-19 23:04] mike3run commented on #56
hey there @ryanoasis just wondering if by any chance this got solved?

Thanks a lot!

[2017-04-19 23:56] ryanoasis commented on #56
@mike3run Hey just tested this.. so unfortunately I cannot test on macOS with fontbook but seems to me it might use the weight to differentiate the fonts.

Are you seeing the same issue with unpatched versions of the same font and same weights or does it only occur after patching?

---

Here is what I see on Linux and it seems to differentiate fine, however there does seem to be something going on

[2017-04-20 00:00] mike3run commented on #56
@ryanoasis its a bit weird since i mean the font gets actually rendered and you can _select_ it but it will look like other weight.

So even if it says its the light font it will show as bold 🤔

[2017-04-20 00:01] mike3run commented on #56
also forgot to add, yeah the bug happens only after patching

[2017-04-20 00:09] ryanoasis commented on #144
@mr-ubik Sure no problem :smile: I am going to assume you mean help in general (not with the codepoints specifically):

Things that need help:

- In general any ideas, PRs, bug reports, testing is appreciated :smile:
- [the wiki](https://github.com/ryanoasis/nerd-fonts/wiki), in particular:
  - [Terminal Emulators](https://github.com/ryanoasis/nerd-fonts/wiki/Terminal-Emulators)
  - [Developer Set

[2017-04-20 00:21] ryanoasis commented on #56
@mike3run Oh! So it's not an issue with some showing up or not showing up as selectable but how the style is rendered?

I wonder if the same thing would happen for you with for instance with Hasklug (Hasklig). It seems to render the correct style/weight for me on Linux:

![selection_037](https://cloud.githubusercontent.com/assets/8083459/25207576/b2d135f0-253d-11e7-9fc9-c44c3f4d5b1e.png)

[2017-04-20 01:27] mike3run commented on #56
Is a mixture of both, on the official fontbook app they do show with names but in a more specialized app like the one on my screenshot above or below they do not show possibly since they are being repeated:

![](https://cloud.githubusercontent.com/assets/7088511/23341862/3d5ae628-fc15-11e6-8253-929e7bdf2055.png)

[2017-04-20 01:28] mike3run commented on #56
So you can see on the right I have all the fonts + italic versions but when imported on the italic ones only the light shows up.

On my laptop the same installed fonts make only the bold one show up as italic

[2017-04-20 01:55] ryanoasis commented on #56
Thanks, this might take some more digging :worried:

[2017-04-22 02:48] #126 closed

[2017-04-22 02:48] #142 closed

[2017-04-22 02:59] #138 closed

[2017-04-23 13:07] RiccardoMPesce opened #156 "Thin vertical blue line on my prompt"
Hello,
I am using Oh My Zsh theme PowerLevel9k with nerd-fonts.
I use Gnome-Terminal, on Antergos (which is Arch Linux).
As my font, I both have patched with the font-patcher-py3 the following:

The first one is the src/ font patched, while the second one is a vanilla patched.
Using both them gives the same effect.

This is the effect I get (the vertical blue line after the prompt), after changing

[2017-04-23 13:48] agriffis commented on #156
I had a similar problem with Deja Vu Sans Mono on gnome-terminal. It improved for me when I switched to the "Mono" variant. What happens if you patch with `--mono`?

(I think @ryanoasis is also working on fixing these problems in the non-mono variants, but his work on that isn't finished yet.)

[2017-04-23 14:01] RiccardoMPesce commented on #156
Patching it with `./font-patcher-py3 -c --mono -ext otf -out ~/.local/share/fonts/NerdFonts src/unpatched-fonts/DroidSansMono/Droid\ Sans\ Mono\ for\ Powerline.otf && fc-cache -fv` keeps giving me the same issue.

[2017-04-23 15:09] ryanoasis commented on #156
@RiccardoMPesce Ah you are using the py3 version of the patcher right? I haven't updated that yet.

You did pull the latest of `master` ?

Anyway here are the results of Droid for me:

### before fix:
![selection_038](https://cloud.githubusercontent.com/assets/8083459/25314578/f833699a-2814-11e7-9c4a-3cd21c3dd44a.png)
### after fix:
![selection_039](https://cloud.githubusercontent.com/assets/80834

[2017-04-23 20:06] RiccardoMPesce commented on #156
@ryanoasis thanks for the effort. Unfortunately, the blue vertical line persist. Can it be the fact that I am using otf instead of ttf?

[2017-04-23 20:35] ryanoasis commented on #156
Well that is at least _some_ good news. I was going to say maybe you needed to clear your font cache and close all terminals.. but it sounds like you are seeing a difference?

----

Also for me the powerline glyph was more appropriately vertically centered. Did you notice any change with that as well?

Also, would you mind posting an updated screenshot?

[2017-04-23 23:47] ryanoasis commented on #145
Closed with PR #147

[2017-04-23 23:47] #145 closed

[2017-04-23 23:50] ryanoasis commented on #144
@powerman I think we can now consider this closed because of combination of merged PR #147 and [Cheet Sheet](http://nerdfonts.com/#cheat-sheet)

Please comment or re-open if you disagree. Thanks!

[2017-04-23 23:50] #144 closed

[2017-04-24 06:49] RiccardoMPesce commented on #156
![partially solved](https://cloud.githubusercontent.com/assets/20295325/25325238/c5073b12-28ca-11e7-9f9a-64719038db1e.png)

As you can see in the directory line, the blue line is less noticeable. :) Glyphs are okay now, are centered and there is a better padding around them.

[2017-04-24 18:06] LER0ever opened #157 "Request adding full collection of font-linux"
#### Request adding full collection of font-linux

Currently the font-linux logos is not complete. Theres 24 icons in font-linux and only 20 in nerd fonts. As is said in the README, it's a icon font of popular linux distro, so I think each of the distro in there is a major one (or maybe not). I'm personally using Manjaro, AOSC and LinuxMint, and two of them are not in the Nerd Fonts. Since font-li

[2017-04-25 12:02] RiccardoMPesce opened #158 "Unable to change default glyphs"
I'am using powerlevel9k, with Droid Sans Mono nerd font, on AntergOS (Arch Linux), on Gnome-Terminal (Gnome version 3.24).
I cannot change the glyphs of some icons, indeed if I try something like this `POWERLEVEL9K_VCS_GIT_GITHUB_ICON="\uE709" ` nothing actually changes. Any way to fix it?

[2017-04-25 22:28] ryanoasis commented on #157
@LER0ever Thanks I did not know this! :smile: :+1:

[2017-04-25 22:30] ryanoasis commented on #158
@RiccardoMPesce Thanks for the report but I don't think the issue is with Nerd Fonts.

![selection_041](https://cloud.githubusercontent.com/assets/8083459/25410526/4c4fad82-29e5-11e7-9de6-c99804ba1916.png)

[2017-04-26 12:55] agriffis commented on #158
@RiccardoMPesce Your shell syntax is incorrect. Use this:

[code]

See https://www.gnu.org/software/bash/manual/bash.html#ANSI_002dC-Quoting

[2017-04-26 17:12] sharkusk opened #159 "Using Windows EUDC Feature as a Font-Fallback with Nerd Fonts"
Hi Ryan,

I found the following tip to be useful when using Nerd Fonts under Windows and thought I would mention it in case you want to add it to your docs.

The EUDC feature of Windows can be used to define a fall-back font that will be used for Glyphs that are not found in the current font.  This means that a single NF font can be installed on a Windows machine, and the NF Glyphs will then be sh

[2017-04-26 21:08] agriffis commented on #159
Tangentially, I wonder if it would be possible to patch OS X's last resort font to include Nerd glyphs. If so, then it would be possible to use Nerd glyphs on all the three major operating systems without patching all the fonts.

https://en.m.wikipedia.org/wiki/Fallback_font#Apple.27s_Last_Resort_font
http://www.unicode.org/policies/lastresortfont_eula.html?utm_source=tuicool

[2017-04-26 23:41] ryanoasis commented on #158
@RiccardoMPesce Seems like this is not an issue. I am going to close this for now.

Thank you both.

[2017-04-26 23:41] #158 closed

[2017-04-26 23:45] ryanoasis commented on #159
Hey Marcus! It's been a while :smile: . Thanks for this, I had no idea. Seems like a cool option for those who don't want to go the patched fonts route :+1:

Good idea to add both of these to the wiki. I am totally up for that. Not sure when I would get around to that.. I did a lot of wiki work recently ... now I am on a website dev binge :laughing:

---

By the way if either can feel free to cont

[2017-04-28 01:04] Cpt0r commented on #142
@ryanoasis not sure what the proper etiquette is for closed issues but here's a quick update.

Using latest `dev` [8ab0affbee9c61c38a455b0d9c51bf2c01cc93b5] things are looking much better 👍.  Except for two things which keep grating my eyes:

- the left facing powerline separator < is offset to the right, while the right facing > is perfect
- the git branch icon is offset to the right as well

<im

[2017-04-28 01:57] ryanoasis commented on #142
@Cpt0r Thanks for the update 👍 . I'll see what I can do... it's getting there

By the way `master` has all those fixes and tweaks that dev had now.

Probably going to abandon dev for simpler workflow

[2017-04-28 01:59] ryanoasis commented on #142
Actually yeah np on the etiquette. This was auto closed because of my commit message reference

[2017-04-28 15:35] cemsbr commented on #26
For terminals that support double-width chars (i.e. Arch's rxvt-unicode-wcwidthcallback in AUR), using a non-nerd font with FontAwesome as fallback offers a better result. It would be nice to have the same with nerd fonts (not necessarily removing the strictly-monospaced fonts).

[2017-05-01 23:45] #137 closed

[2017-05-03 02:19] ryanoasis opened #160 "Add 'All Contributors' section to website"
#### Requirements

If you are **not** sure whether or not what you are reporting is actually an issue **or** you have a general question please message in the [Gitter Chat Room](https://gitter.im/ryanoasis/nerd-fonts)

By posting an issue you acknowledge the following:

- [x] Read https://github.com/kentcdodds/all-contributors, specifically: https://github.com/kentcdodds/all-contributors#mandatory