[2017-05-05 14:43] jayywolff commented on #127
This very likely may not have been an upstream bug. I noticed all of the affected users are running the AUR version of nerd-fonts. There was an update to the AUR package today where the package maintainer noted he removed he removed the "single-width-glyphs" variant fonts from the package so the system would use the "non-single-width-glyphs" fonts. I can confirm the upgrade of the AUR package nerd

[2017-05-05 21:04] ryanoasis commented on #127
@jayywolff Thanks for the update. Good observation on those affected.

I think the root cause/fix is to make sure the 'mono' versions internal name have 'mono' somewhere so they don't conflict with 'non-mono'. Right now if you install both it is seen as one, as far as I know.

![selection_010](https://cloud.githubusercontent.com/assets/8083459/25764229/dd882a5a-31b4-11e7-9839-ccd09a19fad0.png)

[2017-05-06 02:15] ryanoasis commented on #127
@kiuKisas can let us know if @jayywolff suggestion works for you?

Thanks :smile:

[2017-05-07 11:25] RuRo commented on #127
I seem to be having the same issue. I am using the `Knack Regular Nerd Font Complete Mono` font. I installed it by downloading the `.ttf` files from the `1.0.0` branch. Arch (Manjaro): Linux 4.9.24-1.

Most characters are so small, that they are pretty much not usable as glyphs and indicators. Some of the characters are as big as they should be. For example the powerline symbols are normal sized,

[2017-05-08 01:33] morrme commented on #119
So for example, you want messages like this
`echo "# No release version given, must give semver release versionin format: #.#.#, e.g. 1.1.0"`
prefixed with [Nerd Fonts] like

`echo "# [Nerd Fonts] No release version given, must give semver release version in format: #.#.#, e.g. 1.1.0"`

[2017-05-08 01:41] ryanoasis commented on #119
@morrme Yep, that is basically correct :smile:

Preferably there would be some sort of defined variable I think as well, for example see: https://github.com/ryanoasis/nerd-fonts/blob/master/bin/scripts/upload-archives.sh#L24

Let me know if you have any other questions or suggestions (open to any good ones :blush: )

[2017-05-08 16:14] morrme commented on #119
Why wouldnt the message on this line:
https://github.com/ryanoasis/nerd-fonts/blob/master/bin/scripts/upload-archives.sh#L20

be prefixed?

[2017-05-09 01:01] ryanoasis commented on #127
@RuRo thanks for the details. can you please try the `Knack Regular Nerd Font Complete` (non-mono) variant?

the `Mono` variants it is expected that the glyphs are a bit on the small size (to main scale in a fixed-width glyph)

[2017-05-09 01:15] RuRo commented on #127
@ryanoasis I will try it, when I get home, however that doesn't make much sense to me. The characters, that are too small are even smaller than English letters as well as some other Mono-spaced characters. There is enough space in a character to increase the size of the icon. Or at least it looks like that to me.

If it works with non-mono font, that wouldn't really be a fix, since these fonts are

[2017-05-09 02:21] SAPikachu opened #161 "CJK characters are misaligned when using Nerd Fonts"
#### Subject of the issue

CJK characters are misaligned when using Nerd Fonts. Bottom part of the text is cut off.

#### Your Setup

- _Which font are you using (e.g. `Anonymice Powerline Nerd Font Complete.ttf`)?_
Ubuntu Mono Nerd Font Complete Mono.ttf

- _Which terminal emulator are you using (e.g. `iterm2`, `urxvt`, `gnome`, `konsole`)?_
konsole (with XMing as X server)

- _Are you using OS X

[2017-05-09 13:09] ryanoasis commented on #119
@morrme Yes it should be in my opinion :smile:

[2017-05-09 16:08] vladyio commented on #119
Hey, guys. I'd like to take this issue, and I have a question about [this line](https://github.com/vladyio/nerd-fonts/blob/master/bin/scripts/generate-casks.sh#L55):

Should it be like `printf "#$LINE_PREFIX Found Font: %s\n" "${fonts[$i]}"`?

And also about Python scripts, e.g. [this one](https://github.com/vladyio/nerd-fonts/blob/master/bin/scripts/fpfix.py#L16), shoud it be like that?

    sys.

[2017-05-09 22:54] ryanoasis commented on #119
@vladyio Hey thanks however I think @morrme chimed in first.

I believe @morrme is taking up this item. Are you taking this on @morrme ?

---

@vladyio, if @morrme is not working on it you could take it up. If not you could take on other issues or possibly other improvements or general standardization on the scripts if you have ideas :smile:

[2017-05-09 23:19] morrme commented on #119
Yes, I'd already been working on this.

[2017-05-10 01:33] ryanoasis commented on #127
@RuRo Okay sure let me know how it goes. :smile:

As for the size, I think it just _looks_ that way as you say. It is a bit deceiving until you highlight or change the background color that it becomes more obvious:

![selection_001](https://cloud.githubusercontent.com/assets/8083459/25879303/eeda9296-34fe-11e7-9130-544e3bb7cf98.png)

The first 2 glyphs look like they _could_ be a bit larger but no

[2017-05-10 04:37] vladyio commented on #119
Oh, okay. Sorry then :)

[2017-05-10 23:02] ryanoasis commented on #119
@vladyio No worries (some of that is my fault). I really appreciate the initiative you took however and looked like you were making good progress :smile:

I hope this doesn't dissuade you from possibly contributing to other tickets or opening a Pull Request of anything you might have found in the scripts! :blush:

Would love to have more contributors :heart:

[2017-05-10 23:14] ryanoasis commented on #161
@SAPikachu Appreciate this report. Thank you :+1:

Do you know if the issue happens when using the un-patched version of the font: [Anonymice Powerline](https://github.com/ryanoasis/nerd-fonts/blob/master/src/unpatched-fonts/AnonymousPro/Anonymice%20Powerline.ttf) ?

[2017-05-10 23:19] ryanoasis commented on #26
@cemsbr If you are referring to a fallback option for Nerd Fonts that is possible with [this `fontconfig`](https://github.com/ryanoasis/nerd-fonts/blob/master/10-nerd-font-symbols.conf).

The font with just the symbols has yet to be uploaded to the repo (but one could take the config as-is and replace the symbol font with a patched font of their choosing).

Let me know if I misunderstood your 'wou

[2017-05-10 23:37] ryanoasis commented on #106
@peter73421 I am closing this for now. Feel free to follow up if you still have the issue or any questions. Thanks

I am fairly certain this is not an issue with Nerd Fonts itself

[2017-05-10 23:37] #106 closed

[2017-05-11 00:40] SAPikachu commented on #161
@ryanoasis I am not sure at this time, but I can test it a bit later (probably this weekend). Stay tuned. :)

[2017-05-13 05:39] SAPikachu commented on #161
@ryanoasis Anonymice Powerline has the same issue. Just for your information, the system Ubuntu Mono font doesn't have this issue.

![anonymice](https://cloud.githubusercontent.com/assets/653824/26022824/4def7be0-37e1-11e7-9ec2-e6e45f1249f0.png)

[2017-05-13 13:17] ryanoasis commented on #161
@SAPikachu thanks for the update! :smile: Seems like it is an issue with the original unpatched (but Powerline patched font).

What if you try the true [Anonymous Pro](http://www.marksimonson.com/fonts/view/anonymous-pro) ?

[2017-05-13 13:28] SAPikachu commented on #161
@ryanoasis It has the same issue:

![original-anonymous-pro](https://cloud.githubusercontent.com/assets/653824/26025849/0fd582e0-3823-11e7-9e23-77f5334afe28.png)

[2017-05-13 14:00] ryanoasis commented on #161
@SAPikachu Thanks again. This doesn't seem to be an issue with Nerd Fonts. Also those characters seem to not be coming from any of these fonts but rather from `Noto Sans CJK JP`.

I have the same issue with `terminal` compare to `gnome-terminal`. Best case these characters seem too low vertically? Worst case they are cut off at the bottom.

![selection_003](https://cloud.githubusercontent.com/asse

[2017-05-13 14:02] be5invis commented on #161
Looks like the terminal cannot handle fallback.
Hmmm pretty common.

[2017-05-13 14:11] ryanoasis commented on #161
@be5invis Thanks for chimming in :smile:

Looks like `gnome-terminal` does a better job at least in this sense. I haven't played around with many term emulators recently and certainly not with CJK range :blush:

Here is an interesting possibly related issue: https://unix.stackexchange.com/questions/318909/how-do-i-fix-this-text-rendering-issue-in-konsole

Here is another interesting comparison of

[2017-05-13 18:35] RuRo commented on #127
Well. I tried the regular size font. As expected, the characters are bigger, but it is completely broken in terminal. The git-in-a-circle character is still small btw, but whatever.
![spectacle m20477](https://cloud.githubusercontent.com/assets/3747318/26028130/ad275772-3822-11e7-9837-0157a4124a9a.png)

Is there really no way to have the cake and eat it? Maybe something hacky, like splitting the s

[2017-05-14 01:12] SAPikachu commented on #161
@ryanoasis Thanks for checking! I didn't realize that it is an issue in Konsole (I recently switched from lxterminal to Konsole, and the test of original Ubuntu Mono was done on lxterminal. I just tested on Konsole and got the same issue), sorry about that! For the record, I just found a relevant bug: https://www.mail-archive.com/kde-bugs-dist@kde.org/msg80564.html

[2017-05-14 04:10] cemsbr commented on #26
Sorry, I wasn't clear enough. I was using single-width fonts and found the double-width ones (non-nerdy :)) to be more readable. However, I've just searched for double-width in the readme and found that there's an option for the patcher to use single- or double-width. That's what I was looking for. Great work!

[2017-05-14 06:38] msva commented on #161
Actually, it is not exactly KDE Bug. The problem is described in pre-last
comment there.

By the way, it looks like it was already fixed in KDE 17.04: https://
bugs.kde.org/show_bug.cgi?id=371687#c9

I just tested, and... vertical align looks like really fixed: http://
i.imgur.com/JcBUl2c.png

But as you can notice, it is another issue appeared (it does not fit all the
characters horizonatlly, and

[2017-05-14 21:41] ryanoasis commented on #129
Considering this closed now, added info on the wiki: https://github.com/ryanoasis/nerd-fonts/wiki/FAQ-and-Troubleshooting#munmap_chunk-invalid-pointer

feel free to update with additional details

[2017-05-14 21:41] #129 closed

[2017-05-15 07:54] NitroCao opened #163 "A little problem about Terminess Nerd Font"
Urxvt can not show a symbol, like this:
![2017-05-15-154323_1911x27_scrot](https://cloud.githubusercontent.com/assets/17915615/26047563/47e47254-3986-11e7-90b2-16a077cf2c6e.png)
It's on the right side of the status line.
OS: Arch Linux 4.10.3
URxvt: v9.22
Font used: Terminess (TTF) Nerd Font Complete Mono.ttf.
I've patched this font once using the script provided.

[2017-05-15 10:40] JayceCao commented on #163
Another problem... When I use [spaceship-zsh-theme](https://github.com/denysdovhan/spaceship-zsh-theme), this font can not show icons normally  either... Here is the screenshot after executing `urxvt -fn "xft:TerminessTTF Nerd Font:regular:size=15"`:
![2017-05-15-183857_1416x209_scrot](https://cloud.githubusercontent.com/assets/17915615/26054054/df977bca-399d-11e7-911f-7ab451a9d533.png)

[2017-05-19 02:03] ryanoasis commented on #161
So this seems like terminal specific issue for sure. I am going to close this for now.

Thanks all :smile:

[2017-05-19 02:03] #161 closed

[2017-05-19 02:08] ryanoasis commented on #26
@cemsbr Sure no problem! That's understandable, some of the information is probably still not very clear up front.

Heh this issue is getting pretty popular... I think I when I re-patch all the fonts in prep for v1.1.0 we can probably call this fixed :smile: :crossed_fingers:

[2017-05-19 02:12] ryanoasis commented on #163
@JayceCao hey thanks for the report and details :+1: . I will try to test this out but honestly it probably won't be anytime soon :blush:

[2017-05-19 02:24] ryanoasis commented on #127
@RuRo First thanks for your thoughts and ideas. I can sense some frustration you may have had, if so sorry about that :worried:

Hmm yeah this _is_ an interesting idea. I actually thought about doing something like this too for issues we've had with ambiguous glyph width handling in Vim but I am not sure how feasible it is and managing this I can see being a nightmare :worried:

For the "double wi

[2017-05-20 01:27] #119 closed

[2017-05-20 22:53] RuRo commented on #127
Hm-hmmm. I tried the double-width variant with Guake. The big characters work well, but now the powerline arrows are slightly misaligned the '<' arrows have a small space between them and the next block, while the '>' arrows are vertically a little smaller than the whole 'line'. Here's a screenshot:
![screenshot_20170521_014818](https://cloud.githubusercontent.com/assets/3747318/26279846/aa1a7e1a-

[2017-05-21 02:02] ryanoasis commented on #127
@RuRo Thanks for the details.

Can you tell me which font and font size you are using by the way?

Hopefully the alignment issues will at least be _mostly_ solved in v1.1.0, here is how it is showing for me:

![selection_006](https://cloud.githubusercontent.com/assets/8083459/26280582/b84d9b22-3da7-11e7-8b55-d469ff14e86d.png)

As for the GitHub logo you can try to use the 'other' set:

![selection

[2017-05-22 04:42] ELLIOTTCABLE opened #164 "Input Mono fails to patch with the patcher script"
- [x] I have searched the [issues](https://github.com/ryanoasis/nerd-fonts/issues) for my issue and found nothing related and/or helpful
- [x] I have read or at least glanced at the [FAQ](https://github.com/ryanoasis/nerd-fonts/wiki/FAQ-and-Troubleshooting)
- [x] I have read or at least glanced at the [Wiki](https://github.com/ryanoasisnerd-fonts/wiki)**¹**

#### Subject of the issue

I'm attempti

[2017-05-22 10:46] ryanoasis commented on #164
@ELLIOTTCABLE Thanks for the report. Actually it is nothing that you are doing wrong. I ran into this yesterday as well. I did not test the patcher fully with the latest changes.

For now you can try the script from [v1.0](https://github.com/ryanoasis/nerd-fonts/blob/1.0.0/font-patcher) instead of master

Thanks for the notice on the broken link as well 😊

[2017-05-23 16:33] ELLIOTTCABLE commented on #164
That worked out well!

If you can steel yourself against the horrible way I maim your repository, you might be interested in this:

https://gist.github.com/ELLIOTTCABLE/5b87ab21b11acb76a5c52d47a022b519

[2017-05-23 16:33] #164 closed

[2017-05-23 21:08] Taverius opened #165 "Patcher: explain the mono option better"
Nowhere does it say you need it for Mac/Win GVim to pick up the fonts :)

Had me scratching my head for an hour or so, looking at various topics on SO, before I happened on the a closed issue that mentions this.

[2017-05-24 01:45] ryanoasis commented on #165
@Taverius Sorry about that.

We tried to explain better in some of the markdown files, for example: [AnonymousPro](https://github.com/ryanoasis/nerd-fonts/blob/master/patched-fonts/AnonymousPro/font-info.md)

Can I ask which closed issue you are referring to? :blush:

Hmm it shouldn't be required _but_ lately with the GUI builds of Vim there is an ambiguous width issue (glyphs cut in half). What w

[2017-05-24 01:49] ryanoasis commented on #164
@ELLIOTTCABLE Glad that worked for you! :smile:

Also I think the issue you were seeing is an actual issue though :blush: I will investigate some more and probably re-open and rename this issue.

That's awesome :+1: I would love to steal this for the [wiki](https://github.com/ryanoasis/nerd-fonts/wiki) or somewhere or if you would want to give it a try you have my blessing to add it on the [wiki](

[2017-05-24 09:55] Taverius commented on #165
The latter, now working at all, GVim just wasn't seeing them - I'm running a very recent 8.0.

So its a 'lately' thing? Hopefully upstream is aware and *someone* who understands the codebase can do something about it.

As for explaining, the `--help` *sounds* like a decent place for such a hint - about it being sometimes useful to get certain editors to see the font on mac/win - but it also might

[2017-05-24 11:29] RuRo commented on #165
In my opinion, the correct place for such explanations is the README.md. There are on the other hand things in the README that shouldn't be there ~cough~images with wrong character codes~cough~.
If nobody does anything about this before the 27th, I can try to 'refactor' the Readme.md

[2017-05-25 09:40] kierun commented on #163
Here is what I see using `nvim` with `airline`…

![screenshot](https://cloud.githubusercontent.com/assets/3079575/26445029/7b8f98c4-4136-11e7-99e0-a15d26dad385.png)

Although, my fonts might be a little old…

[2017-05-27 00:36] ryanoasis commented on #165
@RuRo I agree readme would best.

Do you mean the "Seti-UI + Custom" set and "Font Awesome Extension" set? :blush:

Sure I am always open to PRs :smile:

Honestly I haven't made much progress lately on getting the next release (v1.1) out the door.. but I don't think there is much left to do. Possibly this weekend but I'd hate to promise :blush:

[2017-05-27 00:38] ryanoasis commented on #163
@kierun Is that Terminess font? Is it the mono?

[2017-05-27 03:12] lisposter commented on #88
@ryanoasis sorry for the late, thank you for your effort.  seems better.

[2017-05-27 03:12] #88 closed

[2017-05-30 10:02] anchnk opened #166 "FuraCode equasl sign not showing"
#### Subject of the issue

Fura Code Regular doesn't display equals signs in gnome-terminal. I am using neovim 0.1.7

#### Your Setup

- _Which font are you using (e.g. `Anonymice Powerline Nerd Font Complete.ttf`)?_

**FuraCode Nerd Font Regular `Fura Code Regular Nerd Font Complete.otf`**

- _Which terminal emulator are you using (e.g. `iterm2`, `urxvt`, `gnome`, `konsole`)?_

**gnome-terminal**

[2017-05-30 20:45] katylava commented on #26
In case it's not clear, this is also happening with Knack, but only with the glyphs in my right prompt.

![iterm](https://cloud.githubusercontent.com/assets/10575/26604094/cd06571c-454e-11e7-8639-2a94cb16471a.png)

[2017-05-31 07:34] kierun commented on #163
@ryanoasis Terminess font as started with `urxvt -fn "xft:TerminessTTF Nerd Font:regular:size=15"` and with a neovim session using airline.

[2017-05-31 13:00] agriffis commented on #166
FuraCode and gnome-terminal are known incompatible: https://github.com/tonsky/FiraCode#terminal-support

If you use FuraMono then it should work since that's Fira without all the ligatures.

[2017-06-01 09:22] anchnk commented on #166
Oh ok ! Thank you for your answer. That's good to know. I didn't checked the font repository. Sorry for that. I am closing that issue as it's not a relevant to the project.

[2017-06-01 09:22] #166 closed

[2017-06-03 13:23] mavam commented on #26
I have the same issue as @katylava with the Meslo fonts:
<img width="378" alt="screen shot 2017-06-03 at 3 22 21 pm" src="https://cloud.githubusercontent.com/assets/53797/26753882/81870faa-4870-11e7-9847-b8d9bbc0b81b.png">

Top row: vim
Bottom row: tmux

[2017-06-05 16:10] ActionScripted commented on #164
I had the same issue with Monaco (Monaco.dfont) and switching to the 1.0 tag/release fixed it!

[2017-06-08 01:34] ryanoasis commented on #26
@katylava , @mavam First my apologies for the somewhat late response. I was about ready to say (and show) that this will be fixed in the next version (v1.1.0) when all the fonts are re-patched... however with the current code I am having some problems with it even building fonts that are detected by the OS. I suspect some py3 compat changes causing this... I haven't looked into it very deeply yet.

[2017-06-10 17:45] franklinyu commented on #84
Hi everyone. I'm not very familiar with Fontconfig; is there any way to use fallback method on macOS like [this](https://github.com/gabrielelana/awesome-terminal-fonts/wiki/OS-X)?

[2017-06-16 23:45] karambaq opened #168 "Hermit font doesn't supports some icons"
Font: Hurmit Nerd Font

Terminal: urxt

OS: Antergos Linux

http://imgur.com/a/WkJe1

[2017-06-18 19:10] ryanoasis commented on #26
@katylava @mavam

Here is a comparison of the gaps:

### v1.0.0

![selection_011](https://user-images.githubusercontent.com/8083459/27263489-00689424-5438-11e7-91fd-569cd0a64dcd.png)

### v1.1.0 WIP

![selection_010](https://user-images.githubusercontent.com/8083459/27263488-fabcf81c-5437-11e7-89aa-bcdd69b04816.png)

You can see the gaps are almost entirely gone. I think this is a case where perfe

[2017-06-18 19:18] ryanoasis commented on #168
@karambaq Thanks for the report.

Can you tell which codepoint glyph you are using (where the box shows instead) ?

[2017-06-18 19:44] karambaq commented on #168
@ryanoasis I tried other themes and I think is 127.

![1screenshot-2017-06-18_22 43 34](https://user-images.githubusercontent.com/14233969/27263702-9ca76a74-5477-11e7-8917-739a6e9d3b99.png)

[2017-06-22 06:06] fuelen commented on #163
I have the same problem
https://github.com/equalsraf/neovim-qt/issues/297#issuecomment-310281472

[2017-06-25 20:50] No0n3Left commented on #123
`Knack Bold Italic Nerd Font Complete Mono.ttf` and `Knack Bold Italic Nerd Font Complete.ttf` give two minor warnings when you import them with font book. Each warns the name table is unusable, showing the following errors:
<img width="1278" alt="knackbierror1" src="https://user-images.githubusercontent.com/25831613/27519622-6036e92a-59bd-11e7-90b2-2d9c9b641e4b.png">
<img width="1275" alt="knackb

[2017-07-01 02:38] ryanoasis commented on #123
@No0n3Left Thanks for the details here :smile:

I wonder if you get the same warnings if you install only one or the other and not both (only mono or only non-mono version of the font) ?

[2017-07-03 00:46] Cpt0r commented on #142
Hi @ryanoasis another update against the latest master 39db2fb0c255c75e27de59a4ed8f211a867be59e.

Hurmit font:

1. The powerline separators have regressed since last update:
<img width="643" alt="screen shot 2017-07-03 at 10 42 38" src="https://user-images.githubusercontent.com/8690075/27774812-a521bbd0-5fdc-11e7-88ca-4b1a831cb270.png">

2. I tried running the patcher myself against the Hermit and

[2017-07-04 15:53] lcorsini opened #170 "Add BigBlue Terminal"
a nice and compact old school terminal
https://github.com/grassmunk/Chicago95_Extras/tree/master/Fonts/BigBlue

[2017-07-04 16:38] lcorsini opened #171 "investigate old school fonts"
Here:
http://int10h.org/oldschool-pc-fonts/preview/

There is a good collection of old school fonts, some imho have a good readability and could be interesting to have them patched (for example see the IBM ISO8/9) too

[2017-07-04 20:03] tylerthehaas opened #172 "Add Elm Icon"
#### Requirements

Currently there is not a font that includes an icon for the elm programming language.  This would be very nice to have as I am programming in that language more and more.  Thanks!

[2017-07-05 03:21] ryanoasis commented on #171
Cool thanks

[2017-07-05 03:23] ryanoasis commented on #172
Thanks for the suggestion 😄

[2017-07-05 13:20] ryanoasis commented on #142
@Cpt0r I will test patching Hurmit on my end and get back to you. Thanks 👍

[2017-07-06 22:43] math0ne opened #173 "Siji Icons (really nice windowing icons)"
I really like the look of these icons and they have really good windowing icons which is something that nerd fonts is missing right now:

https://github.com/stark/siji

[2017-07-07 18:03] kballard opened #174 "ISSUE_TEMPLATE.md has bad link"
The issue template has the following line:

- [ ] I have read or at least glanced at the [Wiki](https://github.com/ryanoasisnerd-fonts/wiki)

Note that the link here is bad, it's missing a / character.

[2017-07-07 18:07] lilyball opened #175 ".ttc files don't work"
#### Subject of the issue

The font patcher doesn't handle .ttc files correctly. It produces a weirdly-named file that seems to contain the data for the first font in the .ttc file, though Font Book.app says it doesn't pass validation.

I tried this using /System/Library/Fonts/Menlo.ttc.

FWIW here's an [old unmerged PR](https://github.com/powerline/fontpatcher/pull/6) that adds support for .ttc f

[2017-07-07 18:20] kballard opened #176 "Mono fonts have same family name as double-width fonts"
#### Subject of the issue

When generating single-width fonts, the PostScript Name and Full name of the font both identify it as Mono, but the Family doesn't. This means if I install both mono and double-wide versions of the same font, I end up with one font family that contains two "Regular" fonts. This makes it rather difficult to actually use properly.

Instead I think the patcher should add "M

[2017-07-09 00:55] RuRo commented on #176
Agreed! In fact, on some systems the font management gui doesn't even allow to have both the Mono and Normal variations installed at the same time, because "this font already exists".

[2017-07-10 08:34] xasx commented on #172
Perhaps Devicons is also a good address for a request regarding programming languages?!

[2017-07-10 08:34] xasx commented on #172
Good news: https://github.com/konpa/devicon/issues/30

[2017-07-10 16:16] georgelemental commented on #154
This project could be helpful:
https://zavoloklom.github.io/material-design-iconic-font/index.html

[2017-07-11 00:56] andyfitz opened #177 "add overpass-mono font"
Overpass-Mono fonts are great; it would be awesome to see it expanded to support the nerd-font extensions.

https://github.com/RedHatBrand/Overpass

What assistance is needed to port this font ?

[2017-07-11 20:25] ryanoasis commented on #170
Cool, thanks

[2017-07-11 20:30] ryanoasis commented on #176
Thanks.

Yeah this does seem to be an issue. I believe we can fix it without much effort.

Related: #140

[2017-07-11 20:31] ryanoasis commented on #174
@kballard Good catch! Thanks. Would you like to submit a Pull Request to fix?

[2017-07-11 20:39] ryanoasis commented on #175
@kballard Okay thanks :smile: I wasn't aware of this.

It would be nice to support this eventually provided we get some help :blush:, however I would say this is not a high priority

[2017-07-11 20:39] kballard commented on #174
Submitted as #179.

[2017-07-11 20:40] kballard commented on #176
Submitted as #178.

[2017-07-11 20:42] ryanoasis commented on #177
@andyfitz Thanks for the font suggestion.

As for supporting you can look here: [Steps for adding a new font or removing an existing font (wiki)](https://github.com/ryanoasis/nerd-fonts/blob/master/contributing.md#steps-for-adding-a-new-font-or-removing-an-existing-font)

[2017-07-11 20:44] ryanoasis commented on #173
@math0ne Thanks for the suggestion! So this would be another new glyph set. I can see your point regarding this having some good icons

[2017-07-11 20:50] #174 closed

[2017-07-14 03:06] aidanharris opened #180 "Fira Code uses "square" for empty array ([])"
Before:

![](https://i.imgur.com/iCGX0hV.png)

After:

![](https://i.imgur.com/8txTCEd.png)

I'm using the FuraCode Nerd Font with the Retina variant at size 14 (in case it matters)

I think this "issue" should just go away if the font is re-patched with the latest version of the font although I'm not sure how to test this.

[2017-07-15 04:00] jerome-diver opened #182 "\ue0ca does not exist"
code for char e0ca does not exist, could you check please ?

[2017-07-15 06:54] taohex commented on #175
I encountered this problem, too. Menlo is the default font in macOS, I think it's important.

[2017-07-19 17:42] ryanoasis commented on #182
@jerome-diver Thanks for the report 😄 . Yes I will check this out

[2017-07-19 17:43] ryanoasis commented on #180
@aidanharris Thanks for this 👍 . We'll make sure to upgrade before the next release and repatching

[2017-07-21 19:25] kballard opened #186 "Patching Menlo adds ligatures it shouldn't"
#### Subject of the issue

Patching Menlo changes the default setting of the "Common Ligatures" typography option, enabling ligatures when they normally aren't. If I open TextEdit and I switch the font to Menlo and look at the Typography options, it's got a setting for "Common Ligatures" that's off by default. If I switch to Menlo Nerd Font, that option becomes enabled by default. This means words

[2017-07-21 19:26] kballard commented on #57
I would also be interested in having an option that adds programming ligatures, like those talked about in https://www.hanselman.com/blog/MonospacedProgrammingFontsWithLigatures.aspx.

[2017-07-23 15:36] #136 closed

[2017-07-23 21:15] ryanoasis commented on #134
Going to upgrade Ubuntu fonts to version from `0.80` to `0.83` and add the missing ones (non mono) from here: http://font.ubuntu.com/

[2017-07-23 23:52] luisdavim commented on #165
More info on the README would be great.
For example, I have no idea what the difference between variations, like with these:
[code]

[2017-07-24 00:54] ryanoasis commented on #165
@luisdavim Yes you are right.

This should now mostly be taken care of now with: https://github.com/ryanoasis/nerd-fonts/commit/b5e827191482b1e0ddcc8cf3943341d6ce9ea531 and https://github.com/ryanoasis/nerd-fonts/wiki/FAQ-and-Troubleshooting#tldr

[2017-07-24 01:21] #134 closed

[2017-07-24 05:57] luisdavim commented on #165
thanks. and what about the fonts that have powerline in their names? They all seem to have the powerline glyphs anyway...

[2017-07-24 11:22] ryanoasis commented on #165
Yeah good point. Those are originally from https://github.com/powerline/fonts

Either we should upgrade the unpatched fonts to remove the 'for Powerline'/'powerline' or filter that out in the patcher.

[2017-07-24 20:47] #176 closed

[2017-07-24 22:32] ryanoasis commented on #180
@aidanharris I wasn't able to replicate this issue but moving forward with the update of Fira Code :smile:

[2017-07-24 22:36] ryanoasis commented on #186
@kballard Thanks for the report :smile: and details. I will try to take a look (but I can't say how soon that'll be)

[2017-07-25 00:18] ryanoasis commented on #182
@jerome-diver Good catch, you are correct it is missing. I fill add it to the release.

Just FYI it is missing from the patcher and from the glyph set

[2017-07-26 02:08] #182 closed

[2017-07-26 16:05] #180 closed

[2017-07-27 10:10] ryanoasis commented on #180
@aidanharris Hey did you close this because #181 was merged or because it isn't an issue or another reason? Thanks

[2017-07-28 02:51] ryanoasis commented on #154
Thanks @georgelemental 👍

[2017-07-30 02:39] ryanoasis commented on #124
For now I think we will rewrite and condense (combine) some of the installation options as they stand now. Per @nathanchere there are some obvious contradictions :blush:

[2017-07-30 10:22] AnwarShah commented on #172
@ryanoasis hi! I couldn't contact with you so I mentined you here. Are you okay if I extract only the patcher scripts and symbols and made them available in a public repo? I wanted to fork ,but the repo is huge! Waiting to hear from you

[2017-07-30 18:20] #124 closed

[2017-07-30 18:27] ryanoasis commented on #165
Considering this closed (with v1.1.0 release)

[2017-07-30 18:27] #165 closed

[2017-07-31 12:46] ryanoasis commented on #172
@AnwarShah Hey, just wondering what is the reason you want to do this?

Of course you are free to do what you want basically as long as you extract the license un-modified as well (to comply with the MIT license as far as I understand).

FYI, a better place to contact me is either: [Gitter Chat](https://gitter.im/ryanoasis/nerd-fonts), [e-mail me](http://ryanlmcintyre.com/), or even [Twitter](http

[2017-07-31 13:51] AnwarShah commented on #172
@ryanoasis Thank you. I just wanted to have the scripts available separately so that I can have them wherever I want and may be sync with the main repo when there is an update. I like patching my own fonts.

[2017-07-31 21:15] ryanoasis commented on #172
@AnwarShah Oh okay that makes sense. If you copy a majority of the scripts include the license and all should be good. You can do whatever you want with them.

The only thing I will say is if you make any improvements or fixes that can be generally applied I would appreciate it if you could submit those back upstream (via a PR) for benefit of Nerd Fonts community :smile: though you are not require

[2017-08-02 17:42] AnwarShah commented on #172
@ryanoasis That's great. Thank you!

[2017-08-03 19:12] pradyunsg commented on #26
Any sort of ETA on this? :3

[2017-08-03 22:32] ryanoasis opened #188 "Update font Hasklig from `1.0` to `1.1`"
#### Update font Hasklig from `1.0` to `1.1`

Hasklig is out of date with the most recent version (1.1): https://github.com/i-tu/Hasklig/releases
Nerd Fonts source of the font is at version 1.0.

- This requires updating all font variants for Hasklig in src
- This requires re-patching all the Hasklig (Hasklug) fonts

this issue was brought to attention by 'jplatte'

#### Your Setup

N/A

#### Opti

[2017-08-03 22:41] ryanoasis commented on #26
@pradyunsg Yep, actually I would say this weekend (either 5th or 6th August) as a part of [`v1.1.0` Release](https://github.com/ryanoasis/nerd-fonts/milestone/16)

[2017-08-03 22:57] ryanoasis commented on #168
@karambaq Sorry for the delayed follow up.

I'm not sure what you mean by 127? is that the codepoint?

Could you give the unicode codepoint (hex) of the glyph that is not showing?
e.g. the Powerline right pointing divider glyph (``) is `e0b0`

[2017-08-03 23:13] ryanoasis commented on #163
Yeah there is a problem here :worried:

So for me it seems to work fine with `mono` variants but not the other:

`urxvt -fn "xft:TerminessTTF Nerd Font Mono:regular:size=15"`

[2017-08-03 23:15] ryanoasis commented on #163
I know you shouldn't have to switch fonts.. but.. I seem to be having success with other fonts :thinking::

`urxvt -fn "xft:SauceCodePro Nerd Font:regular:size=15"`

[2017-08-03 23:16] ryanoasis commented on #139
closing this. @sencer please feel free to re-open if you can provide some more details :smile: thanks

[2017-08-03 23:16] #139 closed

[2017-08-03 23:17] ryanoasis commented on #125
This has since been done: https://github.com/ryanoasis/nerd-fonts/wiki/Real-World-Mentions-&-Usage-(Sightings)

[2017-08-03 23:17] #125 closed

[2017-08-03 23:22] ryanoasis commented on #8
@nicholasc Thanks! Sorry I never said that!!! :blush:

I will probably add something to the wiki and close it soon (getting caught up on these issues)

[2017-08-04 07:53] laughedelic opened #189 "Missing IDs for the patched Mononoki fonts"
#### Subject of the issue

I'm trying to install patched Mononoki fonts and here's what I see:

![screen shot 2017-08-04 at 9 45 36 am](https://user-images.githubusercontent.com/766656/28959213-b7528b0a-78f9-11e7-930d-2fb80d201272.png)

The problem is with the `UniqueID` appearing in Style and PostScript name fields (notice that the Unique name and Full name say that it's Italic). The only style t

[2017-08-04 07:58] laughedelic commented on #189
Sorry I just noticed that it's a duplicate of #126 😓
So is it fixed in v1.1.0? When is it going to be released?

[2017-08-04 10:35] ryanoasis commented on #189
Yep it will be fixed in v1.1.0

Should be released this weekend, at least I will push up the fonts and you'll be able to try it out.

Thanks

[2017-08-04 14:40] ryanoasis commented on #8
Closed via: https://github.com/ryanoasis/nerd-fonts/wiki/FAQ-and-Troubleshooting#segmentation-fault-running-python-patcher

[2017-08-04 14:40] #8 closed

[2017-08-04 14:51] ryanoasis commented on #108
I believe we can close this now:

- readme codepoints have been fixed: #116, #165 (https://github.com/ryanoasis/nerd-fonts/commit/efb00075c8919c14bb762ac6f20d87471819e221), #138
- there are now multiple ways to get the codepoints:
  - https://github.com/ryanoasis/nerd-fonts#icon-names-in-shell (via #145 #147)
  - [`./bin/scripts/test-fonts.sh`](https://github.com/ryanoasis/nerd-fonts/blob/master/b

[2017-08-04 23:29] ryanoasis commented on #189
Fonts have been uploaded. Feel free to test them out. :smile:

Closing this for now

[2017-08-04 23:29] #189 closed

[2017-08-04 23:29] ryanoasis commented on #26
Fonts have been uploaded. Feel free to test them out. :smile:

Closing this for now...

[2017-08-04 23:29] #26 closed

[2017-08-04 23:31] ryanoasis commented on #128
I know I never got around to looking into this for you but the latest fonts for v1.1.0 have just been uploaded.. let me know if they improve things if you can :smile:

[2017-08-04 23:33] ryanoasis commented on #127
Fonts just uploaded... probably won't improve anything here but if anyone would like to test them out that'd be great :smile:

[2017-08-04 23:41] ryanoasis commented on #73
I am very tempted to close this but... I still think it is a valid concern/question.

This does depend on #67 though. I **will not** separate out the fonts from the patcher (and various dependencies) without converting this project to an organization :smile:

[2017-08-04 23:55] ryanoasis commented on #60
Things have been looking pretty good for a while now on powerline glyph alignments and also yes Nerd Fonts does not by default patch over existing glyphs (there is even a specific config for powerline).

Here are some latest results of Sauce Code Pro at different sizes with v1.1.0:

### 13pt

![selection_014](https://user-images.githubusercontent.com/8083459/28990780-a5d92000-794e-11e7-968f-f461d2

[2017-08-04 23:55] #60 closed

[2017-08-05 13:43] laughedelic commented on #189
Thanks! Releases page still shows 1.0.0 as the latest. But I downloaded it from the repo files.

The IDs looks fine 👌 But when I was installing I got this error:

<img width="735" alt="screen shot 2017-08-05 at 15 29 34" src="https://user-images.githubusercontent.com/766656/28995878-b9668d6e-79f4-11e7-9cca-29292f022a11.png">

And _excatly the same_ for the Mono version of BoldItalic.

[2017-08-05 14:10] ryanoasis commented on #189
You're right the release hasn't been built yet. Will be either today or tomorrow.

I don't think that warning is something to worry about but I will look into it more. Thanks

[2017-08-05 14:40] ryanoasis commented on #156
@RiccardoMPesce Thanks for the updates. I'm unsure how to change those items in oh_my_zsh at the moment. We can look into this more...

[2017-08-05 15:05] ryanoasis commented on #154
@georgelemental That does look like a nice project unfortunately it looks like it is now unmaintained:
- last commit was 2 years ago
- https://github.com/zavoloklom/material-design-iconic-font/issues/110

[2017-08-06 20:08] xxx commented on #128
I can't speak for @Hebgbs, and I don't use fbterm, but I had what sounds like this same powerline alignment problem, and upgrading just now to 1.1.0 took me from [before](http://i.imgur.com/AewsARH.jpg) to [after](http://imgur.com/wA8NNHM.jpg). Same change with powerlevel9k theme. So yay maybe?

[2017-08-08 11:21] FlorianFranzen commented on #173
There is a also a TrueType fork of it: https://github.com/fauno/siji, which should be easier to integrate.

[2017-08-10 12:29] mashehu commented on #26
I still have a gap at the right hand side prompt for the retina version of FuraCode (but it's fine for regular, etc.)

[2017-08-10 15:44] CPWeaver commented on #26
@mashehu I saw the same thing, but it was size dependent. It looks really good to me though and much better!

InputMono thin 12pt - small gap
<img width="18" alt="screen shot 2017-08-10 at 9 39 49 am" src="https://user-images.githubusercontent.com/4966467/29178846-00efe1d0-7db0-11e7-941a-1566a9bb83ec.png">

InputMono thin 13pt - no gap (although maybe 1px too short at the bottom?)
<img width="39"

[2017-08-11 06:22] xasx commented on #26
I also see a minimally small gap when using Droid Sans Mono, at 11. It apparently turns red (probably depending on the color scheme) when I select 12. And there's no gap at 13 (but that's way too huge).

At 17, using Fura, the gap is super visible:

![bildschirmfoto von 2017-08-11 08-20-11](https://user-images.githubusercontent.com/1582730/29203036-f563658a-7e6d-11e7-9b75-053a7683a9b3.png)

I am w

[2017-08-11 06:38] pradyunsg commented on #26
@ryanoasis Thanks for the release! :tada: It's a major improvement over the previous versions. :)

That said, I believe you'd agree that the current patching still has a gap around the powerline symbols, albeit fairly small.

Should there be a new Issue for that; since this issue of small size of the powerline symbols issue is fixed AFAICT.

[2017-08-11 19:18] ryanoasis commented on #173
@FlorianFranzen Yes thanks that would be easier and faster to add :smile:

[2017-08-12 01:13] maxwellmckinnon opened #190 "What is DZ vs non-DZ?"
Newbie to fonts here, and googling "DZ fonts" isn't educating me.

What is the difference between LG L, LG L DZ, LG M, etc? I believe L, M, and S correspond to Large, Medium, and Small. How about DZ? Can this be added to the documentation in the install instructions?

[2017-08-12 16:53] Liquidmantis commented on #190
@maxwellmckinnon
L M S refers to the top and bottom padding that affects the line spacing.

DZ is dotted zero rather than slashed.

[2017-08-12 17:51] ryanoasis commented on #190
Thanks @Liquidmantis

Also SZ would be 'slashed zero'

Perhaps we could add a blurb on the wiki to cover these and could consider this issue closed :smile:

[2017-08-15 12:14] karambaq commented on #168
@ryanoasis How can I identify codepoint?

[2017-08-23 02:26] betolink opened #191 "README needs to be updated"
The [https://github.com/ryanoasis/nerd-fonts#option-6-ad-hoc-curl-download](https://github.com/ryanoasis/nerd-fonts#option-6-ad-hoc-curl-download) section has:

cd ~/.local/share/fonts && curl -fLo "Droid Sans Mono for Powerline Nerd Font Complete.otf" https://raw.githubusercontent.com/ryanoasis/nerd-fonts/master/patched-fonts/DroidSansMono/complete/Droid%20Sans%20Mono%20for%20Powerline%20Nerd%20F

[2017-08-23 03:38] reujab commented on #191
Thank you. This has been fixed in 79be9ae.

[2017-08-23 03:38] #191 closed

[2017-08-25 19:55] ryanoasis commented on #83
@vbauerster oh wow didn't see your comment. We can target it for v1.2.0 release. I'll make a ticket so it's not lost

[2017-08-25 22:19] RuRo commented on #168
@karambaq I don't know, why I spent the last 10 minutes writing this, but here you go:
1) Highlight the symbol in question.
2) Copy it. You can google how to copy/paste text in *your* terminal, but it's generally "highlight+middle mouse button", "Ctrl-Shift-C/V" or "Highligh+RightClick(Opens Menu)".
3) Enter `echo -ne "\0\0\0here\0\0" | hexdump -C`, where `here` is where you paste your symbol.
​ ​

[2017-08-26 21:35] RuRo commented on #175
Same problem on Manjaro Linux with the default `Noto Sans` font.
My workaround is to use `fontforge` to convert `.ttc` to `.ttf` before patching the font:
`fontforge -lang=pe -c "Open(\$1);Generate(\$1:r+'.ttf')" SomeFont-Regular.ttc`

[2017-09-13 18:17] shibumi opened #195 "Powerline Extra Symbols does not work with powerlevel9k"
#### Subject of the issue

_Describe issue here_

#### Your Setup

- Used font: inconsolata
- Terminal: Termite
- Distribution: Arch Linux

#### Optional

My Termite config:
[code]

Output of your test-powerlines.sh script: (sorry for the white lines.. no idea why I have this)
![](https://paste.archlinux.de/V4i/)

As you can see the only stuff what is working is this > and < seperator... Do I need

[2017-09-15 03:02] duytrung opened #196 "Installation denied because of invalid fonts"
#### Subject of the issue

Invalid font files

#### Your Setup

3270 Nerd fonts
#### Optional

![image](https://user-images.githubusercontent.com/2046672/30464619-adf25f02-9a11-11e7-9cbd-01564a6583be.png)

Could anyone please check for this bug? I have tried on my Windows 10 desktop.

Thanks

TN

[2017-09-15 20:01] shibumi commented on #127
Hello,
I have installed the following Fonts:
[code]

However when I want to choose a font in `qterminal` I see only these fonts:
[code]

[2017-09-22 16:21] ryanoasis commented on #195
Thanks for the report

No need to apologize! That is actually from me and on purpose. I was trying to make it easier to identify any vertical overhangs on the powerline glyphs :smile:

You don't need to create a fontconfig and shouldn't need to do anything other than install the font and set the terminal to use said font.

Are you sure the terminal is pointing to the Nerd Font variation of inconso

[2017-09-22 16:25] ryanoasis commented on #196
@duytrung Thanks for the report!

I really must apologize because I am aware that 3270 has a name issue on Windows.

For more information see my comment here: https://github.com/ryanoasis/nerd-fonts/issues/12#issuecomment-282446635

This is why it is showed as unknown/unsupported/untested status in the table: https://github.com/ryanoasis/nerd-fonts#patched-fonts

---

@duytrung Were you able to in

[2017-09-22 16:44] ryanoasis commented on #190
This is now in the wiki: https://github.com/ryanoasis/nerd-fonts/wiki/FAQ-and-Troubleshooting#what-do-these-acronym-variations-in-the-font-name-mean-lg-l-m-s-dz-sz

closing for now :smile:

Thanks all

[2017-09-22 16:44] #190 closed

[2017-09-22 16:46] ryanoasis commented on #168
@karambaq Do you still have this issues? Do @RuRo's steps help ?

[2017-09-22 23:52] shibumi commented on #195
problem is solved. I still used the old inconsolata font not the patched one. But I still have issues with the size of some icons. They are too small.

[2017-09-22 23:52] #195 closed

[2017-09-23 12:39] ryanoasis commented on #195
@shibumi Great! Thanks for the update!

You may be interested in issue #127

[2017-09-26 09:57] karambaq commented on #168
How it should work:
https://camo.githubusercontent.com/aaf960637a61c997f5daf8b4249df193b1465507/687474703a2f2f692e696d6775722e636f6d2f6558566e7561482e6a7067

How it works with Hermit:
https://imgur.com/gallery/FJGWs

I don't understand what to copy? 127?

[2017-09-28 17:09] cemsbr opened #198 "Add Iosevka Term variant (no ligations)"
#### Requirements

By posting an issue you acknowledge the following:

- [x] A brief but descriptive _title_ of your issue
- [x] I have searched the [issues](https://github.com/ryanoasis/nerd-fonts/issues) for my issue and found nothing related and/or helpful
- [x] I have read or at least glanced at the [FAQ](https://github.com/ryanoasis/nerd-fonts/wiki/FAQ-and-Troubleshooting)
- [x] I have read o

[2017-10-03 15:24] mftrhu commented on #150
Necroing this issue as I think I found a more comprehensive "fix" for it. I have been using `urxvt` together with Hack/DejaVu, and had to use `letterSpace=-1` to make it render properly (it'd be too wide for my tastes otherwise) - but apparently some fonts don't work well with the `size` property, and "glitch" leaving pixels behind as shown in the OP.

This can be fixed by avoiding `size` and usin

[2017-10-04 02:06] andrewimeson commented on #120
I have it working, but there are a lot of shellcheck complaints that will either need to be fixed, ignored globally, or exempted on a case-by-case basis within each script. I have excluded SC2034 globally, as that seemed sensible.

Should I make a pull request now, or is there more work that needs to be done? I will need to update a few references that specifically point to my fork of the repo bef

[2017-10-04 02:11] ryanoasis commented on #120
@andrewimeson Awesome sounds great so far. Thanks for contributing :smile:

Probably more work to be done but the PR can be a WIP too. Let me think about this a little? :blush:

I am also going to go ahead and remove most of the labels so no one else works on this :smile:

[2017-10-08 00:50] andrewimeson commented on #120
@ryanoasis I'm thinking it probably makes sense to submit the pull request that adds CI apart from any code changes that fix the problems that CI discovers.

There are probably some enhancements I could make the Travis CI configuration so that it takes less time to run.

[2017-10-08 02:37] ryanoasis commented on #120
@andrewimeson Ah yes that makes more sense. You have my support to go ahead with the separate PRS 😄

[2017-10-09 19:19] ryanoasis opened #200 "Add Tinos font"
#### Add Tinos font

Add a new font: Tinos

Follow the [Wiki instructions for adding a new font](https://github.com/ryanoasis/nerd-fonts/blob/master/contributing.md#steps-for-adding-a-new-font-or-removing-an-existing-font)

* Mostly this involves:
  * Putting files in the right place
  * Running the patching script
  * Verifying (sanity check is fine) the glyphs in the font
  * Updating certain me

[2017-10-09 19:45] jerezereh commented on #200
I'll try it out.

[2017-10-09 19:57] lucasreed commented on #160
I'll work on this.

[2017-10-09 22:57] ryanoasis commented on #160
@lucasreed It's all yours 😄 . Let me know if you have any questions or need any help

[2017-10-09 23:07] ryanoasis commented on #200
@jerezereh That was quick. Sure thanks. 👍

[2017-10-11 09:12] ryanoasis commented on #198
@cemsbr Hey thanks for the issue.

So basically you are suggesting to use the version without ligatures by default?

If you have a screenshot that would be nice to have.

[2017-10-12 18:14] cemsbr commented on #198
Yes, that's it, for the Mono type. Patching Iosevka Term would solve this issue. Screenshots of gnome-terminal:

Iosevka Nerd Font Mono Regular
![iosevka_nerd_mono](https://user-images.githubusercontent.com/49481/31511975-d4e40aa8-af5f-11e7-80eb-edf88bb916fc.png)
![iosevka_term](https://user-images.githubusercontent.com/49481/31511984-dc590ef0-af5f-11e7-85cb-5f8f330f7d58.png)
Non-Nerd Iosevka Term

[2017-10-13 00:11] Magauran commented on #118
I'm working on a Russian translation

[2017-10-13 01:50] ryanoasis commented on #118
@Magauran That'd be awesome! 😄 . I know we get quite a bit of Russian speaking visitors.

Let me know if you need anything from me.

[2017-10-13 02:38] lucasreed commented on #160
I mention in my PR that it's just part 1. I have to convert the table format to something that jekyll likes before making the PR to gh-pages.

[2017-10-14 17:17] lucasreed commented on #160
PR submitted for gh-pages modification as well. Between these two, it should close out this issue.

One thing of note. Adding new folks to the contributors files in both master and gh-pages will be a manual process. I can attempt to automate this, but that would take more time. I did automate the initial populating of data to the gh-pages md file to save myself some time, but it was more of a one-

[2017-10-20 00:13] ryanoasis opened #206 "Add Arimo font"
#### Add Arimo font

Add a new font: Arimo

Follow the [Wiki instructions for adding a new font](https://github.com/ryanoasis/nerd-fonts/blob/master/contributing.md#steps-for-adding-a-new-font-or-removing-an-existing-font)

* Mostly this involves:
  * Putting files in the right place
  * Running the patching script
  * Verifying (sanity check is fine) the glyphs in the font
  * Updating certain me

[2017-10-20 00:44] Ksbugbee commented on #206
I'll tackle this for you.

[2017-10-20 00:46] ryanoasis commented on #206
Hey @Ksbugbee! :smile: That was fast.

It's all yours, let me know if you need any help or have questions!

[2017-10-20 01:06] ryanoasis commented on #206
Hey @Ksbugbee my bad, but could you try with a different font? Perhaps [Arimo](https://fonts.google.com/specimen/Arimo) ?

@bbrks Already has a PR for GoMono (#199)

[2017-10-20 23:03] ryanoasis opened #208 "Add Cousine font"
#### Add Cousine font

Add a new font: [Cousine](https://fonts.google.com/specimen/Cousine)

Follow the [Wiki instructions for adding a new font](https://github.com/ryanoasis/nerd-fonts/blob/master/contributing.md#steps-for-adding-a-new-font-or-removing-an-existing-font)

* Mostly this involves:
  * Putting files in the right place
  * Running the patching script
  * Verifying (sanity check is fin

[2017-10-21 06:19] de-olagundoye commented on #208
This was done here https://github.com/ryanoasis/nerd-fonts/pull/209

[2017-10-21 18:54] steoneill commented on #206
If this still needs doing im happy to.

[2017-10-21 21:28] ryanoasis commented on #206
@steoneill I do not think this still needs assigning (as @Ksbugbee has worked on it in PR #207)

@steoneill If you would like, you can create a PR that tackles another font instead. There are quite a few other fonts you could add. The process is very similar for any additional fonts anyway :smile:

You can find a font as long as the licesnse allows or if you want here are some ideas of fonts that

[2017-10-23 07:34] ELLIOTTCABLE commented on #164
@ryanoasis Oh, sorry! I just came across this when a friend asked “how do I download *just one* NerdFont?”

Yeah, you are definitely free to document my SVN-bridge-hack somewhere — it definitely seems to be *the best way* to download one Nerd Font at a time from the Git repo.

[2017-10-23 16:54] luispuerto opened #210 "Patching Monaco and failing. No correct glyphs, non aligned or Powerline symbols too big"
#### Subject of the issue

I've been trying all day today to patch correctly `Monaco and Menlo Nerd Complete **Mono**`, but I've failed spectacularly. I've been trying different options provided by the script but I wasn't able to a correctly display font on my terminal.

First, I've tried to patch the original font from my fonts folder (`System/Library/Fonts/`), but I wasn't able to make it in a w

[2017-10-24 01:28] ryanoasis commented on #164
@ELLIOTTCABLE Hey no worries :smile: Thanks for the follow up!

We will document it somewhere, hmm the best way to download an unpatched font and patch it you mean I am guessing?

[2017-10-24 01:43] ryanoasis opened #213 "Add 'Noto' font (all variations, including 'mono')"
#### Add 'Noto Mono' font

Add a new font: [Noto Mono](https://www.google.com/get/noto/#mono-mono)

Follow the [Wiki instructions for adding a new font](https://github.com/ryanoasis/nerd-fonts/blob/master/contributing.md#steps-for-adding-a-new-font-or-removing-an-existing-font)

* Mostly this involves:
  * Putting files in the right place
  * Running the patching script
  * Verifying (sanity check

[2017-10-24 02:01] djphan commented on #213
Hi I'd like to try and help with this.

[2017-10-24 02:48] djphan commented on #213
Licensing checks out: Uses SIl - http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL

[2017-10-24 10:36] ryanoasis commented on #213
Sure thanks @djphan it's all yours.

Let us know if you have any questions.

[2017-10-25 08:15] hiby90hou commented on #118
I can do Chinese translation

[2017-10-25 09:07] ryanoasis commented on #118
@hiby90hou That would be great! Thanks! 😄
Let us know if you need anything.

[2017-10-27 00:04] ryanoasis commented on #210
@luisspuerto Thanks for the detailed report :+1:

So does it look fine in the non-mono form?

You tried using [@taohex's patched Monaco](https://github.com/taohex/fonts/blob/master/Monaco%20for%20Powerline%20Nerd%20Font%20Complete.otf) but when you try to patch as mono it looks as shown in your screenshot?

[2017-10-27 05:57] luisspuerto commented on #210
Hi!!

If I make myself a non-mono form the result is exactly the same.

@taohex's patched monaco look's good in iTerm
![screen shot 2017-10-27 at 08 50 57](https://user-images.githubusercontent.com/22882880/32089697-264c02d4-baf4-11e7-828b-9f3bb40ab639.png)

but mine doesn't
![screen shot 2017-10-27 at 08 51 08](https://user-images.githubusercontent.com/22882880/32089705-3353d47a-baf4-11e7-9550-db

[2017-10-27 06:36] luisspuerto commented on #210
I did the patching on a Raspberry Pi with Raspbian Stretch, coping the Monaco from my Mac, and de result was the same I got when I past directly on my mac. With the wrong glyphs and not correctly aligned...

![screen shot 2017-10-27 at 09 22 18](https://user-images.githubusercontent.com/22882880/32090578-bfa211b8-baf8-11e7-984d-f6f1eb413355.png)

Besides, I tried to do a second time and give me a

[2017-10-27 06:46] luisspuerto commented on #210
PS/ when I saw the un aligned glyphs and the too big Powerline symbols I also tried the `-l` flag with even worse result. I also checked if the problem was my Monaco font file. I downloaded @taohex's [one](https://github.com/taohex/fonts/blob/master/Monaco.dfont) but I got the same result. I guess it's the same as mine since the size is exactly the same. Anyway, you can download mine here [Monaco.

[2017-10-27 21:39] ryanoasis commented on #210
@luisspuerto This is just a shot in the dark but what if you try the `--adjust-line-height` flag?

[2017-10-28 09:32] luisspuerto commented on #210
I think I've already tried... but I can try again.

[2017-10-28 09:48] luisspuerto commented on #210
the result is even worse.

First screenshot if with the original Monaco and second is with @taohex's. The result is the same.
![screen shot 2017-10-28 at 12 36 03](https://user-images.githubusercontent.com/22882880/32133277-6d221754-bbdd-11e7-820c-55f994b8dd1b.png)
![screen shot 2017-10-28 at 12 40 40](https://user-images.githubusercontent.com/22882880/32133278-6d42f794-bbdd-11e7-84ef-441c4280e7bf

[2017-10-28 19:39] ryanoasis commented on #210
@luisspuerto Ah okay darn. Thanks for the details and screenshots! :smile:

Hopefully we can figure out what's happening :worried:

[2017-10-29 16:44] luisspuerto commented on #210
Thanks! I hope so, because I've would like to have Monaco font patched.
Have you tried to patch yourself?

I've also emailed @taohex, but they didn't reply me yet.

[2017-10-31 08:52] luisspuerto commented on #210
@ryanoasis by the way... can you try to patch yourself and see if the result is the same?

Thanks!

[2017-11-01 23:09] #208 closed

[2017-11-04 13:23] ryanoasis commented on #188
Addressed via PR #215

[2017-11-04 13:25] ryanoasis commented on #160
I'll need to update the contribution list but I am considering this closed for now.

Thanks again @lucasreed

[2017-11-04 13:25] #160 closed

[2017-11-04 13:26] ryanoasis commented on #160
Do you mind posting or linking to this just in case it becomes useful?

[2017-11-04 15:12] aquatix opened #216 "'Hack' font updated to 3.000"
#### Subject of the issue

The 'Hack' (Knack) font has got a new (major) release. It'd be great (coffee) if it could be updated in this awesome collection too :)

#### Your Setup

- Knack Regular Nerd Font Complete Mono.ttf
- `gnome`, `xfce4-terminal`
- Ubuntu Linux 17.10

[2017-11-05 11:40] ryanoasis commented on #216
@aquatix Thanks for the update! Very cool.

What I found most interesting was the move to MIT license: 'the reserved font name “Hack” was eliminated from the license'

[2017-11-05 16:26] lucasreed commented on #160
@ryanoasis Sure, I'll make a gist when I get a few moments.

[2017-11-05 16:58] ryanoasis commented on #160
@lucasreed Sounds good thanks. No rush!

[2017-11-05 20:25] aquatix commented on #216
Cool! Was wondering about the ramifications of the change of license, but this sounds really positive. Can't wait to have the updated version in nerd-fonts ;)

Thanks for this great project, it makes my CLI life so much better (and I live and breath terminals).

[2017-11-07 23:42] #120 closed

[2017-11-08 19:27] aquatix commented on #216
Cool! Was wondering about the ramifications of the change of license, but this sounds really positive. Can't wait to have the updated version in nerd-fonts ;)

Thanks for this great project, it makes my CLI life so much better (and I live and breath terminals).

[2017-11-09 17:29] luisspuerto commented on #210
Hey!

Any progress? I just did the patch in a computer with a clean install or high sierra and I have the same problem. It's like the height of lines increased for some reason... Perhaps some of the glyphs aren't adapting to the height. Probably the powerline ones.

[2017-11-12 02:07] ryanoasis commented on #210
@luisspuerto Hey no I haven't tried patching myself. Also sorry no progress on this issue. Mostly getting caught up with the backlog of PRs (now finally merged). Next up will be the [v1.2.0 Release](https://github.com/ryanoasis/nerd-fonts/milestone/17)

[2017-11-12 02:09] #206 closed

[2017-11-12 18:42] luisspuerto commented on #210
don't worry... and let's see if with the new release the issue fixes itself. 😊

[2017-11-15 23:09] lucasreed commented on #160
@ryanoasis Sorry it took me so long (I have been really busy and it sort of slipped my mind)
https://gist.github.com/lucasreed/6d69c376ec0ddf88093dfb9bad514f09

Essentially what I did was copy the .all-contributorsrc out of the master branch to a different dir, and then run the script against that file (it's hardcoded in my gist as all-contributorsrc, without the leading dot [here](https://gist.gi

[2017-11-18 14:52] #188 closed

[2017-11-18 15:46] ryanoasis commented on #200
Fixed with #201. Thanks again

[2017-11-18 15:46] #200 closed

[2017-11-22 04:36] duytrung opened #217 "Feature requires - Dyslexic nerd font"
#### 🗹 Requirements

Please implement a version of Dyslexic nerd font that supports people with dyslexia.

The normal version of this font is at https://opendyslexic.org/download/
Thank you very much

[2017-11-26 01:21] Drewshg312 opened #218 "installer succeded but returned exitcode 1."
#### 🗹 Requirements

- [x] A brief but descriptive _title_ of your issue
- [x] I have searched the [issues](https://github.com/ryanoasis/nerd-fonts/issues) for my issue and found nothing related and/or helpful
- [x] I have read or scanned the [FAQ](https://github.com/ryanoasis/nerd-fonts/wiki/FAQ-and-Troubleshooting)
- [x] I have read or scanned the [Wiki](https://github.com/ryanoasis/nerd-fonts/w

[2017-11-27 22:38] ryanoasis commented on #218
@Drewshg312 Thanks for the report! :smile:

I won't be able to get to this anytime soon :cry: but I will try to look into it when I can

[2017-11-27 22:39] ryanoasis commented on #217
@duytrung Very cool! I will look into making this happen (won't be soon though)

[2017-11-28 02:22] ColinZeb opened #219 "Character '\u21B5' is not displayed correctly"
like this:
![return.png](https://i.loli.net/2017/11/28/5a1cc6318d213.png)

the font is consola.ttf from windows 10.
the command is `fontforge -script font-patcher -w -c -s -ext otf -out /var/www/download/fonts  ~/consola.ttf` and executed by ubuntu 16.04

result of execute 'fontforge --version '

[2017-11-28 23:56] Drewshg312 commented on #218
too bad... this forced me to write long ugly ansible workaround because of that, instead of one neat task... LOL

[2017-11-29 03:02] ryanoasis commented on #219
Thanks for the report 👍 . I'll look into this, but no promises as to when.

[2017-11-29 12:17] aquatix commented on #216
Fascinating double post there. Anyway, I updated to v1.2.0, but I don't think the newer Hack font is in there?

Thanks for this collection anyway, it's awesome :)

[2017-11-29 15:12] cy91244 commented on #118
I can do Traditional Chinese(zh-tw) translation if you like.
Most Taiwanese and Hong Kongese would much rather read in Traditional Chinese.

[2017-11-30 02:00] waseem18 commented on #121
Hi @ryanoasis

I'm interested in taking this up.

However I noticed only two Python scripts `bin/scripts/fpfix.py` and `font-patcher`.
I'll put a PR for this as soon as I can. Let me know if you got any suggestions.

Thanks

[2017-11-30 02:35] Billy4195 commented on #118
@ryanoasis The current readme_cn.md is written in `Simplified Chinese`, I stand for @cy91244 to add a `Traditional Chinese` version. :smile:

[2017-11-30 02:50] ryanoasis commented on #118
@cy91244 That'd be great. I am all for this :smile:

@Billy4195 Yeah. I agree. Thank you :smile:

[2017-11-30 02:58] ryanoasis commented on #121
@waseem18 Thanks! That'd be great! :smile:

Yes I believe that is correct there are only 2 python scripts currently.

I will remove the up for grabs label for now, this is all yours for now!

I don't have any particular suggestions but if I do I'll let you know. Also if you have any doubts feel free to ping me.

[2017-11-30 03:02] ryanoasis commented on #216
@aquatix

Hahah yeah I did notice that too :man_shrugging:

Hmm I will take a look this weekend. Do you mean it is not there as in the features of that release or the internal version is wrong?

There was a font (I don't remember which) where the internal version on some of the font weights was incorrect.

That really does mean a lot! Thanks! :smile: . Community is making it awesome :blush:

[2017-11-30 08:58] aquatix commented on #216
Ah, no worries, was just wondering if anything happened with Hack, as the binaries seemed exactly the same (no pressure, just Need Updates :P ).

Figured you don't hear 'thank you' enough, so here it is again: thanks for your work!

[2017-12-01 21:43] ryanoasis commented on #216
We can probably get Hack updated soon in master.. but the releases tend to go slow.. although a lot faster now with the new [KISS workflow](https://github.com/ryanoasis/nerd-fonts/wiki/Development-Workflow)...

Thanks! :blush:

[2017-12-01 23:22] fornwall opened #220 "Roboto Mono fonts has incorrect horizontal spacing?"
It looks like the Robot Mono fonts from nerd-fonts:

- https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/RobotoMono/complete/Roboto%20Mono%20Nerd%20Font%20Complete%20Mono.ttf

adds a lot of space compared to e.g. the one provided by google at:

- https://github.com/google/fonts/raw/master/apache/robotomono/RobotoMono-Regular.ttf.

See the following screen shots comparing them:

- Fr

[2017-12-01 23:32] fornwall commented on #220
Sorry, a confusion from my part - forget it!

[2017-12-02 03:27] ryanoasis commented on #218
@Drewshg312 Sorry about that. PRs are highly valued and accepted at a high rate :wink:

[2017-12-02 12:24] aquatix commented on #216
KISS and 'release early, release often' are some of the better ideas to work with :) Big releases suck, they tend to grow larger and larger and suck energy to ensure everything still works.

I can wait ;)

[2017-12-03 07:27] akatrevorjay commented on #154
Interesting note about, say, using at least a subset of MDI is that they are all sized exactly the same too. Do we even have enough character slots left that are relatively unused? Honest question.

[2017-12-08 16:09] tamirco2003 commented on #177
On it.

[2017-12-08 18:46] tamirco2003 commented on #177
Wait, having some trouble patching it...

How do you test patch the font.

[2017-12-08 18:59] ShakataGaNai opened #221 "Request: FontAwesome 5 & FontAwesome Pro"
#### 🎯 Subject of the issue

I'd like to put in a request for support of FontAwesome 5 and FontAwesome Pro. The later requires users licenses, so perhaps just support in the patcher.

[2017-12-08 21:58] tamirco2003 commented on #177
Nevermind, gave up.
Up for grabs again.

[2017-12-10 16:00] MindyTai commented on #118
@ryanoasis  I've finished a README of Traditional Chinese version on PR #222 !

[2017-12-10 16:08] cy91244 commented on #118
@MindyTai thanks for doing it.

[2017-12-10 21:56] ryanoasis commented on #177
@tamirco2003 Oh no sorry about that. What was the trouble you ran into?

You can either open up the font in FontForge or your OS character map program and visually inspect the glyphs at the various codepoints... or you can run the (test-fonts script)[https://github.com/ryanoasis/nerd-fonts/blob/master/bin/scripts/test-fonts.sh] from a terminal.

Sorry if that is too little too late. :disappointed:

[2017-12-11 02:00] ryanoasis commented on #220
@fornwall I haven't had a chance to look at this yet but thanks for reporting a possible issue :+1:

[2017-12-11 02:03] ryanoasis commented on #221
@ShakataGaNai Yes this is a very big idea! :+1:  I am aware of them but haven't done any movement on that front. :sweat_smile:

[2017-12-11 13:06] vedantc98 commented on #218
Hi, I'd like to take up this bug. I'm a first time contributor here, can anyone guide me?

[2017-12-14 03:39] ryanoasis commented on #218
@vedantc98 Hey thanks for the interest.

For starters I would get familiar with the project documentation available on the [wiki](https://github.com/ryanoasis/nerd-fonts/wiki)

As for specifics on this issue I believe this script just might need to explicitly send the proper exit code when it completes. Possibly helpful: http://tldp.org/LDP/abs/html/exit-status.html

Try to follow [shellcheck](htt

[2017-12-15 15:59] jrcharney opened #223 "An install script for Windows"
So I've been wondering, why this project doesn't have an install script for Windows like similar projects (See https://github.com/powerline/fonts/blob/master/install.ps1 or https://github.com/gabrielelana/awesome-terminal-fonts/blob/master/install.ps1).

With there now being an Unbuntu bash shell for Windows, and this project having Windows compatible fonts, I've been curious as to why there isn't

[2017-12-16 17:40] #216 closed

[2017-12-16 22:25] ryanoasis commented on #150
@mftrhu No worries, especially since you added useful information others may find helpful! Appreciate that :smile:

---

Additionally I have tried to add at least some basic info that might make it easier to find help on these kind of things:
- https://github.com/ryanoasis/nerd-fonts/wiki/FAQ-and-Troubleshooting#why-do-the-glyphs-look-small-squished-or-not-full-width
- https://github.com/ryanoasis

[2017-12-16 22:26] ryanoasis commented on #155
Thanks people :smile:

Closing via:
- https://github.com/ryanoasis/nerd-fonts/wiki/FAQ-and-Troubleshooting#why-do-the-glyphs-look-small-squished-or-not-full-width
- https://github.com/ryanoasis/nerd-fonts/wiki/Terminal-Emulators#urxvt

[2017-12-16 22:26] #155 closed

[2017-12-16 22:43] ryanoasis commented on #223
@jrcharney First of all, thank you for bringing this up, it's something I haven't really thought much about so it is a valuable topic. So you mean adding a PowerShell script for the install?

There is no good reason we don't have one or couldn't :smile:

Some reasons why we don't right currently: I don't really use Windows for development purposes, a contributor submitted a PR for [the initial ins

[2017-12-16 23:04] ryanoasis commented on #160
Thanks @lucasreed

[2017-12-17 14:30] aquatix commented on #216
Yay :)

[2017-12-17 18:50] jrcharney commented on #223
Well, I don't have much experience with writing scripts for the powershell, but it looks pretty easy.  In fact, I still have one of the scripts from another package that I had used for installing fonts with but have since decided NerdFonts would be the better option.

Out of curiousity, should I just instruct the script to look for all the fonts in each font family package with the words "Windows

[2017-12-18 16:16] karambaq opened #224 "Powerline glyphs"
#### 🎯 Subject of the issue

Patched font powerline symbols not aligned right. I mean, two or three pixels.

#### 🔧 Your Setup

- _Iosevka Patched font with -c -s -l flags_
- _iterm2_
- _OS X High Sierra_

<img width="782" alt="2017-12-18 19 06 27" src="https://user-images.githubusercontent.com/14233969/34115432-aee8fd62-e426-11e7-9fd7-4cb6c337a76b.png">

Top border:
![2017-12-18 19 11 31](https:/

[2017-12-18 20:37] bookercodes opened #225 ""FontForge module is probably not installed""
As per the install instructions, when I install FontForge via Homebrew and run `./font-patcher`, I see the following error:

[code]

[2017-12-18 20:39] bookercodes commented on #225
This happens because when you install `fontforge` with Homebrew, _"Python modules have been installed and Homebrew's site-packages is not in your Python sys.path, so you will not be able to import the modules this formula installed."_

To fix this error, you need to run
[code]

Replacing `<YOUR USERNAME>` with your username (run `id -un`)

[2017-12-18 20:43] bookercodes commented on #225
What you can also do is

[code]

And observe the instructions carefully|:

[code]

[2017-12-18 20:43] #225 closed

[2017-12-20 05:19] chrissnell opened #226 "Request: Weather Icons"
#### 🎯 Subject of the issue

Request:  Please add Erik Flowers' "[Weather Icons](https://github.com/erikflowers/weather-icons) to your fonts.  :)

#### 🔧 Your Setup

- I'm using SauceCodePro Mono
- I use xfce4-terminal
- I'm using Arch Linux

[2017-12-22 01:23] yacoob commented on #224
Looks very similar for me with Fantasque in iTerm2 (3.1.5). Depending on the font size, the separator is sticking out ever so slightly to the top or to the bottom:

Fantasque at 14pt, sticking out to the top
![screen shot 2017-12-22 at 01 11 07](https://user-images.githubusercontent.com/190463/34281360-236f2684-e6b6-11e7-8216-ff6a274f7361.PNG)

Fantasque at 18pt, sticking out to the bottom
![scree

[2017-12-24 03:18] ryanoasis commented on #224
We'll take a look at this. Thanks for the report and the screenshots both of you. 👍

Glyphs can be notoriously finicky to align for prompt purposes.

[2017-12-24 03:20] ryanoasis commented on #226
Cool thanks for the suggestion 😄 . Wow 222 is a lot

[2017-12-24 09:29] karambaq opened #227 "Add ligatures to font."
Sorry for the noob question, is there a way to add ligatures to font? I'm tried to patch Monaco with -c flag but not see any ligatures.

[2017-12-31 22:32] dkarter opened #228 "Add Elixir glyphs"
#### 🎯 Subject of the issue

Can you please add glyphs for the elixir language? this includes files with the `ex`, `exs`, `eex` extensions. (that's all I can think of so far)

#### 🔧 Your Setup

- FuraCode Nerd Font
- iTerm
- OS X 10.13.2

#### ★ Optional

Currently in Vim:

<img width="345" alt="image" src="https://user-images.githubusercontent.com/551858/34464522-17277716-ee48-11e7-8482-f0181a2b

[2018-01-11 02:58] ryanoasis commented on #227
@karambaq Hey no worries! :smile:

There is currently no support for ligatures unless the unpatched font has them. Therefore none of the flags for the patcher have anything to do with ligatures. the "-c" is for a "complete" set of glyphs.

This would be a future improvement for sure but I don't think very easy.

ref: #57

[2018-01-11 02:59] ryanoasis commented on #227
With that said I am going to close this as a duplicate of issue #57, please subscribe to that issue if you'd like to follow :smile:

[2018-01-11 02:59] #227 closed

[2018-01-11 03:00] ryanoasis commented on #228
@dkarter Cool and great suggestion! :+1:

Thanks! :smile:

[2018-01-11 03:04] ryanoasis commented on #172
@xasx That is good news but Nerd Fonts uses [vorillaz/devicons](https://github.com/vorillaz/devicons)

[2018-01-11 03:09] ryanoasis commented on #83
@vbauerster Looks like I dropped the ball on this :cry:

[2018-01-11 03:14] ryanoasis opened #229 "Update Iosevka to the latest/current version (1.14.0)"
#### 🎯 Subject of the issue

Update Iosevka to the latest/current version
Brought up via https://github.com/ryanoasis/nerd-fonts/issues/83#issuecomment-249115721

#### 🔧 Your Setup

N/A

#### ★ Optional

N/A

[2018-01-11 03:14] ryanoasis commented on #83
@vbauerster done: #229

[2018-01-13 12:00] Phuurl commented on #218
Encountered this issue as well, and have created a pull request (#230) to resolve it.
Feel free to use @vedantc98's if they get back :smiley:

[2018-01-13 20:32] ryanoasis commented on #218
Thanks @Phuurl . @vedantc98 looks like this has been handled, hopefully you didn't start on anything or did you?

[2018-01-14 16:23] #218 closed

[2018-01-14 16:25] ryanoasis commented on #218
If anyone (@Drewshg312, etc) could/would verify I think this should be fixed via @Phuurl PR

Going to leave this closed unless anyone has problems. Thanks all

[2018-01-17 04:55] atomi opened #231 "Hasklug ExtraLight & Light are not working"
#### 🎯 Subject of the issue

Hasklig Light and ExtraLight work fine on VSCode but Hasklug Nerd Font,ExtraLight and Hasklug Nerd Font,Light do not (possibly others as well) However,  the Font Viewer on Linux does display them correctly.

#### 🔧 Your Setup

Hasklug ExtraLight Nerd Font Complete.otf On Linux

[2018-01-19 01:23] ryanoasis commented on #231
Oh no, thanks for the report! :+1:

[2018-01-23 10:57] unikitty37 commented on #223
It would definitely be useful for a Windows install script to make the necessary Registry edit to add the font to the list of blessed fonts at `HKLM\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Console\TrueTypeFont` for terminal use.

(I seriously have *no* idea why Microsoft don't let the user pick any monospaced font they've installed, but doubtless there's some reason for it…)

I'm trying to ad

[2018-01-23 15:13] jrcharney commented on #223
@unikitty37, tinkering with RegEdit really is not necessary.

It should be noted, that I am now using WSLTTY instead of the actual shell that Bash for Ubuntu for Windows now comes with.  Apparently BUW is still using Windows's conhost.exe (which may as well be cmd.exe), which DOES NOT support the patched glyphs.  WSLTTY does support the glyphs.

Here's what it looks like with my Zsh shell using Po

[2018-01-23 15:18] jrcharney commented on #223
At any rate, I'm hoping to push my P9K Zsh theme to one of my repos in the near future.  It only seemed right for Orange and Plum to be used for Ubuntu.

[2018-01-27 14:51] jamrizzi opened #232 "Document ttf-ancient-fonts"
For some reason, on Ubuntu I had to install ttf-ancient-fonts to get this to work.

[code]

Shouldn't this be documented?

[2018-01-28 14:26] ryanoasis commented on #232
Hmm that is strange. Should not be required at all.

What was the issue you were having? Glyphs not showing?

[2018-01-28 15:06] jamrizzi commented on #232
Correct

[2018-01-28 15:53] ryanoasis commented on #232
Which glyphs were you not seeing? The powerline characters (e.g. `e0b0`) ?

![selection_007](https://user-images.githubusercontent.com/8083459/35484094-e4d9ede8-0418-11e8-8fe7-5e0f5d16e4d0.png)

I don't think it makes sense to me why install these fonts would have any effect on completely different glyphs. Perhaps the font cache got cleared while or after installing the fonts?

[2018-01-28 22:44] jamrizzi commented on #232
How to you clear the font cache, I ran `fc-cache` several times and it didn't help. The glyphs that weren't working were more specific ones, like the devicons.

[2018-01-28 22:45] jamrizzi commented on #232
The operating system I'm using a minimal Ubuntu server, maybe installing `ttf-ancient-fonts` installed some other dependencies I needed to display the fonts.

[2018-01-31 20:43] ylluminate commented on #229
This has been updated yet again today with new long needed ligatures.

[2018-02-02 20:42] nogweii opened #233 "New font to include: Mfizz"
#### 🎯 Subject: [font-mfizz](https://github.com/fizzed/font-mfizz)

[Font Mfizz](http://fizzed.com/oss/font-mfizz) seems to have some higher quality vectors for particular icons, and covers some other ones not yet covered by the current set.

[2018-02-04 19:35] ryanoasis commented on #232
@jamrizzi That is odd to me that the package would be needed simply to use fonts with private use glyphs but obviously it seems to have solved something for you so there is probably something going on.

Perhaps it was some other dependency but I wouldn't know which it was.

This would take some exploring or attempt to replicate.

How did you setup your Ubuntu server? Any specific iso you started f

[2018-02-04 19:38] ryanoasis commented on #233
@evaryont Thanks for the suggestion. At first I thought this was a font but it's actually a font glyph set.

Quite a few of these we already have but definitely some unique ones here! Given that Nerd Fonts currently does not care about duplicate glyphs (it just aggregates the sets) I don't think that would prevent us from adding the whole set.

[2018-02-05 03:48] ryanoasis commented on #231
Hey @atomi, just tried `Hasklug ExtraLight Nerd Font Complete.otf` and it looks to be working fine for me:

![selection_008](https://user-images.githubusercontent.com/8083459/35787624-8fc35174-09fd-11e8-9af5-8585e190ba99.png)

[2018-02-05 16:40] atomi commented on #231
I no longer can find the Hasklug Complete.otf files I thought they were at https://github.com/ryanoasis/nerd-fonts/tree/master/patched-fonts/Hasklig

[2018-02-05 16:52] atomi commented on #231
@ryanoasis Your image shows 'Hasklug Nerd Font' and that works for me as well, but 'Hasklug Nerd Font ExtraLight' does not.

[2018-02-05 17:22] jamrizzi commented on #232
I'm sorry, I've determined this was an unrelated issue. Sorry for the confusion.

[2018-02-05 17:22] #232 closed

[2018-02-05 23:10] ryanoasis commented on #232
@jamrizzi Good to hear. Thanks!

[2018-02-07 00:37] pencilcheck commented on #229
https://github.com/be5invis/Iosevka/issues/56#issuecomment-361358913

Yay!

[2018-02-08 14:08] b-b-x opened #235 "Can't patch Menlo on Debian Stretch"
Hi

i am trying to patch Menlo font on Debian, so i can use font-awesome in urxvt.
I have installed fontforge from Debian Stretch repository.

I am patching using this command:
`fontforge -script font-patcher --fontawesome --fontawesomeextension --fontlinux --octicons --powersymbols --pomicons --powerline --powerlineextra --progressbars Menlo-Regular.ttf`

But i am receiving some errors
[code]

[2018-02-08 23:51] ryanoasis commented on #231
@atomi Hmm that's because the font names actually the same (not taking into account the weight).

You should be able to do something like this:
[code]

[2018-02-09 00:08] ryanoasis commented on #235
@b-b-x It looks as if the font generates correctly. Is the font usable?

Those errors are basically warnings from FontForge and you will see those on many fonts, I have not been able to suppress them in the patcher yet.

[2018-02-09 00:09] atomi commented on #231
Yeah I figured that out. But the original Hasklig font is able to use the Extra Light font style by using the font name. I wasn't sure if that was expected behavior for your Hasklug font.

[2018-02-09 00:09] ryanoasis commented on #229
We can repatch for sure but I don't think the ligatures work at all in the Nerd Fonts patched version

[2018-02-09 00:43] ryanoasis commented on #231
@atomi Ah okay now I gotcha, yeah you are correct it is not behaving as one would expect.

So there is an issue here.. the ttf family name isn't being updated 😟

It is actually using the canonical font name, so as long as you don't have Hasklig installed this should actually use the Nerd Fonts patched version from what I can see:
[code]

See below the issue:

![selection_009](https://user-images.g

[2018-02-09 00:45] atomi commented on #231
Ah I see. Glad we figured it out.  :smiley:

Thank you for the work around.

[2018-02-09 00:50] ryanoasis commented on #229
Re-patched and only did a quick spot check. Feel free to test them out or report issues here. Thanks

[2018-02-09 02:33] ryanoasis commented on #198
I think this one should do it: https://github.com/be5invis/Iosevka/releases/download/v1.14.0/02-iosevka-term-1.14.0.zip

I will look into it tomorrow or this weekend. 🤞

[2018-02-09 02:41] ryanoasis commented on #186
Seems we can solve this with `removePosSub`. I will play around with this this weekend 😄

[2018-02-09 13:00] b-b-x commented on #235
I tried using fonts awesome in terminal and some symbols work and some don't, no idea why.
Should all icons from here work ?:

https://fontawesome.com/cheatsheet

[2018-02-10 23:24] ryanoasis commented on #235
Yeah all icons should work.

The ones from that cheatsheet should work, other glyph sets might be moved (see: [conflicts](https://github.com/ryanoasis/nerd-fonts/wiki/Codepoint-Conflicts)).

For the proper codepoint you can see the [Nerd Fonts cheatsheet](http://nerdfonts.com/#cheat-sheet)

For terminal use, example:
[code]

[2018-02-10 23:31] ryanoasis commented on #233
Yeah we can use the ttf font. This should be fairly straight forward to include. The thing that will take time is repatching all of the fonts 😉

Looks like the mfizz are mapped to `f100` through `f188`. However that range conflicts with some other Nerd Font glyph set so we just have to offset the range. 😄

[2018-02-10 23:53] ryanoasis commented on #219
`21b5` is not part of Nerd Fonts, most of the source fonts I look at don't have it. Even the Consolas I looked at doesn't include in the font. At least on my system that character is coming from Symbola.

However we _could_ add those to fonts that don't have particular symbols, using Symbola or similar.

[2018-02-11 15:03] ryanoasis commented on #157
Project has since changed name and purpose a bit. Now called "font-logos".

Here is a screenshot of what we have in Nerd Fonts vs what's available in the current font-logos:

![selection_010](https://user-images.githubusercontent.com/8083459/36074767-c6609fce-0f12-11e8-8238-9ff91553bc16.png)

[2018-02-11 15:05] #198 closed

[2018-02-11 16:20] ryanoasis commented on #154
@akatrevorjay That is a very legit concern/question.

Just in the Private Use Area we have up to 6.4k codepoints, it can be much larger if we can use the full unicode encoding.

[2018-02-15 02:34] ryanoasis commented on #213
@djphan Still interested in this or can I safely take it over?

[2018-02-15 15:01] petobens opened #236 "Add patched sourcecodepro italics"
The provided [SauceCodePro font](https://github.com/ryanoasis/nerd-fonts/tree/master/patched-fonts/SourceCodePro) doesn't have a patched italics version of the official [SourceCodePro Font](https://github.com/adobe-fonts/source-code-pro). Is it possible to add a patched version of this style to the repo? Thanks in advance!

[2018-02-16 00:44] ryanoasis commented on #236
@petobens Thanks for bring this to our attention :+1:

Going to try to get this into the next version.. possibly :smile:

[2018-02-16 04:05] petobens commented on #236
Awesome! Thank you :)

[2018-02-16 16:28] pencilcheck commented on #229
Cool really appreciate for doing this, I wonder when the new version is going to be officially released?
I submitted a request in homebrew cask font but they said the latest official release is only 1.2.0

[2018-02-17 00:40] ryanoasis commented on #229
Thanks @pencilcheck I did see that.

TBD. I am actually in my mind targeting end of this month, so there is some release momentum.

Right, so I did repatch the Iosevka fonts but now I am holding off on repatching again because of other new additions I would like to get into a release (new glyphs mostly).

I am sorry for the confusion and perhaps I shouldn't have closed the issue via my commit mess

[2018-02-17 06:20] sambadevi commented on #157
Coming from bhilburn/powerlevel9k#751 I would like to request the OpenSUSE Tumbleweed Icon to be included as well

Also, the apple and android icons are already in Nerd Fonts afaik (Using `Knack Nerd Font`
 as well)
Apple being `\uE711` and `\uF179`
Android as `\uE70E` and `\uF17B`

[2018-02-17 22:23] ryanoasis commented on #196
Almost positive related to #12 (Windows not liking the 3270 font name)

[2018-02-17 23:33] ryanoasis commented on #157
@sambadevi Yeah there are definite duplicates! Which happens when aggregating so many sets :smile: however right now there is no plan to try to remove duplicates, we let them coexist.

Is OpenSUSE Tumbleweed part of font-logos ? I don't see that only OpenSUSE

[2018-02-18 06:56] sambadevi commented on #157
Ah my bad, no it’s not, would be a nice addition but seems like it’s not included in font-logos

[2018-02-19 00:08] ryanoasis commented on #186
@kballard Seems we can deal with this but it affects multiple fonts with different possible ligatures.

Can you try this WIP font out (seems to be working for me!):
[Meslo LG M Regular Nerd Font Complete Mono.ttf.zip](https://github.com/ryanoasis/nerd-fonts/files/1735281/Meslo.LG.M.Regular.Nerd.Font.Complete.Mono.ttf.zip)

[2018-02-19 02:37] ryanoasis commented on #157
@sambadevi Looks pretty cool. Something similar to the left side of this image: https://news.opensuse.org/wp-content/uploads/2015/01/Tumbleweed.png ?

[2018-02-19 06:34] sambadevi commented on #157
@ryanoasis I meant this one https://en.opensuse.org/Portal:Tumbleweed

[2018-02-21 00:07] ryanoasis opened #237 "Add 'Electron' glyph"
#### 🎯 Subject of the issue

Add 'Electron' glyph to core (Set UI + Custom) set.

Use svg similar to: https://github.com/sindresorhus/awesome-electron/blob/master/electron-logo.svg

#### 🔧 Your Setup

N/A

[2018-02-21 23:16] varunagrawal opened #238 "Glyphs not showing on Hack font"
#### 🎯 Subject of the issue

When using the Hack font on terminator, the nerd-font glyphs don't render correctly.

See the image below:
![glitch1](https://user-images.githubusercontent.com/975964/36510918-bca3e8b0-1732-11e8-80e9-43d211c553d6.png)

This might be a regression due to a recent update (#216). The Knack font works fine.

#### 🔧 Your Setup

- Hack font
- Terminal: Terminator
- Ubuntu 16.

[2018-02-23 22:00] ryanoasis commented on #238
Thanks for reporting :+1: , will check it out when I get time

[2018-02-23 22:15] varunagrawal commented on #238
If it helps, the glyphs show up correctly on almost every other font I have tried.

[2018-02-24 03:27] ryanoasis commented on #238
@varunagrawal Yes that might be helpful info. Thanks!

[2018-02-24 03:57] ryanoasis commented on #231
Might have a fix for this. @atomi mind trying out a patched font if I upload it?

[2018-02-24 04:43] atomi commented on #231
Yeah of course. but I'm out tonight. I'll have to test tomorrow.

[2018-02-24 15:34] ryanoasis commented on #231
@atomi Appreciate it, don't feel obligated, no worries whenever you are able :smile:

It is here for you when you can/want to test it out:

[Hasklug Nerd Font Complete (Correct String ID).ttf.zip](https://github.com/ryanoasis/nerd-fonts/files/1754557/Hasklug.Nerd.Font.Complete.Correct.String.ID.ttf.zip)

[2018-02-24 15:35] ryanoasis commented on #235
@b-b-x I am going to close this for now, we can re-open if you are still having issues

[2018-02-24 15:35] #235 closed

[2018-02-24 17:28] atomi commented on #231
Yeah it is working with `'Hasklug Nerd Font'` in VSCode... Looking forward to the update.

Thanks again.

[2018-02-25 21:16] ryanoasis commented on #231
@atomi Great! Thanks for checking

[2018-02-28 23:59] michaeltlombardi commented on #57
Might be able to leverage [ligaturizer](https://github.com/rojiani/Ligaturizer/) for this.

[2018-03-01 02:24] ryanoasis commented on #57
@michaeltlombardi Thanks. That looks cool! Hmm poked around not sure about the future of project though..

[2018-03-01 06:19] kaijajan opened #239 "some of the symbols not showing correctly under windows"
#### 🗹 Requirements

- [x] A brief but descriptive _title_ of your issue
- [x] I have searched the [issues](https://github.com/ryanoasis/nerd-fonts/issues) for my issue and found nothing related and/or helpful
- [x] I have read or scanned the [FAQ](https://github.com/ryanoasis/nerd-fonts/wiki/FAQ-and-Troubleshooting)
- [x] I have read or scanned the [Wiki](https://github.com/ryanoasis/nerd-fonts/w

[2018-03-01 16:09] michaeltlombardi commented on #57
I was thinking of using it to have a personal hacked version of the knack font for my powerline setup. :)

[2018-03-03 02:12] CarterLi opened #240 "Upgrade Fantasque Sans Mono to the latest version (1.7.2)"
#### 🎯 Subject of the issue

https://github.com/belluzj/fantasque-sans/releases

#### 🔧 Your Setup

N/A

#### ★ Optional

N/A

[2018-03-03 02:42] ryanoasis commented on #239
@kaijajan Thanks for the report!

Appreciate that, thank you.

---

Hmm those glyphs are actually not patched with Nerd Fonts, those depend on the individual fonts.. of course we could always add the equivalent if they are in fact missing...

For example:

![selection_013](https://user-images.githubusercontent.com/8083459/36929688-96272e04-1e62-11e8-94e7-d21033542184.png)

[2018-03-03 02:44] ryanoasis commented on #240
@CarterLi Thanks for the heads up!

I guess we need a system to know when fonts release new versions :blush:

[2018-03-03 02:52] CarterLi commented on #240
Thanks for your quick response! @ryanoasis

[2018-03-03 02:55] ryanoasis commented on #240
Just happened to be on and actually we are almost at a point where upgrading them is trivial (knock on wood). :smile:

I will be pushing the re-patched versions now.

[2018-03-03 23:37] ryanoasis commented on #196
Source of issue: https://github.com/rbanffy/3270font/issues/1

I am going to grab the latest 3270 font and repatch.. that should take care of this issue

[2018-03-04 06:53] nogweii opened #241 "Swap Font Awesome with Fork Awesome?"
#### 🎯 Subject of the issue

[Fork Awesome](https://forkawesome.github.io/Fork-Awesome/) is a fork of Font Awesome with extra community icons.

#### ★ Optional

(I mostly want it for the [XMPP icon](https://forkawesome.github.io/Fork-Awesome/icon/xmpp/) but there is [more to it](https://forkawesome.github.io/Fork-Awesome/icons/#new) than just that one glyph.)

[2018-03-04 14:37] kaijajan commented on #239
@ryanoasis

Thank you for the reply.
I thought those symbols were a part of this nerd fonts, my mistake.
I also installed nerd fonts on my macOS which works insanely good.

I checked the original ttf files, and only very few did contain those symbols, but how come the other fonts patched work fine under macOS, even w/o those symbols.

Really thank for your support.

[2018-03-04 15:44] ryanoasis commented on #196
This should now be fixed. Tested on Windows 7 but I was able to replicate the same issue that you gave before.

[2018-03-04 15:44] #196 closed

[2018-03-04 15:58] ryanoasis commented on #12
tested opening the following fonts (otf version):

- :white_check_mark: 3270-Medium Nerd Font Complete Windows Compatible (now passing!)
- :white_check_mark: AurulentSansMono-Regular Nerd Font Complete Windows Compatible
- :white_check_mark: Code New Roman Bold Nerd Font Complete Windows Compatible
- :white_check_mark: Droid Sans Mono for Powerline Nerd Font Complete Windows Compatible
- :white_ch

[2018-03-04 15:58] #12 closed

[2018-03-04 17:23] ryanoasis commented on #241
Ah Font Awesome changes.. yeah ever since I saw version 5 I had some doubts how we will incorporate.

So this forked from FA 4.7.

Right now they seem to have 32 icons added since 4.7

Ref: https://forkawesome.github.io/Fork-Awesome/whats-new/

Related: #221

[2018-03-04 17:30] ryanoasis commented on #221
I think we can probably rule out FA Pro (I don't feel confident exploring that route -- unless someone can convince me otherwise).

As for FA 5 perhaps we can give an option with the patcher, something like either FA 5 or the Fork Awesome (this was brought up in #241). FA 4.7 fork that is arguably more open.

I think we need to discuss pros/cons of each. I, myself, would need to read up on the dir

[2018-03-04 17:48] ryanoasis commented on #175
I have some renewed interest in supporting this :smile:

[2018-03-05 17:54] UlisesTJ opened #243 "spanish translation"
hello I would like to collaborate with your project for free by serving as a translator to Spanish

[2018-03-06 02:20] ryanoasis commented on #243
@UlisesTJ That would be great! Would love any additions. Pull Request is very welcomed.

Related for reference: #118

Just a heads up I think we are going to refactor the readme a lot at some point, to make it a lot less verbose. Nothing will be lost however the items that are too verbose will get moved to the wiki :smile:

[2018-03-07 02:52] ryanoasis opened #244 "Add TTF file format versions of FiraCode"
#### 🎯 Subject of the issue

Add TTF file format versions of FiraCode

#### 🔧 Your Setup

N/A

#### ★ Optional

Capturing gitter request

[2018-03-07 17:18] zxaos commented on #56
If your system is affected by this, note that having the fonts that Font Book flags as duplicates (i.e.more than a single Italic variant) active will crash iterm2 if you try to set any font from the family in use.  Disabling all italic variants but one will resolve the issue.

[2018-03-07 20:32] mike3run commented on #56
But then you wouldn't have bold support :(((((((((((
Although yeah I actually did what you say a year ago and it works

[2018-03-07 20:38] zxaos commented on #56
I'm not _happy_ without bold italic support, but I'd rather have the icons at all than it.

... But as this issue is happening on 1.2.0 still, it might need to be reopened? ( @ryanoasis ? )

[2018-03-10 22:55] #244 closed

[2018-03-11 02:40] #170 closed

[2018-03-13 02:04] ryanoasis commented on #157
@sambadevi Ah gotcha. Let's see, I wonder if Font Linux has any plans to add it...

[2018-03-13 02:05] ryanoasis commented on #57
@michaeltlombardi Let us know if you do and how it turns out. I would be willing to use something like this in Nerd Fonts

[2018-03-15 12:38] chenzhihuai1990 opened #245 "Which git command should I use to clone this repos in order to patched my own font?"
This repos is too large. I just want to patched one font file, I am sure I need not the whole repos. But I don't which files or folds are necessary for me to patched my own font?
Can you tell me what files/folds or git command should I use?

[2018-03-15 12:39] #245 closed

[2018-03-15 12:41] chenzhihuai1990 commented on #245
I have found another same issue #73 , so I close it.

[2018-03-15 17:00] michaeltlombardi commented on #57
I'm actually currently using furacode, which already included the ligatures. Will set aside time to run it against knack and report back. :)

[2018-03-16 00:34] evaryont commented on #67
Bringing this up again, I think it might be worth it now.

[2018-03-16 00:49] ryanoasis commented on #70
I am updating Hack to v3.003

@chrissimpkins Don't want to bug you but a couple questions came to mind:

I am wondering do we need to execute the Python scripts in the [fixes folder](https://github.com/source-foundry/Hack/tree/master/postbuild_processing/fixes) post-patching ?

The current post processing script that gets run for Hack is [bin/scripts/Hack/postprocess.sh](https://github.com/ryanoas

[2018-03-16 01:21] chrissimpkins commented on #70
The fix-dsig.py script is not critical and likely unnecessary for the needs here.  It adds an empty DSIG table.  Very edge case issue for some software that I have never come across...

The fstype.py fix is relevant and probably warranted.  This sets the fstype field (https://docs.microsoft.com/en-us/typography/opentype/spec/os2#fstype) to "Installable embedding" defined as follows:

---

Don't be

[2018-03-16 08:00] kierun commented on #67
@ryanoasis I am been massively inefficient here. My apologies.

[2018-03-16 10:55] ryanoasis commented on #67
@evaryont Yeah I think it's only inevitable at this point To be completely honest the main hold back is a very selfish reason, the other reasons after that are all just logistics and planning. I am not there yet :disappointed:

@kierun You shouldn't have anything to apologize for! Glad to have you on board. :smile:

[2018-03-17 16:20] ryanoasis commented on #70
Looks like we have the latest ttfautohint settings since v3.000

Yep that looks to be the case, I seem to no longer have `ttfautohint` installed on my system so not sure what happened there. I'll have to make sure to get the 1.7 version you mentioned and try to rebuild the patched fonts and see what happens.

Working on updating our postprocess script

Thanks! I take any help offered! I will reach

[2018-03-17 16:37] chrissimpkins commented on #70
This script will build a local development copy of ttfautohint off of your system PATH if you want/need current ttfautohint on PATH:

https://github.com/source-foundry/Hack/blob/master/tools/scripts/install/ttfautohint-build.sh

You can find the executable on the path `$HOME/ttfautohint-build/local/bin/ttfautohint`.

[2018-03-17 21:56] ryanoasis commented on #70
Thanks, that helps greatly! I've got ttfautohint setup again and ran through our Sanity check without error.

I have updated the Dev steps with the Hack script option: https://github.com/ryanoasis/nerd-fonts/wiki/Contributor-Developer-Setup#hack-font-specific-development

The way I was doing it before definitely was a lot more painful on Linux :laughing:

---

Seem to be close on this (the Python

[2018-03-17 22:24] chrissimpkins commented on #70
Mind pushing one of the post-patched font files so that I can have a look at it?  FontForge is likely remapping the glyph names when you patch.  Should be a simple solution once we know the glyph names.  Will just need to replace `uniXXXX` in CIF's with the proper post-patched name.

[2018-03-17 22:41] ryanoasis commented on #70
Thanks! That's a brilliant idea. I wondered about that but when I opened the pre and post patched fonts in FontForge I was comparing the glyphs names, etc and I didn't realize what you are saying (FontForge already changed the name once I opened it in FF).

I did a quick test with the `0023` glyph and it seemed to work!

[code]

I am going to upload a patched version (without the hinting fixes) ju

[2018-03-17 22:45] ryanoasis commented on #70
Here is a patched version of Hack after running through the patcher (normal settings, with the Python script post process fixes but WITHOUT the autohint fixes):

[Hack Regular Nerd Font Complete.ttf.zip](https://github.com/ryanoasis/nerd-fonts/files/1822166/Hack.Regular.Nerd.Font.Complete.ttf.zip)

[2018-03-17 22:46] chrissimpkins commented on #70
yep! switch all of those names to whatever FF is using and you should be gtg!

[2018-03-17 22:48] chrissimpkins commented on #70
can you give me a list of all glyphs that are raising exceptions? is it all of them on the CIF's?

[2018-03-17 22:50] ryanoasis commented on #70
@chrissimpkins Thanks a lot for the help! Really appreciate it :smiley: I probably would've wasted at least several hours.

Going to take a nice break. Will be pushing fixes to the postprocess Nerd Fonts uses. Very happy it's not some serious issue that would cause me to start looking at something different from FontForge for building at the moment!

I believe it was all of them. When I first saw

[2018-03-17 22:55] chrissimpkins commented on #70
Will have a look tonight.  Will let you know if I have any other thoughts.  I think swapping those names should do the trick.

[2018-03-17 23:07] ryanoasis commented on #70
Thanks again, no worries. No rush :smile:

Got Regular working, this is what I had to change it to (only zero it put as uni0030 - go figure):

[code]

[2018-03-18 02:15] ryanoasis commented on #245
@chenzhihuai1990 Hey sorry for the confusion on patching your own fonts. The instructions seem to be lacking in that area. I am going to update that at least.

Ideally we would/should convert to an organization and have fonts in one repo and the tools in a separate repo.

You will need font-patcher and the src folder.

[2018-03-18 03:36] chrissimpkins commented on #70
For italic CIF:

- uni0025 --> percent

For bold CIF:

- uni0025 --> percent
- uni002B --> plus
- uni0038 (do not change)

For bold italic CIF:

- uni002B --> plus

Hopefully, that will take care of it!

[2018-03-18 22:17] ryanoasis commented on #70
@chrissimpkins Thanks again again. I think we are good. Confirmed those CIF changes (already pushed).

[2018-03-18 23:33] chrissimpkins commented on #70
Fantastic!!

[2018-03-19 00:43] #154 closed

[2018-03-19 00:43] #157 closed

[2018-03-19 00:43] #172 closed

[2018-03-19 00:43] #177 closed

[2018-03-19 00:43] #186 closed

[2018-03-19 00:43] #213 closed

[2018-03-19 00:43] #217 closed

[2018-03-19 00:43] #226 closed

[2018-03-19 00:43] #228 closed

[2018-03-19 00:43] #229 closed

[2018-03-19 00:43] #231 closed

[2018-03-19 00:43] #236 closed

[2018-03-19 00:43] #237 closed

[2018-03-19 00:43] #240 closed

[2018-03-19 00:50] chrissnell commented on #226
Yes!!!!!!!!!!!!  Thank you!

[2018-03-19 13:52] chrissimpkins commented on #70
BTW, here are a handful of other tools for font management that we've developed in case they happen to be useful for maintainer duties here:

- [font-v](https://github.com/source-foundry/font-v) : font version string mods (writes to binaries)
- [font-name.py](https://github.com/chrissimpkins/fontname.py) : font family name changes (writes to binaries)
- [font-line]hub.com/source-foundry/font-line)

[2018-03-19 14:38] aquatix opened #246 "Hack font having 0-byte files in v2.0.0"
#### 🎯 0-byte files for Bold and Bold Italic in Hack font

Both in the zip and in the Git repository itself, some of the Hack fonts are 0 bytes. Something went wrong there :)

[code]

#### 🔧 Your Setup

- Using Hack/Knack
- gnome-terminal and tilix
- Ubuntu Gnome

[2018-03-19 20:19] towo commented on #127
I have the funny situation of having both small and good-sized glyphs... on different machines.
The zsh config is shared via git (not public yet due to ... history issues), so the configuration is the same, but one machine has okay-sized icons, the other has the small glyphs; both are using `SauceCodePro Nerd Font Mono Regular 9`.

Font selection on the machine with *small* glyphs:
[code]

On the

[2018-03-19 23:04] ryanoasis commented on #246
Thanks! Good catch. I was working on Hack fixes late and should've made sure it was clean. Knack should now be Hack.

I will actually be rebuilding ALL the fonts due to a partial conflict between Weather and Octicons.

I have removed all archives from 2.0.0 for now

[2018-03-20 01:35] ryanoasis opened #247 "Weather and Octicons conflict in v2.0.0"
#### 🎯 Weather and Octicons conflict in v2.0.0

#### 🔧 Your Setup

N/A

#### ★ Optional

There is some overlap, need to move range for Weather

[2018-03-20 01:54] ryanoasis commented on #70
Thanks @chrissimpkins those look like they could be very helpful!

We'll probably have to consider some of those or at least items like them :smile:

[2018-03-21 10:36] ryanoasis commented on #127
Thanks @shibumi sorry for the very late reply. I'll try to take a look at Inconsolata

[2018-03-21 12:20] avoidik opened #248 "Meslo fonts ligature is broken"
MesloLGM NF for Windows is broken because of ligature issue

Cross-linking related issues
https://github.com/mintty/mintty/issues/754
https://github.com/ryanoasis/nerd-fonts/issues/186

[2018-03-21 17:16] ryanoasis commented on #248
Thanks. I need to look into it more. I'm assuming this is the non mono version? Does it happen with the unpatched version?

[2018-03-22 07:07] avoidik commented on #248
Don't know is it patched or not. It is Meslo font-package taken from nerdfonts.com (Meslo.zip), only Windows-compatible fonts.

Target platform is Windows 7 and Windows 10

[2018-03-26 11:27] chino23 opened #250 "Missing icon: Gentoo"
Unicode f30d as shown on the cheat-sheet, the gentoo logo isn't outputted.

Instead, Ubuntu icon is outputted.

Occurs on Dejavu Sans Mono as well as MesloLGM.

[2018-03-26 11:36] kajzersoze commented on #250
MesloLGM prints gentoo icon fine here.
Didn't try Dejavu Sans Mono.

[2018-03-26 12:59] chino23 commented on #250
that's most weird. why would it print sth else for me?

[2018-03-26 13:10] kajzersoze commented on #250
Have no clue, I'm using latest v2.0.0 but it was printing gentoo icon with previous versions as well. How are you printing that icon ?
`echo "\uf30d"`
works in my case.

[2018-03-26 16:06] chino23 commented on #250
I use the same command. check this out
![gentoo](https://user-images.githubusercontent.com/7042593/37918110-6ae845cc-3120-11e8-995e-4b9db6997a9b.png)

[2018-03-26 16:30] kajzersoze commented on #250
Yeah well, interesting, unfortunately I can't help you with that problem, try to reinstall the fonts maybe, dunno...
Anyway, I just tried DejaVuSansMono Nerd Font and that one works too.

![20180326-182352](https://user-images.githubusercontent.com/11412353/37919150-67e0dbb6-3123-11e8-86dd-b7db74e4aee8.png)

[2018-03-26 17:15] chino23 commented on #250
ok thanks, i'll try reinstalling everything

[2018-03-29 01:15] ryanoasis commented on #248
Thanks for the update. Can you try the mono version?

I think the problem might be the source font itself but I'd need to test/replicate

[2018-03-29 12:21] #247 closed

[2018-03-30 23:48] 1ak31sha opened #252 "404 on screenshots page"
#### 🗹 Requirements

- [ ] A brief but descriptive _title_ of your issue
- [ ] I have searched the [issues](https://github.com/ryanoasis/nerd-fonts/issues) for my issue and found nothing related and/or helpful
- [ ] I have read or scanned the [FAQ](https://github.com/ryanoasis/nerd-fonts/wiki/FAQ-and-Troubleshooting)
- [ ] I have read or scanned the [Wiki](https://github.com/ryanoasis/nerd-fonts/w

[2018-04-01 11:53] timoxley opened #254 "fl/fi Ligatures always appearing in patched Monaco font"
I've even tried editing the patch script to remove *all* lookup tables, yet the damn ligatures continue to persist.

i.e.

[code]

Any ideas on what's going on? I'm guessing there's some default ligature setting being inherited? Is there a way to turn that off in the generated font?

Turning off `set macligatures` in vim is my temporary workaround.

[2018-04-01 12:41] ryanoasis commented on #252
@1ak31sha Thanks for the report! Good catch :+1:

Created it here: https://github.com/ryanoasis/nerd-fonts/wiki/Screenshots

[2018-04-01 12:41] #252 closed

[2018-04-01 12:55] ryanoasis commented on #254
@timoxley Hey sorry not that I know of.

The ligatures are present in the source font pre-patching right?

What is the name of the tables that get removed in the iteration?

By the way the font-patcher is setup with the ability to remove subtables (but not tables) via `--removeligatures` in conjunction with `--configfile [json like config file]`

config example: https://github.com/ryanoasis/nerd-f

[2018-04-01 20:30] #246 closed

[2018-04-02 08:34] LuRsT commented on #128
@Hebgbs Have you tried with the new updated fonts so we can close this?

[2018-04-02 08:36] LuRsT commented on #239
I guess we can close this one @ryanoasis

[2018-04-02 08:44] LuRsT commented on #168
Hi @karambaq, @RuRo meant to copy the symbol itself. I would double check that the terminal is picking up the right font, it's a paint to configure urxvt to get the right font since it's just a string in a file. Is this still an issue?

[2018-04-02 08:47] LuRsT commented on #67
Hey @ryanoasis what can I do to help out with splitting this repo into just the patcher and something that builds all the fonts?

[2018-04-02 08:48] LuRsT commented on #175
We could add that bit that @RuRo mentioned to the docs or make this a future feature, since you have renewed interest in supporting this, is it going to be in the roadmap @ryanoasis ?

[2018-04-02 08:52] LuRsT commented on #156
@RiccardoMPesce did you manage to solve this? How?

@fpaterno Could you please open a seperate issue if you have the same problem detailing your terminal config please?

[2018-04-02 18:07] ccztux opened #255 "Typo at all Source Code* fonts"
All Source Code Pro* files have a typo in release v2.0.0. They are now called: S**au**ce Code Pro*

[2018-04-03 01:40] ryanoasis commented on #255
@ccztux Thanks I appreciate that you noticed this _however_ it is not a typo but is done on purpose :wink: .

Several of the fonts that are licensed under SIL OFL have a Reserved Font Name that we cannot use without breaching the license, these are to prevent that: https://github.com/ryanoasis/nerd-fonts/blob/2.0.0/font-patcher#L238-L252

see also: https://github.com/ryanoasis/nerd-fonts/wiki/FAQ-

[2018-04-03 01:40] #255 closed

[2018-04-03 02:10] ryanoasis commented on #254
@timoxley Thanks for the details :+1: , that is strange. I would like to take a look but I cannot tell you when that'll be :sweat:

[2018-04-03 02:13] ryanoasis commented on #175
Oh I did say that didn't I? :laughing:

I think we can try to target v2.1.0 (i.e. next release) unless I am missing it looked somewhat straight forward to implement.

[2018-04-03 09:45] timoxley commented on #254
@ryanoasis

No action required on your part, was hoping it would be something you knew off the top of your head.

Oh, also note that when I first patched the font using --complete, the `fi` and `fl` ligatures were remapped – one became an icon for a telephone. This was an entertaining surprise when I discovered it in my editor.

## Source Font Monaco

![image](https://user-images.githubusercontent

[2018-04-03 12:03] odGit commented on #223
How about distributing with https://chocolatey.org/ ? It is similar to brew on OS X

[2018-04-04 00:58] ryanoasis commented on #56
Maybe we can make some traction on this again this month. I won't be able to test any potential fixes but I could upload zips if others (who are on macos) can test them out?

[2018-04-04 02:12] ryanoasis commented on #121
@waseem18 still have interest in taking this up or can I open it back up?

Thanks :smile:

[2018-04-04 07:44] waseem18 commented on #121
Hi @ryanoasis ,

Sorry I couldn't get to work on this. I'm immersed in my work commitments so I'm afraid I might not be able to take this up anytime soon.

[2018-04-04 09:14] ryanoasis commented on #121
@waseem18 Thanks for responding. I completely understand :smile: . I only asked now because I might soon take this on myself or open it back up.

That said we would love to have any contribution no matter how big or small from you in the future if you find yourself with any extra time. :smiley:

[2018-04-10 21:54] ryanoasis commented on #223
Chocolatey looks like a good bet

[2018-04-12 11:51] devster31 opened #256 "Menlo font patching issue with regular variant"
#### 🗹 Requirements

- [x] A brief but descriptive _title_ of your issue
- [x] I have searched the [issues](https://github.com/ryanoasis/nerd-fonts/issues) for my issue and found nothing related and/or helpful
- [x] I have read or scanned the [FAQ](https://github.com/ryanoasis/nerd-fonts/wiki/FAQ-and-Troubleshooting)
- [x] I have read or scanned the [Wiki](https://github.com/ryanoasis/nerd-fonts/w

[2018-04-13 21:06] alexbarton opened #257 "BlexMono: All italic variants shown as duplicates (on macOS, at least)"
#### 🎯 Subject of the issue

macOS states that all italic variants of BlexMono (merged in #253 – tanks a lot!) are duplicates, and regardless of which one you select in the font selector you chose, the "text" variant is shown (besides the bold variant, which you can use, too).

This is not the case with the original IBM Plex font, so I think this is a problem with the patching?

#### 🔧 Your Setup

[2018-04-14 23:34] hanoii opened #258 "Crash of iterm with the source code pro, both normal and mono"
I can't seem to make this work, every time I change the iterm settings to use this font iTerm simply starts loading forever. I have to force quit it, and on load it happens again.

The only way to restore it to normal is deleting the settings:

`defaults delete com.googlecode.iterm2`

#### 🔧 Your Setup

OSX 10.13.4
iTerm2 3.1.5
`brew cask install brew cask install font-sourcecodepro-nerd-font`
and

[2018-04-15 21:25] D4v2z commented on #26
Hi, I have the same problem with nerd-font (hack font regular Hack Regular Nerd Font Complete or Sauce Code Pro Nerd Font Complete). Tilix or Gnome-terminal.

![captura de pantalla de 2018-04-15 23-15-35](https://user-images.githubusercontent.com/26611092/38783578-27aa51a8-4104-11e8-91b2-b269510d41c9.png)

[2018-04-17 02:30] ryanoasis commented on #256
@devster31 Thanks for the report! So strange. Saw your message on gitter.

[2018-04-17 02:30] ryanoasis commented on #258
Thanks for the report. Does sourcecodepro (unpatched) work just fine for you? I assume so..

[2018-04-24 14:43] dkpsk opened #261 "MPlus: need to remove ``ligalookup01`` subtable to patch Material Design Icon"
# Problem
Some of the original M+ fonts (1p, 2p, 1c, 2c) have GSUB_Lookup named ``ligalookup01``, which ligature``ff``, `fi`, ``fl``, `ffi` and ``ffl`` into ``\ufb00``, ``\ufb01``, ``\ufb02``, ``\ufb03`` and ``\ufb04`` accordingly.
([M+ 1m, 2m and 1mn do not have ``ligalookup01``](https://gist.github.com/dkpsk/d97a13e14e8de475a1f50551ea0338fe#file-orignalmplus).)

Since NerdFont 2.0, ``Material De

[2018-04-25 01:24] matjam opened #262 "Unable to use powerline features on Ubuntu 17.10"
#### 🎯 Subject of the issue

Installed nerd fonts via install.sh script, on ubuntu 17.10 but are unable to use any of the powerline glyphs.

#### 🔧 Your Setup

- _Which font are you using?_ Hack, have tried others.
- _Which terminal emulator are you using?_ gnome-terminal
- _Are you using OS X, Linux or Windows? And which specific version or distribution?_ Linux, Ubuntu 17.10

#### ★ Optional

![s

[2018-04-25 02:35] ryanoasis commented on #7
@Vaelatern As far as I understand it doesn't as all the code used to patch the fonts is licensed under MIT and each fonts license is provided per each font's relevant folder.

Most of the fonts are licensed under the SIL Open Font License which allows the fonts to be used, modified, and distributed. The main compliance issue we had before was the reserved font name and original license not being i

[2018-04-25 06:28] Vaelatern commented on #7
There is an attempt to package these for [Void Linux](https://voidlinux.eu), and we would like to make sure we don't make a mistake with the license and its terms (such as making sure the relevnt licenses get in to the final product).

[2018-04-25 18:46] matjam commented on #262
yeah I think I just need to use the right theme in oh-my-bash ... sorry .. :-)

[2018-04-25 18:46] #262 closed

[2018-04-26 04:06] IsOverThere opened #263 "Sauce Code Pro is not able to be found by SecureCRT, gvim on Windows7/10"
#### 🎯 Subject of the issue
Sauce Code Pro V2.0 is not able to be found by SecureCRT, gvim on Windows7/10.
In SecureCRT: Options->Session Options->Appearance->Fonts, in the font list SauceCodePro NF is not able to be found.
In Gvim: set guifont=SauceCodePro_NF:h11, it presents E596 Invalid font(s):  guifont=SauceCodePro_NF:h11
While
1. In the MS word/outlook, SauceCodePro NF can be found;
2. Incon

[2018-04-27 23:31] ryanoasis commented on #263
@IsOverThere Thanks for the report :+1: I don't know when I will look into it though.

[2018-05-01 16:25] pablo-tapia commented on #159
@sharkusk thanks for the tip, I was struggling to make the NerdFonts work with the Ubuntu Bash for Windows and this solved the issue.

[2018-05-02 09:28] pitkling commented on #258
Same problem here. Note that the font does work in other environments (e.g., Vimr).

[2018-05-02 21:56] omares commented on #258
I know this is not helping but i came here to report the same issue, as soon as i select the source code pro font my iterm hangs forever.

To unstuck iterm open up the normal mac terminal and remove the font. In case you obtained the font via brew: `brew cask uninstall font-sourcecodepro-nerd-font` will do the job.

[2018-05-04 02:04] ryanoasis commented on #258
@snachx @pitkling Thanks for chiming in, I actually appreciate it.

@omares Thanks to you as well for the report and the tip. No worries there is certainly a problem.

Appreciate the patience overall :smile:

[2018-05-04 11:42] iilonmasc opened #264 "RobotoMono glyphs are too wide"
This might relate to #15

When using RobotoMono with blink.sh the glyphs appear to be wrong in size.

I first reported this to the blink team, however it seems to be a font issue (see blinksh/blink#498)

[2018-05-05 13:31] yury commented on #264
Just a note:

It is not [recommended](https://github.com/ryanoasis/nerd-fonts#important-notices) to use fonts from master, but I have checked 2.0.0 - same thing.

[2018-05-05 13:46] esn89 commented on #43
@shayne @ryanoasis

I've ran the script with:

./font-patcher --fontawesome --careful ../PragmataPro\ Mono\ Regular.ttf

My ligatures are still lost, any ideas why?

[2018-05-08 13:08] Thammachart opened #265 "Overpass Mono Duplication issue between Bold and SemiBold variants"
#### 🎯 Subject of the issue

macOS's Font Book states that there is duplication in the Overpass Mono Nerd Font between `Bold` and `SemiBold` variants.

This issue exist on **both** Monospaced and Non-Monospaced glyphs versions.

Out of my observation, these two variants share the same PostScript Name on each version
- `OverpassMonoNerdFontComplete-Bold` on Non-Monospaced version
- `OverpassMonoNer

[2018-05-09 10:18] codinguncut opened #266 "recommendation: change nerd-font license to SIL OFL 1.1"
#### 🎯 Subject of the issue

Currently it appears as if nerd-fonts is licensed under MIT license. This is very likely incompatible with many of the aggregated fonts. Solution: Carefully go through aggregated fonts and in all likelihood relicense nerd-fonts as "SIL OFL 1.1"

#### Details

Can you please make sure to honor the licenses of the aggregated fonts to make this usable in a license-conform

[2018-05-09 11:20] esn89 opened #267 "Hand-pick glyphs to include in font-patcher with --careful"
#### 🎯 Subject of the issue

I want to use fontawesome, along with the ligatures in my font (Pragmata Pro) and to ensure that none of my ligatures get overwritten, I used the --careful flag.

Once that's done, I noticed that in my nerd-tree, I am missing some devicons such as Python and Golang

https://i.imgur.com/glQw5VW.png

#### 🔧 Your Setup

- PragmataPro Nerd Font.ttf
- iterm2
- OSX

#### ★ O

[2018-05-09 16:42] sergei-dyshel opened #268 ""Mono" fonts are not working in Kitty terminal"
AFAIU "Mono" versions are explicitly made to fit programs which require monospaced font. I'm trying to recent release (v2.0.0) with [Kitty terminal emulator](https://github.com/kovidgoyal/kitty) but Kitty doesn't pick them because it does not see them as monospaced.

After opening a issue https://github.com/kovidgoyal/kitty/issues/527 in Kitty's repo the author told me that monospaced fonts are ex

[2018-05-10 20:57] ahmedelgabri commented on #257
Same issue with Iosevka

<img width="1465" alt="screen shot 2018-05-10 at 22 56 25" src="https://user-images.githubusercontent.com/63876/39893861-665789f2-54a5-11e8-8963-b64fa7a7b4d1.png">
<img width="1465" alt="screen shot 2018-05-10 at 22 56 27" src="https://user-images.githubusercontent.com/63876/39893862-667736d0-54a5-11e8-90c5-9043a4078eb5.png">

[2018-05-11 01:33] ryanoasis commented on #268
@sergei-dyshel I think I stumbled upon your issue in kitty actually. Thanks for opening an issue!

I cannot give any ETA, but this project will keep moving forward little by little!

[2018-05-11 01:37] ryanoasis commented on #265
Thanks (especially for the details) :+1:

Disclaimer: I cannot give any ETA, but this project will keep moving forward little by little! :smile:

[2018-05-11 01:43] ryanoasis commented on #266
@codinguncut Replied to your Gitter messages. Thanks for creating this issue.

I think this is a very important and we need to make sure we comply! :+1:

[2018-05-11 01:44] ryanoasis commented on #267
@esn89 Thanks for the report! :smile:

Not at the moment but that'd be a nice to have feature!!

[2018-05-11 04:03] cosmicc commented on #268
Trying this new font for my powerline setup, and just ran across this too.  2.0 mono fonts not seen by kitty.

I got excited for a minute when i read the 1.2 fonts still work, but the font I use is Noto and its not on 1.2 :(

I guess I wait..

[2018-05-18 19:57] brennanfee opened #269 "2.0 Fonts Can't Be Used in Windows cmd.exe/powershell.exe/wsl shells"
#### 🎯 Subject of the issue

It seems that something in the fonts changed to prevent the cmd.exe (windows console) from recognizing the fonts.  I'm aware that there are a few font flags that are required for cmd.exe to recognize the fonts (such as OEM_CHARSET for opentype and FF_MODERN for truetype).

This works with previous versions of the fonts (as recently as 1.2).  I even tried the old-school

[2018-05-19 07:53] foisonocean commented on #57
+1

[2018-05-22 20:01] razvancioarga commented on #269
Same here:
 - have tried DejaVu Sans Mono Nerd Font Complete Windows Compatible.ttf
 - stardard cmd.exe, debian wsl, wsl-terminal
 - Windows 10, 1803

Tried the old regedit stuff, does not work at all.

Could this be because of the latest Windows update?

[2018-05-22 22:34] Thraka commented on #269
From what I've read online, windows won't list fonts that have a variable font width in them of some kind. I have a feeling that even though these are marked as mono spaced, there is something in there variable or not conforming to whatever base size is used, and windows is automatically excluding them.

[2018-05-22 22:39] Thraka commented on #156
I'm getting this same issue on pretty much all the fonts used in windows. Its really gross looking :(

[2018-05-23 13:16] notrev opened #270 "Fonts from 2.0 release are not being correctly identified as Monospace"
#### 🎯 Subject of the issue

**Initial issue description (from 23/May/2018)**
I use Meslo LG M for Powerline and want to use the Nerd Fonts patched version. I tried all Meslo LG M in the repository, but none of them appeared in the gnome-terminal's fonts list. they were listed in the system, thought (in the fonts application).

I also downloaded the original ones, without any patches, and they got

[2018-05-24 06:23] snoblenet opened #271 "No 'Complete Mono.ttf' version of 'SourceCodePro/Italic/' is available"
Please see: https://github.com/ryanoasis/nerd-fonts/tree/master/patched-fonts/SourceCodePro/Italic

Compare to https://github.com/ryanoasis/nerd-fonts/tree/master/patched-fonts/SourceCodePro/Bold/complete for example.

Many thanks.

[2018-05-24 07:00] gargoyle commented on #270
I have the same with the three I have tried so far:- Hack, Anonymous Pro and Bitstream Vera.

I've installed "Font Manager" which has a bit more functionality than the standard Gnome "Fonts" app, and it it showing all three of these as having proportional spacing - which is why Gnome Terminal will not list them.

I downloaded the files from the release archive (https://github.com/ryanoasis/nerd-fo

[2018-05-24 17:19] Thraka commented on #268
Seems multiple issues are being raised for really the same problem #269

[2018-05-27 00:05] joke2k commented on #270
I tried with Fura, and I found the same issue.
The gnome terminal ignore fonts with "proportional spacing".
the font became proportional after the patch?

[2018-05-27 02:08] matjam commented on #270
So, try this

sudo rm /etc/fonts/conf.d/70-no-bitmaps.conf

I know its not a bitmap font but I have had more luck since I did that.

[2018-05-28 13:21] boolim opened #272 "Gap in separator when defining custom icon in powerlevel9k"
🎯 Subject of the issue
I am running ubuntu 18.04, and using Tilix. I have installed powerline patched fonts from their github. Tilix is configured to use powerlevel 9k with mode="nerdfont-complete" and i have defined a custom logo section to be show in prompt element. The font i am using is Hack NerdFont Regular, however the custom logo element's separator is showing a gap.
I tried using the power

[2018-05-29 10:40] joke2k commented on #270
Could be works, but I don't like this solution.
This package says:

And it would be awesome to have them works without this fix

[2018-05-29 10:44] benbuch commented on #127
Its the same issue on SauceCode Pro Nerd Font Mono
![2018-05-29-134338_1920x1080_scrot](https://user-images.githubusercontent.com/6019639/40654249-675a91aa-6346-11e8-8e3b-a426aa748878.png)

[2018-05-29 11:41] benbuch commented on #127
This is also a issue with SauceCodePro Nerd Font Mono. i have tried both the nerd font complete from aur and also download from nerdfont's website.
![2018-05-29-143958_1920x1080_scrot](https://user-images.githubusercontent.com/6019639/40656806-402e5e4c-634e-11e8-8ab5-9bc06c28d6cc.png)

[2018-05-29 18:31] brennanfee opened #273 "2.0 Hasklug fonts have mixed font names"
#### 🎯 Subject of the issue

Some of the Hasklug fonts are still using "Hasklig" while others are correctly using "Hasklug".

#### 🔧 Your Setup

- _Which font are you using (e.g. `Anonymice Powerline Nerd Font Complete.ttf`)?_

Specifically the Hasklug family, 2.0 versions.  Not sure about previous versions.

[2018-05-30 12:57] notrev commented on #270
@matjam, I tried your solution, but it did not work or me. It listed a lot of new fonts, but not `Meslo LG M`, which is the one I want

[2018-05-30 12:59] gargoyle commented on #270
Workaround = Goto Releases, Click Tags, Select 1.2, Download.

[2018-05-30 16:31] joke2k commented on #270
@gargoyle it seems to work, with Fira font at least.
Is there a bug with 2.0?

[2018-05-30 18:41] gargoyle commented on #270
Yes. Something has gone wrong with the build process for 2.0 and none of the fonts (None of the 6-8 that I have tried, anyway) have the correct "spacing" parameter, so they are not being recognised as monospaced fonts when they are installed.

The 1.2 ones all seem fine.

[2018-05-31 09:28] notrev commented on #270
The workaround proposed by @gargoyle works, but the glyphs are small. I read that this is known and there is not much to be done because of the _mono_ font type.

My way of solving this was to change from gnome-terminal to ROXterm, as it is very much like gnome-terminal and accepts the non-_mono_ version of the Meslo font.

Should I close this issue, or should I leave it open, as the issue still p

[2018-05-31 09:37] gargoyle commented on #270
My gut feeling is that it would be @ryanoasis decision to close or not.

However, you might want to re-name the title since it's not only an issue with gnome-terminal. The 2.0 versions will not show anywhere when you are searching for Monospaced fonts.

Title suggestion: "Fonts from 2.0 release are not being correctly identified as Monospace"

[2018-06-01 22:51] ryanoasis commented on #270
Hey thanks everyone this is definitely a big issue that I have been following along with quietly. I won't be able to contribute too much to this project for the next several months but if I get some time and there are quick wins or PRs I will do my best :smile:

[2018-06-01 22:52] ryanoasis commented on #271
Thanks for the report! It's appreciated!

Not sure what happened there

[2018-06-01 22:53] ryanoasis commented on #272
@boolim Thanks for the details. I will follow up when I get a chance but that'll be a while to be honest

[2018-06-01 22:54] ryanoasis commented on #273
Thanks again @brennanfee . It'll be a while before I can make any meaningful contributions to be honest but when I get time I'll try to push this project forward bit by bit.

[2018-06-02 02:18] ryanoasis commented on #7
@Vaelatern Ah okay. Well we have to confirm licenses again. Relevant issue #266

[2018-06-02 08:04] anselal commented on #141
The icons do not show up correctly on MobaXterm either, which is basically based on putty..

[2018-06-02 08:12] anselal commented on #239
I have the same issue on windows with MobaXterm which is based on putty. Most fonts are not shown up ion the available list inside MobaXerm or putty.

[2018-06-02 10:32] thyeun opened #274 "possible to make download resume?"
OS : Arch linux

been trying to completed the download for 2..0GB file size for 9 hours, but it keep on close-up the download connect around 1.5 -1.7GB, with the message below

```curl: (18) transfer closed with 1529402169 bytes remaining to read ```

possible to make it resumeable? so that once the transfer closed up, it will be resume again

[2018-06-04 10:47] xasx commented on #270
They do not appear in the selection box, however, with any gconf editor one can set the font of the respective profile manually.

I used dconf-editor and modified the value in the respective profile found beneath `org/gnome/terminal/legacy/profiles:`

[2018-06-04 11:31] gargoyle commented on #270
I'm not sure I would recommend that, @xasx. The developers of gnome-terminal have deliberately put measures in place to make sure only monospaced fonts are used.

If you use a gconf editor to "get round" that limitation, then you are opening yourself up to possible problems/issues which the developers have tried to avoid or would not expect to happen.

[2018-06-04 16:13] brennanfee commented on #273
@ryanoasis As always your excellent project is much appreciated.  If I can get some time myself I may attempt a PR.  Best wishes.

[2018-06-04 16:40] xasx commented on #270
@gargoyle I'd not generally recommend this. However, it is a way I found to make something work that should be actually working - that said, keep in mind that the bug is actually on NerdFonts side making it impossible for gnome-terminal to correctly detect it as being monospaced (or usable, whatever counts).

[2018-06-04 18:53] maximbaz opened #275 "Include space in source / icons-only font"
#### 🗹 Requirements

- [x] A brief but descriptive _title_ of your issue
- [x] I have searched the [issues](https://github.com/ryanoasis/nerd-fonts/issues) for my issue and found nothing related and/or helpful
- [x] I have read or scanned the [FAQ](https://github.com/ryanoasis/nerd-fonts/wiki/FAQ-and-Troubleshooting)
- [x] I have read or scanned the [Wiki](https://github.com/ryanoasis/nerd-fonts/w

[2018-06-04 19:02] maximbaz commented on #268
Since `kitty` supports configuring icon fonts for code point ranges, an alternative and more superior approach would be to have an icon-only version of Nerd Fonts and plug it into kitty. #275 is a feature request I made for Nerd Fonts to publish such font.

This would allow to use original coding fonts and not patch anything, simplify migration to a different font once you are bored of your old on

[2018-06-04 21:19] vheon commented on #258
I've encountered this as well. Is there any way I can provide more data?

[2018-06-05 22:01] alexbarton commented on #257
Could this be related to IBM/plex#161?

[2018-06-09 15:00] yoyoys commented on #127
same problem on DejaVu Sans Mono but only in Ubuntu (18)
terminal: hyper 2.0
screenshot on ubuntu:
![image](https://user-images.githubusercontent.com/22124891/41192961-e8f79f64-6c38-11e8-8402-f11815d731fd.png)

my mac works fine:
![image](https://user-images.githubusercontent.com/22124891/41192959-d09ad6b6-6c38-11e8-8f30-b700b03133f6.png)

[2018-06-10 01:32] ryanoasis commented on #274
@thyeun Hey really sorry to hear that. I know this repo is really large.

What is your method for downloading? You might be better off with an [un-official AUR package](https://github.com/ryanoasis/nerd-fonts#option-7-unofficial-arch-user-repository-aur) or [ad hoc Curl](https://github.com/ryanoasis/nerd-fonts#option-6-ad-hoc-curl-download) only download the fonts you want

I think this is beyond

[2018-06-10 01:38] ryanoasis commented on #275
@maximbaz Appreciate your layout and description here.

Unless I am misunderstanding the [Nerd Font symbol font in the src](https://github.com/ryanoasis/nerd-fonts/blob/master/src/glyphs/Symbols-2048-em%20Nerd%20Font%20Complete.ttf) is what you are looking for?

If so then that is cool but perhaps we aren't making it obvious :worried: , if not then I misunderstood :blush:

Thanks

Right yep so man

[2018-06-10 07:01] thyeun commented on #274
@ryanoasis, i'm using ``` wget -c ``` but still cant resume, how about using zstd for compression method?

as you know linux system not much of choice of downloading apps, mostly the best is ``` curl ``` or ``` wget ``` . since both given me the above message, i'm almost given up of using nerd font.

Anyway thanks for your feedback, and i know it is not related with nerd font, just a bit sad after

[2018-06-10 10:52] maximbaz commented on #275
Yes, that's what I was looking for, thanks @ryanoasis! I have two requests to make the experience nicer:

1. Can you start including this font in the Github releases? This would simplify packaging by a lot, e.g. I would like to create an AUR package for Arch Linux.

2. Can we add space character in this font, the symbol `u0020`? I noticed that Font Awesome has it, and if I try to use the current N

[2018-06-10 11:01] maximbaz commented on #221
Given that FA 5 has new design for many icons, maybe it's not that bad idea to have both FA5 and ForkAwesome (based on FA 4) in the released fonts — there will be two icons for everything, but they will have different design after all. I've heard people who like the old design more.

Still, I'd like to see FA 5 be the "default" font, and let its icons stay in the codepoints currently allocated for

[2018-06-10 13:11] Scrumplex opened #277 "Mono fonts not selectable in KDE and Konsole"
#### 🎯 Subject of the issue
I can't select any Mono Nerd Font in Konsole's font settings.

#### 🔧 Your Setup

- _Which font are you using (e.g. `Anonymice Powerline Nerd Font Complete.ttf`)?_
 Source Code Pro Nerd Font Mono
- _Which terminal emulator are you using (e.g. `iterm2`, `urxvt`, `gnome`, `konsole`)?_
 Konsole 18.04.2
- _Are you using OS X, Linux or Windows? And which specific version or

[2018-06-10 18:46] jerr0328 commented on #258
Hey folks, I had the same issue. I noticed in Font Book that the font had multiple versions. I clicked the "resolve automatically" button and then was able to switch to the font in iTerm2.

[2018-06-20 15:30] westernmagic commented on #270
Reverting 31d7524 and recompiling fonts seems to solve the issue (with Fura Code and Qterminal).

[2018-06-20 15:31] westernmagic commented on #277
Duplicate of #269, #270?

[2018-06-20 15:35] Scrumplex commented on #277
#270 may be a possible duplicate. I don't think #269 is, as it is a completely different OS.

[2018-06-21 19:45] philFernandez commented on #270
I downloaded Terminator, which I believe is a fork of Gnome Terminal, and nerd fonts show up and work perfectly there. The functionality and settings options of Terminator and Gnome Terminal are very similar.

[2018-06-23 21:46] Hnaguski opened #279 "Material Design Icons missing some icons"
#### 🎯 Subject of the issue

It appears that some of the icons from the Material Design Icons set are missing, the ones I've found to be missing are:
* `battery-charging-outline`
* `battery-charging-10`
* `battery-charging-50`
The icons are not listed in the cheat sheet on [the nerd-fonts website](http://nerdfonts.com/#cheat-sheet) but they are on [the MDI website](https://materialdesignicons.com/

[2018-06-24 10:55] GohioAC commented on #272
I am having similar issues with Inconsolata NF Medium in tmux statusline.
![tmux status with gap](https://user-images.githubusercontent.com/35570967/41818370-19ff63b0-77cb-11e8-9f6d-5614162c27e9.png)

[2018-06-24 18:47] thamma commented on #274
I find myself with a similar problem. I want to patch some fonts myself and thus would like to clone the repository. However the master branch is huge. Is it possible to move the dev tools to a spearate branch (since it's too late to move the fonts themselves) so we can only clone what we need?

I don't think anyone appreciates downloading all the fonts when they just need the font-patcher.

[2018-06-24 18:53] thyeun commented on #274
@thamma, are you using arch linux? for arch users, the maintainer guy already make the installation into 400mb, so it is more comfortable to finish the download with 400mb.

Hope it is helping you with above info. and thanks to arch maintainer guy for this installation, he really make it as small as possible for benefit to everyone that need it.

[2018-06-24 19:20] thamma commented on #274
Conveniently, I am! Thanks for the heads up!

However I think this feature (a script-only branch) should be considered.

[2018-06-25 07:37] gbiggs opened #280 "install.sh incorrectly adding space before separator when imploding font names to install"
#### 🎯 Subject of the issue

When choosing a subset of fonts to install, the `install.sh` script concatenates all the font directories together separated by `" "` (a double quote, a space, and another double quote). However, because of the way it does the concatenating, installing three or more fonts causes all font directories except the first and last to have a space at the end of the string bef

[2018-06-30 16:04] aswinmohanme opened #281 "Add Iosevka Term Slab"
It would be nice if you guys could support Iosevka Term Slab Officially, this would complete the Iosevka Family.

[2018-07-06 21:38] nickbudi commented on #248
Both the mono and non mono versions are broken for me.

[2018-07-07 15:17] phcerdan commented on #270
Hitting this from aur package in ArchLinux, which uses latest release. Gnome terminal does not recognize most of the fonts as monospace, so they are not showing up.

[2018-07-14 12:08] haasosaurus commented on #270
i fixed this in my fork, i did a pull request. i'm new at this, sorry.

[2018-07-14 16:10] zfil commented on #270
@haasosaurus you need to do a pull request on this project not on your fork.

[2018-07-15 00:12] kriansa commented on #268
@maximbaz Did you manage to use the Symbol Nerd Font on kitty? I'm struggling with it because it refuses to display the characters I specify on `symbol_map`.

[2018-07-15 17:12] maximbaz commented on #268
To be honest I didn't even get to try it, as I stumbled upon [the missing space issue](https://github.com/ryanoasis/nerd-fonts/issues/275#issuecomment-396039407) and couldn't replace Font Awesome with Nerd Fonts anyway. But judging by what you are saying, the Symbol Nerd Font is also not monospace, so this exact issue applies to the Symbol font as well 😞

[2018-07-16 18:54] Thraka commented on #269
Is it possible that PR #283 fixes this!?

[2018-07-17 06:01] haasosaurus commented on #269
@Thraka yeah i just tested it and it fixes it. at first it didn't work because i tried to patch an otf font, but once i patched the ttf version i could use it in cmd/powershell

[2018-07-17 17:47] Thraka commented on #269
@haasosaurus Awesome! Did your patching tests run through all the fonts? Or do I have to download the source and build and generate fonts (I don't really want to do that).

[2018-07-17 21:19] haasosaurus commented on #269
@Thraka i'm generating them all for you, but my computer sucks so it's taking a long time,  i would hope by tonight it will be done

[2018-07-18 14:33] Mange commented on #275
:+1: on the space glyph. This happens in a lot of Linux programs because on of the largest font rendering platforms (Pango) assumes that all fonts have spaces in them so their fallback algorithms don't run when encountering control characters like spaces.

Bug reports:
- https://bugzilla.gnome.org/show_bug.cgi?id=775202
- https://bugzilla.gnome.org/show_bug.cgi?id=780068

Many other symbol fonts h

[2018-07-18 17:08] maximbaz commented on #275
Thanks for telling me about `ttf-nerd-fonts-symbols`, I use Arch too and yet I somehow missed this package!

By the way, I was told in #268 that the symbol font is not monospace, so it doesn't work in some terminals anyway 😞

[2018-07-19 03:45] haasosaurus commented on #269
@Thraka try the fonts in this branch of my fork
https://github.com/haasosaurus/nerd-fonts/tree/regen-mono-font-fix

[2018-07-20 02:25] haasosaurus commented on #277
https://github.com/ryanoasis/nerd-fonts/issues/270 https://github.com/ryanoasis/nerd-fonts/issues/269 https://github.com/ryanoasis/nerd-fonts/issues/268 are all duplicates. see pr https://github.com/ryanoasis/nerd-fonts/pull/283
you can try the patched fonts in this branch of my fork temporarily until the next version is released if you want https://github.com/haasosaurus/nerd-fonts/tree/regen-mon

[2018-07-20 06:48] haasosaurus commented on #263
can you try the fonts in this branch of my fork to see if it fixes your issue?
https://github.com/haasosaurus/nerd-fonts/tree/regen-mono-font-fix

[2018-07-20 19:34] sirplatypos commented on #254
I have been having the problem with the phone symbol and such as well using the AUR nerd-fonts-complete package.  Is there a way to get around this problem without patching all of the fonts by hand?

[2018-07-20 23:37] thedonquixotic commented on #225
@bookercodes Does this apply for if I'm trying to run the script inside WSL Ubuntu for Windows?

[2018-07-20 23:47] jcklpe opened #284 ""FontForge module is probably not installed" but on Windows WSL"
#### 🗹 Requirements

- [x] A brief but descriptive _title_ of your issue
- [x] I have searched the [issues](https://github.com/ryanoasis/nerd-fonts/issues) for my issue and found nothing related and/or helpful
- [x] I have read or scanned the [FAQ](https://github.com/ryanoasis/nerd-fonts/wiki/FAQ-and-Troubleshooting)
- [x] I have read or scanned the [Wiki](https://github.com/ryanoasis/nerd-fonts/w

[2018-07-21 04:59] thedonquixotic commented on #284
Okay I'm trying this on a straight Kubuntu machine and it is not working.... same error.

[2018-07-21 05:00] thedonquixotic commented on #225
hey @bookercodes I tried this on both my Ubuntu 18.04 on WSL Windows installation and also on my plain fresh install Kubuntu 18.04 installation. Same error as you but I'm not on Mac or using Homebrew so not sure why it's not working. Any thoughts?

[2018-07-21 05:01] timoxley commented on #254
@sirplatypos I just live with the phones

[2018-07-21 06:55] Mange commented on #275
Maybe that is specific to some terminal emulators but it works perfectly well for me in pango-based software, like polybar, i3status, termite, rofi, gnome software, etc.

You might need to add a custom font config. Here is mine https://github.com/Mange/dotfiles/blob/master/snowflakes/fonts-conf.d/90-fallbacks.conf

[2018-07-21 19:41] sirplatypos commented on #254
I fixed the problem for myself by removing the subtable that replace the characters with the ligatures.  It had been set to replace the normal ff and such with the phone, the priority low symbol, etc.  If you're still having the problem, get font forge and remove the ligature subtable.

[2018-07-21 19:44] sirplatypos commented on #254
[ubuntu-regular.zip](https://github.com/ryanoasis/nerd-fonts/files/2216439/ubuntu-regular.zip)
This is ubuntu nerd font regular with the table removed, in case anybody wants it.  I don't know how many other fonts have this issue.

[2018-07-22 08:27] vaskark opened #285 "Cheatsheet correction"
Just found a spelling error on the cheatsheet:

nf-fae-chesse
e264

Should be _cheese_ ;)

[2018-07-22 20:15] thedonquixotic commented on #284
Okay I got this to work. I opened up the file and I saw that it was in python and that the thing that was throwing the error had to do with psMat. I don't know what that is but from what I can tell it has something to do with fontforge being installed in python 3 but not 2 on Ubuntu so in order to run the script I had to use my command like this:  https://stackoverflow.com/questions/29441053/impor

[2018-07-29 15:05] Skyline404 opened #286 "Operator Mono Ligratures"
Hi, I'm using this comand `./font-patcher Operator\ Mono\ Book\ Regular.otf -c --careful`, but Ligatures are missing after patching.

It should be
<img width="506" alt="2018-07-29 17 36 22" src="https://user-images.githubusercontent.com/32412867/43367516-e17d705c-9356-11e8-82d1-8c0e07784ee9.png">

but it looks like
<img width="426" alt="2018-07-29 17 39 01" src="https://user-images.githubuserconte

[2018-08-01 07:30] haasosaurus commented on #270
you can use the fonts in this branch of my fork for the time being, let me know if they work if you try them please. https://github.com/haasosaurus/nerd-fonts/tree/regen-mono-font-fix

[2018-08-01 07:32] haasosaurus commented on #268
you can try the fonts in this branch of my fork for the time being, let me know if they work if you try them please. https://github.com/haasosaurus/nerd-fonts/tree/regen-mono-font-fix

[2018-08-01 18:06] brontosaurusrex opened #287 "How to install? (for urxvt)"
Debian Stretch,

1. Downloaded version 2 of Fantasque font (Which I assume is already pached one)
2. Unpacked
[code]

to ~/.fonts
3. run

    fc-cache -vf ~/.fonts/

4. Edited .Xresources like so

[code]

The name i got from

    fc-scan --format "%{postscriptname}\n" font.ttf

5. No joy, doesn't work, font doesn't show in urxvt. Font does show in my gui font viewer with status 'installed'. edit:

[2018-08-02 00:46] ryanoasis commented on #279
Thanks for bringing this up, I am trying to get my arms back around Nerd Fonts :smiling_imp:

[2018-08-02 00:53] ryanoasis commented on #280
Appreciate this report and thanks for the details and digging deep!

I use ShellCheck locally (and we use in the build) and have been fixing the warnings on the bash scripts but the install is clean, however there is definitely an issue regardless.

[2018-08-02 00:53] ryanoasis commented on #281
Great suggestion, thanks

[2018-08-02 00:54] ryanoasis commented on #285
:blush: That's funny. Thanks for the catch/report!

[2018-08-02 00:54] ryanoasis commented on #286
Thanks. There are several issues with ligatures at the moment, Nerd Fonts is not ligature safe at the moment. :disappointed:

[2018-08-02 00:55] ryanoasis commented on #287
I'll have to test this out... Ideally the mono fonts _should_ work in Urxvt but you are proving there is an issue. Thanks

[2018-08-02 01:11] aswinmohanme commented on #281
Thank you for the awesome fonts :D

[2018-08-02 01:14] ryanoasis commented on #281
Thanks! They are already awesome fonts we just patch 'em :blush: and aggregate a bunch of things but I know what you mean :smile:

[2018-08-03 14:24] sagikazarmark commented on #258
I usually prefer having these settings scripted so that it is documented and can be automated in case of moving to a new computer, so here it is:

[code]

[2018-08-06 20:18] akaralar commented on #164
I patched Input Mono with `--complete` option but the glyph for letter J changed to an icon. Excluding `--materialicons` and including others solves the problem

[2018-08-06 21:45] sagikazarmark commented on #248
The same problem occur with Iosevka Nerd Font for me.

[2018-08-07 06:15] ELLIOTTCABLE commented on #164
This seems like an unrelated problem; you might want to create a new Issue.
`(=`

On Mon, Aug 6, 2018 at 15:18 Ahmet Karalar <notifications@github.com> wrote:

--

⁓ ELLIOTTCABLE — fly safe.
http://ell.io/tt

[2018-08-08 00:27] efade commented on #287
@brontosaurusrex you got the name wrong in your config. It should've been:

`URxvt.font: xft:FantasqueSansMono Nerd Font:size=12`

When looking for a font name, just type: `fc-list | grep -i <keyword>`
In this case, if I typed `fc-list | grep -i fantasque`, I'll get this output:

[code]
Look for the name before `:style=` section. That's the name that you should put in your config.

[2018-08-08 18:07] petobens commented on #236
Hi @ryanoasis, terribly sorry to bother you again but I might tested this wrongly. Are the italics fonts actually added? This folder seems empty: https://github.com/ryanoasis/nerd-fonts/tree/master/patched-fonts/SourceCodePro/Italic

I tried selecting `Italic` style in my terminal (Alacritty) configuration and the that particular style doesn't seem to be available.
Thanks in advance!

[2018-08-09 14:37] Elvyria opened #289 "Inconsolata font source is deprecated"
#### 🎯 Subject of the issue

Original Inconsolata has noticible quality issues wich i cannot explain in the right way, but i can show. Is it possible to replace it with google one?

##### [Google Inconsolata](https://github.com/google/fonts/blob/master/ofl/inconsolata/Inconsolata-Regular.ttf) patched by myself
![image](https://user-images.githubusercontent.com/2061234/43904353-183c8dbe-9bf7-11e8-8

[2018-08-16 14:39] MaienM commented on #279
All of the wifi strength icons also seem to be missing (for example `wifi-strength-0`).

[2018-08-17 00:48] IsOverThere commented on #263
Hi @haasosaurus again,
Just let you know, after restart the SW of SecureCRT, the icon is shown correctly, thanks.

[2018-08-19 00:13] FelipeMarcelino commented on #127
Same here. Fura Code and Iosevka in arch with i3

[2018-08-19 19:31] Jeansen commented on #150
Maybe this one helps: https://github.com/powerline/fonts/issues/176#issuecomment-399626283

At least for me it worked, when I switched from DejaVu Sans Mono to Inconsolata. With DejaVu Sans Mono I had not problems. Only thing was that I set `letterSpace=-1`.

So to sum things up, here is what I had before:
[code]

And now it is only:
[code]

[2018-08-20 00:04] efade commented on #284
I had the same issue with openSUSE. Your solution worked for me. Looks like the script needs to be updated.

[2018-08-20 11:58] ohcibi commented on #248
To me it appears as if the FuraCode ligatures are also broken... I'm just trying to patch them myself to see if that fixes it.

[2018-08-23 08:21] ihexon opened #290 "Some font spacing is too large or can not be aligned"
![z](https://user-images.githubusercontent.com/14349453/44512640-d2dda080-a6ed-11e8-8e8d-8bfd4e6fb72b.png)

and

![z](https://user-images.githubusercontent.com/14349453/44512766-25b75800-a6ee-11e8-87a8-2b8399851d87.png)
I'm using termite and `Ubuntu Nerd Font Mono:style=Book(first screenshot)` and `Ubuntu Nerd Font:style=Book`, Xterm and other terminal also has same issue...
I know I just change o

[2018-08-29 23:04] snoblenet commented on #271
The font variant still seems to be missing?

[2018-09-10 13:49] RDeluxe commented on #269
I'm afraid it's still not working for me :(

[2018-09-10 19:44] carlca opened #292 "Font-Patcher fails when applied to Monaco font with Ligatures on macOS 10.14 beta 10"
macOS 10.14 Mojave beta 10
MacVim Custom Version 8.1.280 (151)
iTerm2 v3.2.0

I currently am using a version of Monaco.ttf which has had the Ligaturizer patcher applied to it. My initial attempts to use this failed with File Open errors, but eventually the author, @toxicfrog sent me a version of Monaco.ttf which worked.

Now I'm trying to use your `vim-devicons` plugin and I am coming up with the

[2018-09-13 19:43] jayywolff commented on #127
Hey guys, I haven't experienced this issue for while now. Last year it would fix and break between some updates, but the AUR package has been stable lately.

Currently using the AUR package nerd-fonts-complete 2.0.0-5
Still running Arch, i3wm, termite as my terminal emulator.
Currently using Iosevka Nerd Font

[2018-09-13 20:06] myrage2000 commented on #127
I have exactly the same config (ArchLinux, i3wm, nerd-fonts-complete) but
with urxvt. Could you try with it please ?

Le jeu. 13 sept. 2018 à 21:44, Johnathan Wolff <notifications@github.com> a
écrit :

[2018-09-13 20:10] jayywolff commented on #127
@myrage2000 what do you have for your "URxvt.font" setting in .Xresources? I've never been able to get icons to work at all in urxvt

[2018-09-13 20:14] myrage2000 commented on #127
If i'm right I have something like : "xft:[insert random nerd-font MONO
here]:size=8"
And glyphs are 2x smaller than letters.
Maybe urxvt does not support it so ? This is weird I have never heard that

Le jeu. 13 sept. 2018 à 22:10, Johnathan Wolff <notifications@github.com> a
écrit :

[2018-09-13 20:32] ryanoasis commented on #127
@myrage2000 can you provide a screenshot?

This is probably to be expected in URxvt, see: https://github.com/ryanoasis/nerd-fonts/wiki/Terminal-Emulators#urxvt

[2018-09-13 20:45] jayywolff commented on #127
@myrage2000

with the setting "URxvt.font: xft:Iosevka Nerd Font Mono:size=16" I am able to see the glyphs but they are smaller than normal characters and several glyphs are missing for some reason.

[2018-09-15 06:01] PlatypusPro commented on #263
Me too...
I can't use `SauceCodePro Nerd Font Mono` in my gVim 8.0 on Windows 10.
But this font can be found and used in other applications.

[2018-09-21 09:09] mrcush commented on #270
There's a way to get around this with everything working for the Gnome-Terminal.  Start up "dconf-editor" in the terminal.  Then go to org>gnome>terminal>legacy>profiles:>profile id>font and change the custom value to the font you wish to use.  So far the Meslo LGL font you would put in MesloLGL Nerd Font Regular 12
12 being the font size.

[2018-09-21 09:14] MatthewCushing opened #293 "Operator Mono Powerline Symbols"
After patching the operator mono medium font using the font-patcher (Thanks so much for this tool by the way).  I came up with the issue a lot of people have, the powerline symbols not matching up by being too small.  Is there a specific way to go about this and fix it?  I don't mind fixing it myself, I just don't really know what tool to use to do it.

**EDIT:** I opened up the font in font forge

[2018-09-21 13:02] gargoyle commented on #270
@mrcush Already mentioned above why that might not be a good idea.

If you mess with dconf-editor manually, you could get the application into states the developers didn't anticipate.

[2018-09-21 17:19] mrcush commented on #270
@gargoyle
Sorry, read through almost the whole thread and missed someone else recommending the same thing. I do think the fonts and the patcher should get fixed so that there doesn’t have to be a workaround however I don’t see any issues that could really arise except for issues with spacing if you are trying to use a non monospaced font. If you’re throwing in a monospaced font there shouldn’t be

[2018-09-21 20:06] dkarter commented on #228
@alexparker I took a look at the SVG in that commit you mentioned and it actually seems very simple, so I wonder if that result is coming from somewhere else, not sure where.

Here is the SVG when opened in Sketch:
![svg composition](https://i.imgur.com/oJSB7Fp.gif)

I tried finding the Elixir glyph locally in my FuraCode Nerd Font and after browsing for quite a while I couldn't find it.

Locally

[2018-09-25 01:15] alexparker commented on #228
That's interesting @dkarter. When I paste your unicodes into my vim, the same ones i see in your show up:
![screen](https://d.pr/i/zY27hy+)

But this is what i see in my nerdtree:
![screen](https://d.pr/i/E3TJas+)
here's the code:
[code]

[2018-09-25 20:15] carlca commented on #292
Don't worry. Whenever you have a moment, that'll be fine!

[2018-09-26 10:05] blueyed opened #294 "Difference between upper right and left triangle"
I have noticed a difference between nf-ple-upper_left_triangle (e0bc) and nf-ple-upper_right_triangle (e0be).

In Kitty terminal:
![kitty](https://user-images.githubusercontent.com/9766/46073314-d5b43100-c184-11e8-87bd-e145de30a423.png)

(patched urxvt):

![urxvt](https://user-images.githubusercontent.com/9766/46073320-dbaa1200-c184-11e8-8b87-d9c73ad1e3bb.png)

I am using `Ubuntu Mono Nerd Font Co

[2018-09-26 10:12] blueyed commented on #294
JFI: updated the desc / submitted to early (triggering a notification now, will delete it)

[2018-09-27 00:04] alexs-jfrog opened #295 "vim-file icon (e62b) is not showing correctly in gnome terminal"
#### 🔧 Your Setup

- _Which font are you using (e.g. `Anonymice Powerline Nerd Font Complete.ttf`)?_
set guifont=DejaVu\ Sans\ Mono\ for\ Powerline\ Nerd\ Font\ Plus\ Font\ Awesome\ Plus\ Octicons\ Regular\ 11
- _Which terminal emulator are you using (e.g. `iterm2`, `urxvt`, `gnome`, `konsole`)?_
gnome
- _Are you using OS X, Linux or Windows? And which specific version or distribution?_
centos 7

[2018-09-27 06:45] elentok commented on #269
@haasosaurus Thanks! I tried LiberationMono from your branch and it worked

[2018-09-27 09:12] ykyuen commented on #127
i installed two nerd-fonts on my archlinux laptop with i3-wm
1. `InconsolataGo`
2. `Noto`

in i3 config, when i set the font to `font pango:Noto Sans 20`, small glyph was found.

but the size returns to normal when i set to `font pango:InconsolataGo Nerd Font 20`

Maybe u could also try `InconsolataGo Nerd Font`?

[2018-09-27 13:15] ykyuen commented on #254
+1 hving the same problem with Ubuntu font

[2018-09-28 10:46] blueyed commented on #108
I think it would be good to have table in the README still.

[code]

Via:
[code]
in font-patcher.

This is helpful when configuring e.g. `symbol_map` in kitty terminal, where you need those ranges.

[2018-09-28 22:29] blueyed commented on #275
(More or less) just for reference: urxvt/rxvt-unicode cannot load the symbol-only font, because it contains none of the chars that it uses to test the width (https://github.com/exg/rxvt-unicode/blob/0767fe71f667f5be4e8967ca6ea27e2b14c19daf/src/rxvtfont.C#L157-L161).

And with kitty the missing space is problematic (like mentioned already), since it gets rendered as boxed 0020 (missing glyph).

@ry

[2018-09-29 13:44] blueyed commented on #275
@Mange
Opened the ttf with fontforge, then opened another one (one of the patcched fonts), and copied the space glyph from there.

[2018-09-29 21:32] mrcush commented on #293
No problem.  Looking at the font patcher file I may have found the issue.  Under `PATCH_SET` it lists the glyphs.  Devicons is labeled with `'Enabled': True` while every other font is labeled with a variable that you have set as true if it satisfies the if statement.  The if statement being:
`if args.complete:`
`    args.fontawesome = True`
`    args.fontawesomeextension = True`
`    args.fontlinu

[2018-09-30 08:02] icp1994 opened #296 "Misalignment of Powerline Glyphs for Code New Roman Font Family"
#### 🗹 Requirements

- 🗹 A brief but descriptive _title_ of your issue
- 🗹 I have searched the [issues](https://github.com/ryanoasis/nerd-fonts/issues) for my issue and found nothing related and/or helpful
- 🗹 I have read or scanned the [FAQ](https://github.com/ryanoasis/nerd-fonts/wiki/FAQ-and-Troubleshooting)
- 🗹 I have read or scanned the [Wiki](https://github.com/ryanoasis/nerd-fonts/wiki)

##

[2018-09-30 23:54] ryanwmarsh commented on #286
@Skyline404 I ran this on the Operator fonts today (I use the screen-smart versions but I have the regular variant too), installed them all, and the italics are working just fine for me in VSCode.

[code]

[2018-10-02 20:12] Mange commented on #275
I made a try at #297.

[2018-10-02 23:19] pianycist commented on #292
I get a similar error with the same traceback on Linux Mint 18.3 when attempting to patch Input Mono Light.

[code]

[2018-10-03 07:16] luispuerto commented on #254
I'm having the same problem with monaco font... and as @sirplatypos did I just remove the ligatures with fontforge and that is. I don't know if I've broken anything in the process but I hope I didn't.
No more phones ☎️ .

[2018-10-04 19:12] RavenHursT commented on #57
Yes please :-)

[2018-10-05 03:15] ezpuzz commented on #269
@haasosaurus I used your branch to patch `PragmataPro Mono Liga` (recently released) and it was able to be used in Powershell!  Unfortunately it destroyed the kerning between letters and all letters and symbols seemed to have additional space between them as compared to regular `PragmataPro Mono Liga` which was a dealbreaker for me.

`ffpython E:\repos\nerd-fonts\font-patcher "C:\Users\invad\Downl

[2018-10-06 10:47] FatBoyCat opened #299 "在远程ubuntu机器上使用spacevim，发现图标乱码，已经安装了nerd字体包，不确定是否已经启用字体"
![image](https://user-images.githubusercontent.com/13553030/46570535-408d1580-c998-11e8-82b1-1c914e6dd74b.png)

[2018-10-06 10:48] #299 closed

[2018-10-09 01:17] M3rsy commented on #127
What Programm are you using to see the icons with code unicode?

[2018-10-17 00:10] Rfvgyhn commented on #274
Just wanted to echo what @thamma said. I'd like to patch my own font without having to download the huge repo. Maybe you could include a zip of just the dev tools in the releases instead of creating a new branch for the dev tools? Does `font-patcher` depend on only `src/glyphs` and optionally `config.json`?

[2018-10-17 06:03] ryanoasis commented on #274
@Rfvgyhn @thamma My thinking was to eventually do this: https://github.com/NerdFonts/patcher

Yes, that should be all that is required.

Related: #73

[2018-10-17 08:20] DonaldTsang opened #300 "Consideration of other fonts"
After browsing the internet I have found multiple fonts that may be useful.
If they are not useful, I would like to know what are the criterias of picking fonts.
- [ ] https://twitter.github.io/twemoji/
- [ ] https://xtoolkit.github.io/Micon/
- [ ] https://github.com/google/material-design-icons
- [ ] https://github.com/legomushroom/iconmelon
- [ ] https://github.com/ionic-team/ionicons
- [ ] http

[2018-10-17 21:47] reaysawa commented on #292
Hey @carlca , I have recently also tripped on this. I went to investigate the line, which is:

https://github.com/ryanoasis/nerd-fonts/blob/master/font-patcher#L761

So if you download the release tarball, you ought to recreate a "src/glyphs" directory with the same files as

https://github.com/ryanoasis/nerd-fonts/tree/master/src/glyphs

as they don't seem to be included in the tagged source rele

[2018-10-17 22:29] reaysawa commented on #296
I have this same issue on Tilix but no issues on Alacrity. Here is a side-by-side comparison:

![screenshot from 2018-10-17 19-20-59](https://user-images.githubusercontent.com/17429390/47119639-0f3b0200-d242-11e8-87c3-965e3c8a7851.png)

Notice how the symbols are are correctly aligned in **Alacritty** :arrow_left: and misaligned in :arrow_right: **Tilix**.

Font: Courier Prime Code patched with `-

[2018-10-17 22:32] reaysawa commented on #296
I have this same problem on Tilix, but it doesn't happen on Alacritty. Here is a side-by-side comparison:

![image](https://user-images.githubusercontent.com/17429390/47119929-40680200-d243-11e8-8c88-bf0d563bd236.png)

Notice how the symbols are are correctly aligned in **Alacritty** :arrow_left: and misaligned in
:arrow_right: **Tilix**.

Font: Courier Prime Code patched with `--complete --adjust

[2018-10-19 10:34] P1X3L0V4 commented on #118
I'm working on Polish translation

[2018-10-19 14:50] P1X3L0V4 commented on #118
Finished Polish translation >> #301

[2018-10-21 18:04] ryanoasis commented on #300
Thanks for the list!

[2018-10-23 20:36] CountZukula commented on #279
I'd like to see the wifi-strength icons as well! Very much liking the nerd-fonts packaging so far.

[2018-10-23 21:18] segevfiner opened #302 "Missing Bold/Italic/BoldItalic variants of Meslo"
#### 🎯 Subject of the issue

The [Meslo](https://github.com/ryanoasis/nerd-fonts/tree/master/patched-fonts/Meslo) font is missing the Bold/Italic/BoldItalic variants despite them existing in the [original](https://github.com/andreberg/Meslo-Font) and [powerline patched](https://github.com/powerline/fonts/tree/master/Meslo%20Slashed) versions. I think they should be added, as otherwise the Bold/Ita

[2018-10-24 13:40] dustinblackman commented on #108
@blueyed there's some things missing in there unfortunately. The ranges from `SrcStart` and `SrcEnd` are needed too, for example the Dockerfile icon from Devicons is in there. Here's some __really lazy__ shit to get everything you need for Kitty for those ending up here from Google.

[code]

[2018-10-25 20:30] AlmightyScientist opened #303 "Blex: No mentions of Blex in Changelogs and on Website."
Hey :)
It seems like `Blex` doesn't appear on the website / in the changelog / in the release tab of GitHub.
When will it be released ?

Thanks for the awesome work!

[2018-11-01 15:42] diedummydie commented on #225
"FontForge module is probably not installed"

I'm on macOS 10.14, and I had that error. Following the instructions printed in the error message lead me to install the FontForge application and XQuartz, but not the command line tools, so I still kept getting that error, even after running the two path commands. (Don't follow the error message's instructions; FontForge.app and XQuartz do not help.)

[2018-11-01 15:59] diedummydie commented on #225
@jcklpe you should be good if you just `sudo apt-get install fontforge` and watch for any messages that might show up to give you extra steps. Really there probably won't be extra steps to take with a full/proper Linux package manager like apt.

[2018-11-07 00:42] sideeffffect commented on #248
`FuraCode Nerd Font Mono` for me also doesn't show almost any ligatures
@ohcibi have you reproduced the issue when patching yourself?

[2018-11-07 02:35] remailednet commented on #286
Like @Skyline404 originally I just installed the patched version of Operator Mono Book Regular.otf and 'lost' the italics. Of course, once I patched and installed the italic version everything worked as expected.

[2018-11-12 08:13] xhaythemx commented on #286
can you tell me please what color schema are you using please for your editor

[2018-11-12 08:13] xhaythemx commented on #286
can you tell me please what color schema are you using please for your editor

[2018-11-12 17:46] skipmeister123 commented on #279
I'm running into this too.

    Which font are you using (e.g. Anonymice Powerline Nerd Font Complete.ttf)?
    Hack Regular Nerd Font Complete.ttf
    Which terminal emulator are you using (e.g. iterm2, urxvt, gnome, konsole)?
    FluentTerminal
    Are you using OS X, Linux or Windows? And which specific version or distribution?
    Windows 10 Pro October 2018 update => WSL (Ubuntu 18.04.1 LTS)

[2018-11-12 18:32] petobens commented on #236
Ping @ryanoasis

[2018-11-14 17:04] jrhalchak commented on #284
I couldn't get past this issue on Windows 10 proper, but this seems to have worked for WSL.

I had to install `pip` and `config-parser` as well, and then run:
`fontforge -script font-patcher {flags} {font-filename}`

[2018-11-18 14:52] MartinDelille opened #305 "Handle beer character"
#### 🗹 Requirements

- [ ] A brief but descriptive _title_ of your issue
- [ ] I have searched the [issues](https://github.com/ryanoasis/nerd-fonts/issues) for my issue and found nothing related and/or helpful
- [ ] I have read or scanned the [FAQ](https://github.com/ryanoasis/nerd-fonts/wiki/FAQ-and-Troubleshooting)
- [ ] I have read or scanned the [Wiki](https://github.com/ryanoasis/nerd-fonts/w

[2018-11-23 09:46] ylmrx commented on #296
I'm having the same problem here. Sad, because it's the best looking font at most size (just my tastes).

[2018-11-28 14:52] kud opened #306 "Ubuntu Mono is weird about horizontal spacing"
![image](https://user-images.githubusercontent.com/655838/49159801-9392a180-f325-11e8-9e12-5ff0d51ee2b5.png)

I don't have that with other fonts. :/

[2018-11-28 14:53] kud commented on #306
And I have as settings "100%" for horizontal spacing.

[2018-12-03 23:07] segevfiner opened #307 "config_has_powerline in config.cfg might not have the intended effect"
#### 🎯 Subject of the issue

I think the `config_has_powerline` option in the `config.cfg` files used in the `gotta-patch-em-all-font-patcher!.sh` script might not have the intended effect, as the `--complete` flag to the font patcher already includes power line, so simply omitting the power line flag is not enough to get it to avoid patching the powerline glyphs.

This can lead to clobbering pre-

[2018-12-07 18:31] AlmightyScientist commented on #303
Up.

[2018-12-11 08:58] weilbith opened #309 "Some Unicode Characters Not Working Correctly"
#### 🎯 Subject of the issue

I can't display a bunch of unicode characters like [this one](https://unicode-table.com/en/2460/). Executing `printf '\u2460'` leads to a weird output, while some other awesome chars like `printf '\ue61e'`.
![1544518084](https://user-images.githubusercontent.com/12543647/49788627-19511c80-fd2a-11e8-89eb-417020d47966.jpg)

#### 🔧 Your Setup

- `SauceCodePro Nerd Font`
-

[2018-12-11 18:53] weilbith commented on #309
Seems to be not related to this project but the `urxvt` package. Don't know that to do, since this should be best for this problem already.

[2018-12-11 18:53] #309 closed

[2018-12-16 06:35] kknox commented on #269
I discovered in 'Putty Configuration' -> Window -> Appearance, there is a check box 'Allow selection of variable-pitch fonts' that when enabled allowed me to use fonts in ssh that WSL or CMD.exe would not list.

[2018-12-16 14:37] kajzersoze commented on #127
Irritating problem, some fonts have small glyphs some don't.

Linux, gentoo
Terminal : st (had the same problem in urxvt)

[2018-12-18 15:49] EdgeKing810 commented on #121
Can I take this up sir @ryanoasis ?

[2018-12-18 15:52] waseem18 commented on #121
This still seems to be open @EdgeKing810

[2018-12-18 15:53] EdgeKing810 commented on #121
You mind if I take it @waseem18 ?
I'll try to enfore PEP8 as much as I can...

[2018-12-19 10:10] DonaldTsang commented on #300
@ryanoasis I could also get those from other list articles if you want, but those 7 are all ones with large amount of icons.

[2018-12-25 14:39] MindTooth opened #312 "Add Unscii - a bitmapped unicode font"
<img width="875" alt="screenshot 2018-12-25 at 15 36 18" src="https://user-images.githubusercontent.com/33870508/50423825-ded39d80-085a-11e9-9e8a-3741748870c2.png">

_(Preview)_

#### 🎯 Subject of the issue

How easily is it to add the [Unscii](http://pelulamu.net/unscii/) font to the repo?  Tried patching it my self with the `--mono` option, but that only crashed kitty.

Thank you for the project

[2018-12-26 23:19] Andrioshe commented on #269
I actually got the same problem.. any fix?

[2018-12-27 11:12] weilbith commented on #270
@haasosaurus I've gone for your fork while waiting for the PR. Works well, except that some special Unicode characters are super small. Since they have a lot of details (at least more than ASCII ones), this makes them unusable. Example for [this character](https://unicode-table.com/en/2460/) in comparison to the rest of the prompt:
![1545908301](https://user-images.githubusercontent.com/12543647/5

[2019-01-02 08:57] ira-bv commented on #300
On the flip side, here's a new font I found that's SIL OFL and is begging for a patching... https://quoteunquoteapps.com/courierprime/

[2019-01-03 08:44] zeorin commented on #268
@haasosaurus That works for me. Tested using the Iosevka Term Nerd Font Complete Mono (all styles) and Kitty.

[2019-01-04 22:05] faridcher commented on #269
@haasosaurus
could you please regenerate ttf files for Meslo font? in your branch, only otf versions are available. thanks

[2019-01-07 09:43] adriencarbonaro opened #313 "Iosevka Nerd Font works in polybar, but not in urxvt"
#### 🎯 Subject of the issue

I'm using `Iosevka Nerd Font` for my `polybar` config and in my `urxvt` terminal. It works like a charm in `polybar` but in `urxvt`, some symbols don't appear (but the same ones appear in `polybar`).

#### 🔧 Your Setup

- `Iosevka Nerd Font` (`Iosevka Nerd Font Complete.ttf`)
- `urxvt`
- Linux - Ubuntu 18.04

#### ★ Optional
My polybar config (the white dots is the sym

[2019-01-07 15:02] kierun commented on #313
`urxvt256c-ml*font: xft:Iosevka\ Nerd\ Font:pixelsize=11`

Works fine for me with the above in `~/.Xdefaults`…

[2019-01-07 15:31] adriencarbonaro commented on #313
I don't know why it doesn't work for me. And most of all I don't get why it works in polybar and not urxvt

[2019-01-07 15:34] kierun commented on #313
Did you escape the spaces?

[2019-01-07 15:36] adriencarbonaro commented on #313
Yes. Sadly it didn't do the trick. Plus the rest of the characters worked even without it.

[2019-01-07 16:21] kajzersoze commented on #313
Other Nerd fonts working in urxvt ?

[2019-01-07 17:05] adriencarbonaro commented on #313
With Ubuntu Nerd Font the symbols work but the font itself is weird.
![07-01-2019_1804_755x191](https://user-images.githubusercontent.com/32357019/50781898-d3469480-12a6-11e9-9ded-14380bebd336.png)

[2019-01-07 17:14] kajzersoze commented on #313
For me none of the Nerd fonts worked, font itself is ok but there are squares instead of symbols.
Until I found a patch which corrects that problem.
If you are using gentoo you can find the ebuild here:
https://github.com/kajzersoze/rxvt-unicode
You can find the same patch in the AUR for Arch.
For other distros I don't know the situation.
You can try it, there's a high chance that it would solve y

[2019-01-07 17:16] adriencarbonaro commented on #313
Thank you but I'm not on Arch or Gentoo ...
But glad to know that worked for you.

Could someone check the Ioveska patch to solve this ? It doesn't work with SauceCodePro neither and same with InconsolataGo

[2019-01-07 18:38] adriencarbonaro commented on #313
I just tried with `Iosevka Nerd Font` in `terminator` and everything works just fine. So I think the problem doesn't necessarily comes from the font but from `URxvt`.

[2019-01-08 04:44] ryanoasis commented on #313
Could you try a true mono variant (one with a Mono suffix)?

Also URxvt I have had issues with ambiguous width charts. Refer to https://github.com/ryanoasis/nerd-fonts/wiki/Terminal-Emulators#urxvt

[2019-01-08 09:10] adriencarbonaro commented on #313
I'll try this and let you know !

[2019-01-08 09:42] gymgle commented on #270
Nerd fonts, Awesome fonts couldn't list in terminal, so we couldn't select the font we want.

You can set any font using `dconf-editor`, under `/org/gnome/terminal/legacy/profiles:/:<profile-id>/font`.

e.g. Custom value : `DroidSansMono Nerd Font Book 13`

https://askubuntu.com/questions/1046871/nerd-font-not-fond-in-terminal-profile/

[2019-01-08 10:56] gargoyle commented on #270
@mrcush / @gymgle, yes `dconf-editor` can be used for a work around and in this instance the risk is probably limited to character spacing issues.

However, it shouldn't become habit to use such a tool without due consideration. Today it's just a font issue, tomorrow it could be something a bit more critical.

As an example, make a mental node of this little gem which seems to becoming an increasi

[2019-01-08 20:22] brennanfee commented on #269
I can confirm that the "mono" versions of the fonts provided in @haasosaurus branch work in cmd.exe and powershell.exe

There are some minor issues (like the "italic" version of Source Code Pro seems to be missing from his branch)... but the general fix he provided does seem to work in Windows.

[2019-01-09 12:13] iamkarlson commented on #127
The same problem for windows.
![image](https://user-images.githubusercontent.com/4534374/50898729-4fa8b700-1410-11e9-9dc6-29070769e436.png)

[2019-01-10 03:35] DonaldTsang commented on #300
- (7) https://designroast.org/best-free-icon-fonts-for-web-designers/
- (50) https://speckyboy.com/free-icon-fonts/
- (10) https://ourcodeworld.com/articles/read/755/top-10-best-free-icon-fonts-for-web-designers
- (30+) https://cssauthor.com/free-icon-fonts/
- (14) https://www.webfx.com/blog/web-design/free-icon-fonts/
- (18) http://designbump.com/18-best-free-icon-fonts/
- (5) https://cssreset.co

[2019-01-10 03:36] DonaldTsang commented on #300
@ira-bv could you open another issuer this?

[2019-01-10 08:51] ira-bv commented on #300
Okie doke.

[2019-01-10 09:34] seefood commented on #248
FuraCode broken ligatures for me too. Original FiraCode has powerline so I'm making do with that for now :-)

[2019-01-10 09:38] seefood opened #314 "Courier Prime Code could use a nerd treatment"
#### 🎯 Subject of the issue

New Font on the market, nice look for terminal users and code monkies, Released under SIL OFL

https://quoteunquoteapps.com/courierprime/

[2019-01-10 09:43] seefood commented on #57
I think the Ligaturizer tool covers it, all nerd-fonts needs to do is not break it (see #248) or maybe run it after the patching to fix ligatures on the new hybrid font?

[2019-01-11 10:58] ohcibi commented on #248
@sideeffffect @seefood FuraCode Nerd Font *Mono* does not have any ligatures. Use the version that isn't called *Mono*.

[2019-01-11 13:49] sideeffffect commented on #248
that should be considered a bug!

[2019-01-11 14:01] ohcibi commented on #248
@sideeffffect no it should not. Its the point of Nerd Font Mono to exist. It does not mean that Nerd Font Non-Mono ist not a monospaced font. It means that Nerd Font Mono is free of any ambiguous width chars whatsoever. Please read the documentation about Nerd Font and Nerd Font Mono.

[2019-01-11 15:05] sideeffffect commented on #248
@ohcibi fair enough

[2019-01-11 15:13] seefood commented on #248
As far as I can tell, iTerm2 (macos) thinks it has ligatures (it allows ticking the box to enable them, which doesn't happen in other fonts, and when I do I see broken gliphs. E.g. *** displays as " /*" or something (not at the computer ATM). I'll look into the non mono version as you suggest.

[2019-01-11 15:16] ohcibi commented on #248
@seefood this has nothing to do at all with any setting of iterm2 or whatever. NerdFont Mono **does not have ligatures**. Thats about it. You cant see ligatures because the font you are using does not have them. The version without Mono in its name has ligatures and thats about the difference between those two fonts. The Non-Mono is **with** ligatures, the Mono is **without**.

They really should

[2019-01-13 12:59] seefood commented on #248
well, switching to Fura non-mono fixed it, but the Mono version still has a metadata field identifying it as having ligatures, I'm guessing this is an upstream issue, ignoring.

[2019-01-13 15:07] sideeffffect commented on #248
that shouldn't be an upstream issue -- Fira Code *does* have ligatures, no? So than if *Fura Code Mono* (in contrast to *Fura Code*) has metadata declaring ligatures, that looks like a `nerd-fonts` issue, right?

[2019-01-13 16:01] ohcibi commented on #248
@Sideeffect yes exactly. Fira Code doesnt have this Limitation/distinction. Hence people are confused because the expectation is that both variants simply have ligatures and therefore issues about those are not even expected from people switching from fira to fura.

[2019-01-20 16:31] jayywolff commented on #127
I've just been dealing with the tiny icons for almost 2 years now lol. At some point  in 2017 there was an update that fixed it and then the following update broke it again. Super annoying.

[2019-01-21 09:33] seefood opened #316 "Add a font preview to the website"
like use the code for http://app.programmingfonts.org, nuff said.

(also, maybe adopt some of their collection :-)

[2019-01-21 09:44] seefood commented on #314
also bumped into http://b612-font.com/ but it's not interesting enough, IMHO.

[2019-01-23 10:06] BelkinWenbo opened #317 "Nerd fonts are not shown in gnome terminal and gvim font selection list"
#### 🎯 Subject of the issue

The cause should be that nerd fonts have proportional spacing property for mono spacing fonts. See attached image.

#### 🔧 Your Setup

- _Tried a lot of mono fonts_
- _Using gnome terminal_
- _Using Ubuntu_

#### ★ Optional

![2019-01-23 17-56-42](https://user-images.githubusercontent.com/28796880/51598746-240dec80-1f39-11e9-8429-c25f7c230625.png)

[2019-01-23 10:11] 1bool opened #318 "Nerd fonts are not shown in gnome terminal and gvim font selection list"
#### 🎯 Subject of the issue

The cause should be that nerd fonts have proportional spacing property for mono spacing fonts. See attached image.

#### 🔧 Your Setup

- _Tried a lot of mono fonts_
- _Using gnome terminal_
- _Using Ubuntu_

#### ★ Optional

![2019-01-23 17-56-42](https://user-images.githubusercontent.com/28796880/51598746-240dec80-1f39-11e9-8429-c25f7c230625.png)

[2019-01-23 10:11] #317 closed

[2019-01-25 04:14] ryanoasis commented on #307
Hey yeah you are right. Well I think the font-patcher probably needs to handle that the same way it is for the ['removeligatures' ](https://github.com/ryanoasis/nerd-fonts/blob/2.0.0/font-patcher#L157).

The 'gotta patch em all' script seems to only use it for logging out the combinations and assumes 'complete'. It does correctly look for a config.json file and use it if found but then the problem

[2019-01-25 04:44] ryanoasis commented on #302
I'll take a look this weekend. Thanks

[2019-01-26 05:49] four43 commented on #316
This would be great, you guys have a lot of great ones in this collection and it's hard to choose one!

[2019-01-28 07:37] Ratione commented on #127
Okay, has there been any serious attempt to solve this, by someone who knows literally anything about fonts? Because I don't.

I really like the Nerd-Fonts, and I don't want to go find something else. If more data is needed, I would be happy to help, but I don't even know how to start solving this problem.

[2019-01-28 13:18] durandj commented on #318
I've been experiencing the same issue on Ubuntu 18.10. The issue seems to be that the Gnome Terminal application only accepts monospaced fonts and for some reason it's not recognizing these fonts as monospaced.

A possible temporary workaround is to set the system font to whichever font you want and then tell the Terminal application to use the system font instead of a custom font.

[2019-01-28 16:16] audioscavenger opened #319 "DejaVuSansMono patched complete is not Mono"
#### 🎯 Subject of the issue

DejaVuSansMono patched complete is not Mono. That creates noticeable lagging issue with Putty. Same issue with "windows compatible"

#### 🔧 Your Setup

- DejaVuSansMono patched complete
- Windows Putty 64 + xterm-256color

#### ★ Optional

n/a
Thanks for the release but I will stick with the powerline version

[2019-02-01 15:21] davidsierradz commented on #313
This one worked for me:
`URxvt.font:           xft:Iosevka Term:style=Light:pixelsize=12:antialias=true:hinting=true`

[2019-02-02 04:11] taigacute commented on #210
@ryanoasis  I don't think it solved. Is it reopened?Monaco has some problem, I got such a graph, the size of many graphics is not normal, specifically it is bigger。
![555](https://user-images.githubusercontent.com/41671631/52159685-b99c3f80-26e2-11e9-9e17-8ee1370f6548.png)
i test `e0b0` `e0b1` `e0b2` `e0b3` `e0b9` `e0bf` `e0c0` `e0c2` `e0c1` `e0c3` `e0bb` `e0bd`
`e0cc` `e0c8` `e0b6`  `e0b8` `e0ba`

[2019-02-02 14:10] luispuerto commented on #210
as far as I know it's not working... I usually tweak the result with font-forge app, but it's not perfect.

It's pretty clear that something it's going on and the result monaco+nerds fonts doesn't have the same height as Monaco.

[2019-02-02 17:10] reidterror opened #320 "When i run install.sh i get an error on line 212. Unexpected '<' sign in 'done < <(eval "$find_command")'"
#### 🎯 Subject of the issue

When i run install.sh i get an error on line 212. Unexpected '<' sign in 'done < <(eval "$find_command")'

#### 🔧 Your Setup

- Copied the repository.
- termite
- manjaro

[2019-02-03 03:01] taigacute commented on #210
@luispuerto  yes,Unable to patch it, this issue should remain open until it is fixed

[2019-02-03 10:10] Flurrywinde opened #321 "font-patcher needs configparser"
#### 🎯 Subject of the issue

I am trying to use `font-patcher` on a font I already have. My `fontforge` is that latest version installed via `sudo apt install fontforge` on Ubuntu 18.04. (I also installed their repo, and it's the same version.) I put the `font-patcher` script in my path, and when I run it on the font, it reports: "Nerd Fonts: FontForge module is probably not installed."

Another i

[2019-02-04 23:50] errikos commented on #321
I think that the `font-patcher` script uses the system Python2 installation. Please try installing `configparser` via `apt`:

    sudo apt install python-configparser

[2019-02-05 03:59] Flurrywinde commented on #321
This worked. Thank you! Unfortunately, it didn't work on the font I wanted it for: https://github.com/powerline/fonts/tree/master/InconsolataDz , but that is another issue. Thanks again.

[2019-02-05 03:59] #321 closed

[2019-02-06 01:50] pakdev commented on #223
[Scoop](https://scoop.sh/) offers some fonts in the [nerd-fonts bucket](https://github.com/matthewjberger/scoop-nerd-fonts), and it's not hard ([example](https://raw.githubusercontent.com/matthewjberger/scoop-nerd-fonts/master/DejaVuSansMono-NF.json)) to add more.

[2019-02-06 20:57] villasenor commented on #270
The fork that @haasosaurus has worked immediately for me with a Gnome 3 Terminal / Ubuntu 18.04 setup. Are we waiting for a PR at this point @brennanfee?

[2019-02-07 12:38] taigacute commented on #210
@ryanoasis
I have noticed this problem for a long time, is it necessary to fix the monaco font?

[2019-02-08 22:09] dynofu commented on #318
i run into some similar issue and i believe the problem is nerd fonts does not declare `spacing`.
[powerline font](https://github.com/powerline/fonts/tree/master/Hack) has no problem to be used in gvim but nerdfont simply show double width.

[code]
the thing that matters is `spacing: 100(i)(s)`

[2019-02-08 22:23] dyno commented on #318
https://unix.stackexchange.com/questions/363365/command-to-list-all-monospace-fonts-known-to-fontconfig

[2019-02-09 03:37] ryanoasis commented on #312
Thanks @MindTooth!

Not sure on why the failure. There are quite a few issues at the moment so perhaps it is related to one or more of them.

[2019-02-09 03:38] ryanoasis commented on #320
Thanks for the report @reidterror

I haven't run the install script in quiet some time.

[2019-02-09 03:40] ryanoasis commented on #270
Thanks all. Getting back up to speed on things

[2019-02-09 03:46] ryanoasis commented on #319
Thanks for the report @audioscavenger

[2019-02-09 03:47] ryanoasis commented on #306
Thanks @kud. Have to look into this

[2019-02-09 03:48] ryanoasis commented on #305
Hah thanks @MartinDelille. I believe we need emojis

[2019-02-09 03:49] ryanoasis commented on #296
@icp1994 thanks for the report. Powerline characters are notorious for aligning

[2019-02-09 03:51] ryanoasis commented on #295
@alexs-jfrog sorry for the late reply. Thanks for the report

[2019-02-09 03:54] ryanoasis commented on #303
Thanks @AlmightyScientist . Looks like I dropped the ball on this

[2019-02-09 07:07] MindTooth commented on #312
Thanks for coming back to me.  And I's unfair that I've kept this open.  I recently switched to the [spleen](https://github.com/fcambus/spleen) font from the OpenBSD project.  I'll keep a watch on the project to see if I can try again later. 😄

[2019-02-09 22:54] resolritter opened #323 "Mono fonts lack spacing information in the metadata"
#### 🎯 Subject of the issue

As reported in https://github.com/kovidgoyal/kitty/issues/1372, I'm unable to detect mono Nerd Fonts due to the missing 'spacing' attribute, which comes by default on system mono fonts.

Example is the built-in Nimbus Mono Font Family:

[code]

While I suggested crude a workaround on the Kitty's side, it would be more appropriate for this to be fixed here.

[2019-02-12 01:13] Xinkle commented on #57
+1

[2019-02-12 03:14] ryanoasis commented on #323
Thanks @reaysawa this is useful info! Upon a cursory look into fontforge python I am not seeing info on the 'spacing'. Need to look more..

[2019-02-12 12:50] memeplex opened #324 "Add general purpose advance indicator icons"
Some time ago [I've requested](https://github.com/Templarian/MaterialDesign/issues/3334) a general purpose advance indicator icons and this guy kindly contributed a wonderful set which is available at https://materialdesignicons.com/contributor/SarinManS.

Could you please add them to nerd fonts?

[2019-02-12 13:06] memeplex opened #325 "Update MDI to v3.4.93 (about 1400 extra icons!)"
Please read this comment: https://github.com/Templarian/MaterialDesign/issues/3334#issuecomment-462750727.

Also related: https://github.com/ryanoasis/nerd-fonts/issues/324

[2019-02-12 13:08] memeplex commented on #324
This may be closed in favor of the more general https://github.com/ryanoasis/nerd-fonts/issues/325

[2019-02-14 05:55] ryanoasis commented on #325
Thanks @memeplex . On the radar..

[2019-02-17 19:06] mg979 commented on #270
All ttf fonts are broken in Windows (they don't show up with `:set guifont=*`). otf fonts work.

[2019-02-18 04:20] ryanoasis commented on #320
Can you tell us how you ran the install script? Was it just `./install.sh` ?

[2019-02-18 05:06] #302 closed

[2019-02-18 14:17] xasx opened #326 "New font: iA Writer"
There's a beautiful free font out there, called iA Writer Mono.

See: https://github.com/iaolo/iA-Fonts

Would probably be nice to have it officially supported as a NerdFont :heart_decoration:

[2019-02-18 15:51] xasx commented on #326
After trying the font-patcher myself, it turns out that the left-pointing triangles on the right side are not quite proper as with other fonts.

![bildschirmfoto von 2019-02-18 16-49-50](https://user-images.githubusercontent.com/1582730/52962379-66421680-339d-11e9-94d0-a072437fe5b8.png)

Let me know what you think about the font.

[2019-02-18 15:53] xasx opened #327 "New font: agave"
I think it is really worth considering this special one to be added to the overall collection:

https://github.com/agarick/agave

Let me know what you think :hugs:

[2019-02-19 12:58] zamazir commented on #225
I received this error on Ubuntu 18.04 after installing fontforge with `sudo apt install fontforge`. The output listed `python-fontforge` as one of the "Suggested packages". After a `sudo apt install python-fontforge` I only needed an additional `sudo apt install python-configparser` to get everything running. You may want to use pip for this instead.

[2019-02-20 23:27] masaeedu commented on #198
I'm grepping through fc-list for a ligature related variant of Iosevka but can't find anything. Does this mean the Iosevka fonts installed through nerd-fonts can't be used with ligatures enabled?

[2019-02-21 10:32] caesarsol commented on #127
Hi, sorry to jump in, I might have a similar problem:
I have just downloaded and installed the Ubuntu Mono Nerd Font, using it in iTerm on Mac OS X, and the glyphs appear pretty small (especially the Directory icon).

Here is a screenshot:
![image](https://user-images.githubusercontent.com/1799710/53162334-19905280-35cc-11e9-96ba-ab63d5dd4c6a.png)

I arrived here through [this project (LSD)](https

[2019-02-23 08:43] avrelaun commented on #316
I came here to write this issue, it would save users a lot of time

[2019-02-25 10:01] reidterror commented on #320
Hello, sorry for the late reply. Yes, ran into the issue by just running the script as it came.

[2019-02-26 11:13] im-n1 opened #329 "Font parcher - fonts get blurred/grayed out"
Hi folks

I've spend many hours choosing my new font to substidue my bitmap current one (need scalability). The major thing bitmap fonts are so great (according to me) is they are sharp and thus well visible. I could achieve the same visibility and sharpness with AnonymousPro font. But if I try to use your patched font or i do patch it by myself with your font patcher I get blurry font and grayed

[2019-02-26 20:39] maxnordlund commented on #279
Same here, Sauce Code Pro Complete, iTerm2, OS X. I thought I should make a PR but I can't grok how this works. Then there's the question of existing code points, since you don't want to break old stuff. I'm not sure to amend a couple of runes like this.

Also, thank you for this awesome package, makes my daily life much nicer ❤️

[2019-02-28 09:23] gim913 commented on #329
There's actually same issue with `Terminess TTF Nerd` font

This is Terminus TTF font:
![image](https://user-images.githubusercontent.com/496298/53555718-c45fbe00-3b42-11e9-996d-4d6ec9c47657.png)

This is Terminess TTF Nerd from patched-fonts dir:
![image](https://user-images.githubusercontent.com/496298/53555765-de010580-3b42-11e9-887a-5dfe3f7f4639.png)

[2019-03-02 12:39] im-n1 commented on #329
Offtopic: whats the crate you are working on?

[2019-03-02 17:11] gim913 commented on #329
actually not my crate, clone of https://github.com/Peltoche/lsd
(apparently github needs some kind of chat/messaging ^^)

[2019-03-02 18:14] im-n1 commented on #329
Nice to see another Rust dev. Let's use irc. Serv: irc.mozilla.org, chann: rust

Back to topic:
The `lsd` is nice tool. Another usage for nerd fonts. I hope the font patcher will be fixed soon.

[2019-03-03 04:59] cspotcode commented on #269
@haasosaurus I was hitting the same problem, and your PR fixed it for me.  I was even able to `--custom` Windows' Segoe UI Symbols font to get the prompt arrow used by https://github.com/sindresorhus/pure

Thank you!

[2019-03-03 19:35] bvgastel commented on #221
Any news about this? I would really like the new icons in v5.

[2019-03-04 23:09] khmaies5 commented on #269
still not working for me
Windows 10 v1809

[2019-03-05 18:28] dan-and opened #330 "Please add DaddyTimeMono"
Hi,

I asked the author of DaddyTimeMono if he would be fine adding the glyphs as done here. He suggested adding his font here. See: https://github.com/BourgeoisBear/DaddyTimeMono/issues/1

You can get DaddyTimeMono here:  https://github.com/BourgeoisBear/DaddyTimeMono

A preview of it can be seen here:
https://raw.githubusercontent.com/BourgeoisBear/DaddyTimeMono/master/DaddyTimeMono-sample.gif

[2019-03-11 22:28] technofantods opened #332 "Only Fira Code works with my VS Code, no other font works"
I was told to post this issue in here.

#### 🎯 Only Fira Code Nerd Font will work with my install of VS Code

if i enter any font other than Fira Code... i don't get any ligatures. I'd prefer to use Hack. I have every font installed on my system

I am prob missing something really simple. I appreciate anybody's help.

#### 🔧 My setup

- Fira Code but want to use Hack in the editor.
- Hack works in

[2019-03-12 04:40] ryanoasis commented on #332
Thanks for the report. Nope this is better than Gitter for something like this

[2019-03-12 10:47] deimosfr commented on #127
Same for me, on Arch with Inconsolata

[2019-03-12 13:34] glepnir opened #333 "Monaco Nerd Font display is not normal"
## Environment
* mac os 10.13.6
## terminal
* iterm 2
##  Neovim
* neovim 0.3.4
## Problem
@ryanoasis  Hi your issue template is too complicated for me.Please allow me to break it.i use this [monaco nerd font](https://github.com/Karmenzind/monaco-nerd-fonts). Is its height abnormal? How to solve it？ like this pic
![13](https://user-images.githubusercontent.com/41671631/54203541-67361600-450d-11e9-

[2019-03-13 12:20] chrissimpkins commented on #332
[This VS Code IR post](https://github.com/Microsoft/vscode/issues/192#issuecomment-319999511) suggests that your settings are correct.

The only other related settings that I've come across are these https://github.com/Microsoft/vscode/pull/1510#issuecomment-166968687

[2019-03-13 20:04] brennanfee commented on #270
@villasenor I don't have a pending PR for this.  However, I can report that I have verified the fork and patch that @haasosaurus created and the fonts work on windows for the console and various editors.  @mg979  I was also able to verify that the fonts show up in gVim (on windows) when using :set guifont=*

[2019-03-14 06:03] ryanoasis commented on #270
Thanks @brennanfee and @mg979

[2019-03-14 06:04] ryanoasis commented on #333
Thanks for the report

[2019-03-15 07:59] taigacute commented on #333
@ryanoasis   thanks for your work

[2019-03-15 13:42] mainrs opened #334 "Problems patching impallari raleway"
__Font:__ ttf-impallari-raleway-family (aur)
__Terminal Emulator:__ kitty
__Actually component using font:__ i3blocks

I am currently trying to patch the Raleway font so I can use it for my i3blocks setup. It patches successfully but displays multiple errors while doing so. Some Glyphs are not patched at the correct code point. For example, using the mute icon from fontawesome gets displayed as a

[2019-03-16 14:56] FFY00 opened #335 "Request: CamingoCode"
#### 🎯 Subject of the issue

I would like to know if it would be possible to add CamingoCode and make it powerline compatible :grin:, thank you.

[2019-03-16 14:58] #335 closed

[2019-03-16 15:14] ryanoasis commented on #335
Thanks for the request though! Interesting license: Creative Commons Attribution-No Derivative Works v3.00

[2019-03-16 15:18] FFY00 commented on #335
Yeah, it's a shame we can make any derivation :confused:.

[2019-03-16 20:29] technofantods commented on #332
Hey Thanks... at least my settings are correct.

I will try to setup Hack with Sublime Text, VIM & Hyper and see how that all works out... I appreciate the help very much.

Thank you!
B

[2019-03-18 08:58] FFY00 opened #336 "Font loses boldness on patching"
#### 🎯 Subject of the issue

When I patch CamingoCode it loses the slight bold it has.

- Before
![camingocode-before](https://user-images.githubusercontent.com/11718923/54518298-d5d70180-495b-11e9-96b9-038ebc5e9130.png)

- After
![camingocode-after](https://user-images.githubusercontent.com/11718923/54518313-da031f00-495b-11e9-9ee6-2d93e641ef31.png)

#### 🔧 Your Setup

- Which font are you using

[2019-03-18 11:55] FFY00 commented on #336
I just remembered this might be the antialiasing working but it's strange it doesn't get triggered when the font is added. When I get home I'll confirm this.

[2019-03-18 17:08] ctaylo21 opened #337 "FuraCode font incorrectly formatting JavaScript spread operator `...` to `?.`"
#### 🎯 FuraCode font incorrectly formatting JavaScript spread operator `...` to `?.`

The normal Fira code font will correctly format the `spread` operator in JS:
![image](https://user-images.githubusercontent.com/1427469/54548636-8f86a000-4965-11e9-8f81-6884c03be741.png)

This is what it looks like in the patched font:

![image](https://user-images.githubusercontent.com/1427469/54548589-7847b280-